<img src="img/dsci513_header2.png" width="600">

# Lab 3: Subqueries, window functions, CTEs

Total out of 29 marks.

## Instructions
---
rubric={mechanics:2}

- Follow the [general lab instructions](https://ubc-mds.github.io/resources_pages/general_lab_instructions/)

- You submit 3 files to Gradescope (***upload it separately, not as a zip file, or folder***)
    - Fully rendered ipynb notebook, 
    - HTML of the fully rendered ipynb notebook
    - PDF of the fully rendered ipynb notebook

- We don't have challenging questions in this lab.
- Add a link to your GitHub repository here:

> NOTE: There is no autograding for any of our labs. So, the idea of Gradescope is just to upload the 3 files listed above. You just need to make sure that it is uploaded. You must upload 3 files individually to Gradescope (not in a folder or a zipped folder).

## Getting set up
---

In [2]:
%load_ext sql
%config SqlMagic.displaylimit = 50

import json
import urllib.parse

with open('data/credentials.json') as f:
    login = json.load(f)
    
username = login['user']
password = urllib.parse.quote(login['password'])
host = login['host']
port = login['port']

In [3]:
username

'postgres'

In [4]:
%sql postgresql://{username}:{password}@{host}:{port}/world

## Exercise 1: Simple subqueries
---

### 1.1

rubric={accuracy:2}

Suppose that we are interested in computing how far the life expectancy of each country in the `country` table is from its average value for all countries in the world. This can be expressed as `lifeexpectancy` $-$ `AVG(lifeexpectancy)`.

Write a query that lists country names and their life expectancy deviation from the world average.

- Eliminate rows with null values
- Sort your results in ascending order by the values in the life expectancy deviation column
- Round the values in the life expectancy deviation column to 1 decimal digit.

# BEGIN QUESTION
name: q1_1

# BEGIN SOLUTION

In [5]:
%%sql

SELECT
    name,
    ROUND((lifeexpectancy - (SELECT AVG(lifeexpectancy) FROM country))::NUMERIC, 1)
        AS "dev from AVG [years]"
FROM
    country
WHERE
    lifeexpectancy IS NOT NULL
ORDER BY
    "dev from AVG [years]"
;

 * postgresql://postgres:***@localhost:5432/world
222 rows affected.

[('Zambia', Decimal('-29.3')),
 ('Mozambique', Decimal('-29.0')),
 ('Malawi', Decimal('-28.9')),
 ('Zimbabwe', Decimal('-28.7')),
 ('Angola', Decimal('-28.2')),
 ('Botswana', Decimal('-27.2')),
 ('Rwanda', Decimal('-27.2')),
 ('Swaziland', Decimal('-26.1')),
 ('Niger', Decimal('-25.2')),
 ('Namibia', Decimal('-24.0')),
 ('Uganda', Decimal('-23.6')),
 ('Central African Republic', Decimal('-22.5')),
 ('Côte d\x92Ivoire', Decimal('-21.3')),
 ('Ethiopia', Decimal('-21.3')),
 ('Sierra Leone', Decimal('-21.2')),
 ('Guinea', Decimal('-20.9')),
 ('Afghanistan', Decimal('-20.6')),
 ('East Timor', Decimal('-20.5')),
 ('Somalia', Decimal('-20.3')),
 ('Burundi', Decimal('-20.3')),
 ('Burkina Faso', Decimal('-19.8')),
 ('Mali', Decimal('-19.8')),
 ('Congo', Decimal('-19.1')),
 ('Kenya', Decimal('-18.5')),
 ('Congo, The Democratic Republic of the', Decimal('-17.7')),
 ('Guinea-Bissau', Decimal('-17.5')),
 ('Haiti', Decimal('-17.3')),
 ('Western Sahara', Decimal('-16.7')),
 ('Gabon', Decimal('-16.4')),
 ('Benin', Decimal('-16.3')),
 ('Chad', Decimal('-16.0')),
 ('Mauritania', Decimal('-15.7')),
 ('Lesotho', Decimal('-15.7')),
 ('Djibouti', Decimal('-15.7')),
 ('Liberia', Decimal('-15.5')),
 ('South Africa', Decimal('-15.4')),
 ('Nigeria', Decimal('-14.9')),
 ('Tanzania', Decimal('-14.2')),
 ('Bhutan', Decimal('-14.1')),
 ('Laos', Decimal('-13.4')),
 ('Gambia', Decimal('-13.3')),
 ('Equatorial Guinea', Decimal('-12.9')),
 ('Togo', Decimal('-11.8')),
 ('Cameroon', Decimal('-11.7')),
 ('Myanmar', Decimal('-11.6')),
 ('Madagascar', Decimal('-11.5')),
 ('Eritrea', Decimal('-10.7')),
 ('Cambodia', Decimal('-10.0')),
 ('Sudan', Decimal('-9.9')),
 ('Ghana', Decimal('-9.1')),
 ('Nepal', Decimal('-8.7')),
 ('Mayotte', Decimal('-7.0')),
 ('Kiribati', Decimal('-6.7')),
 ('Yemen', Decimal('-6.7')),
 ('Comoros', Decimal('-6.5')),
 ('Bangladesh', Decimal('-6.3')),
 ('Vanuatu', Decimal('-5.9')),
 ('Nauru', Decimal('-5.7')),
 ('Turkmenistan', Decimal('-5.6')),
 ('Pakistan', Decimal('-5.4')),
 ('Maldives', Decimal('-4.3')),
 ('Senegal', Decimal('-4.3')),
 ('India', Decimal('-4.0')),
 ('Azerbaijan', Decimal('-3.6')),
 ('Brazil', Decimal('-3.6')),
 ('Papua New Guinea', Decimal('-3.4')),
 ('Kazakstan', Decimal('-3.3')),
 ('Egypt', Decimal('-3.2')),
 ('Kyrgyzstan', Decimal('-3.1')),
 ('Bolivia', Decimal('-2.8')),
 ('Uzbekistan', Decimal('-2.8')),
 ('Guyana', Decimal('-2.5')),
 ('Tajikistan', Decimal('-2.4')),
 ('Grenada', Decimal('-2.0')),
 ('Moldova', Decimal('-2.0')),
 ('Georgia', Decimal('-2.0')),
 ('Sao Tome and Principe', Decimal('-1.2')),
 ('Marshall Islands', Decimal('-1.0')),
 ('Ukraine', Decimal('-0.5')),
 ('Guatemala', Decimal('-0.3')),
 ('Tuvalu', Decimal('-0.2')),
 ('Armenia', Decimal('-0.1')),
 ('Iraq', Decimal('0.0')),
 ('Russian Federation', Decimal('0.7')),
 ('Mongolia', Decimal('0.8')),
 ('Philippines', Decimal('1.0')),
 ('Saudi Arabia', Decimal('1.3')),
 ('Tonga', Decimal('1.4')),
 ('Fiji Islands', Decimal('1.4')),
 ('Trinidad and Tobago', Decimal('1.5')),
 ('Indonesia', Decimal('1.5')),
 ('Belarus', Decimal('1.5')),
 ('Greenland', Decimal('1.6')),
 ('Latvia', Decimal('1.9')),
 ('Syria', Decimal('2.0')),
 ('Palau', Decimal('2.1')),
 ('Micronesia, Federated States of', Decimal('2.1')),
 ('Thailand', Decimal('2.1')),
 ('Nicaragua', Decimal('2.2')),
 ('Cape Verde', Decimal('2.4')),
 ('Morocco', Decimal('2.6')),
 ('Lithuania', Decimal('2.6')),
 ('Samoa', Decimal('2.7')),
 ('Vietnam', Decimal('2.8')),
 ('Estonia', Decimal('3.0')),
 ('Algeria', Decimal('3.2')),
 ('El Salvador', Decimal('3.2')),
 ('Iran', Decimal('3.2')),
 ('Romania', Decimal('3.4')),
 ('Honduras', Decimal('3.4')),
 ('Peru', Decimal('3.5')),
 ('Colombia', Decimal('3.8')),
 ('Seychelles', Decimal('3.9')),
 ('Antigua and Barbuda', Decimal('4.0')),
 ('North Korea', Decimal('4.2')),
 ('Saint Kitts and Nevis', Decimal('4.2')),
 ('Malaysia', Decimal('4.3')),
 ('Bulgaria', Decimal('4.4')),
 ('Belize', Decimal('4.4')),
 ('Turkey', Decimal('4.5')),
 ('Mauritius', Decimal('4.5')),
 ('Cook Islands', Decimal('4.6')),
 ('Ecuador', Decimal('4.6')),
 ('Bahamas', Decimal('4.6')),
 ('Lebanon', Decimal('4.8')),
 ('Solomon Islands', Decimal('4.8')),
 ('Palestine', Decimal('4.9')),
 ('Suriname', Decimal('4.9')),
 ('Hungary', Decimal('4.9')),
 ('China', Decimal('4.9')),
 ('Mexico', Decimal('5.0')),
 ('Bosnia and Herzegovina', Decimal('5.0')),
 ('Albania', Decimal('5.1')),
 ('Oman', Decimal('5.3')),
 ('Sri Lanka', Decimal('5.3')),
 ('Saint Vincent and the Grenadines', Decimal('5.8')),
 ('Saint Lucia', Decimal('5.8')),
 ('Yugoslavia', Decimal('5.9')),
 ('Qatar', Decimal('5.9')),
 ('Réunion', Decimal('6.2')),
 ('New Caledonia', Decimal('6.3')),
 ('Barbados', Decimal('6.5')),
 ('Bahrain', Decimal('6.5')),
 ('Venezuela', Decimal('6.6')),
 ('Poland', Decimal('6.7')),
 ('Dominican Republic', Decimal('6.7')),
 ('Turks and Caicos Islands', Decimal('6.8')),
 ('Dominica', Decimal('6.9')),
 ('Brunei', Decimal('7.1')),
 ('Tunisia', Decimal('7.2')),
 ('Croatia', Decimal('7.2')),
 ('Paraguay', Decimal('7.2')),
 ('Slovakia', Decimal('7.2')),
 ('Macedonia', Decimal('7.3')),
 ('United Arab Emirates', Decimal('7.6')),
 ('South Korea', Decimal('7.9')),
 ('Czech Republic', Decimal('8.0')),
 ('Netherlands Antilles', Decimal('8.2')),
 ('French Polynesia', Decimal('8.3')),
 ('Slovenia', Decimal('8.4')),
 ('American Samoa', Decimal('8.6')),
 ('Argentina', Decimal('8.6')),
 ('Uruguay', Decimal('8.7')),
 ('Jamaica', Decimal('8.7')),
 ('Virgin Islands, British', Decimal('8.9')),
 ('Panama', Decimal('9.0')),
 ('Libyan Arab Jamahiriya', Decimal('9.0')),
 ('Northern Mariana Islands', Decimal('9.0')),
 ('Puerto Rico', Decimal('9.1')),
 ('Chile', Decimal('9.2')),
 ('Portugal', Decimal('9.3')),
 ('Costa Rica', Decimal('9.3')),
 ('Anguilla', Decimal('9.6')),
 ('French Guiana', Decimal('9.6')),
 ('Kuwait', Decimal('9.6')),
 ('Cuba', Decimal('9.7')),
 ('Taiwan', Decimal('9.9')),
 ('Denmark', Decimal('10.0')),
 ('Cyprus', Decimal('10.2')),
 ('Ireland', Decimal('10.3')),
 ('Saint Helena', Decimal('10.3')),
 ('Bermuda', Decimal('10.4')),
 ('Guadeloupe', Decimal('10.5')),
 ('United States', Decimal('10.6')),
 ('Luxembourg', Decimal('10.6')),
 ('Germany', Decimal('10.9')),
 ('Finland', Decimal('10.9')),
 ('Jordan', Decimal('10.9')),
 ('Saint Pierre and Miquelon', Decimal('11.1')),
 ('Austria', Decimal('11.2')),
 ('United Kingdom', Decimal('11.2')),
 ('New Zealand', Decimal('11.3')),
 ('Guam', Decimal('11.3')),
 ('Belgium', Decimal('11.3')),
 ('Malta', Decimal('11.4')),
 ('Montserrat', Decimal('11.5')),
 ('Virgin Islands, U.S.', Decimal('11.6')),
 ('Martinique', Decimal('11.8')),
 ('Netherlands', Decimal('11.8')),
 ('Greece', Decimal('11.9')),
 ('Faroe Islands', Decimal('11.9')),
 ('Aruba', Decimal('11.9')),
 ('Israel', Decimal('12.1')),
 ('Norway', Decimal('12.2')),
 ('Spain', Decimal('12.3')),
 ('Monaco', Decimal('12.3')),
 ('France', Decimal('12.3')),
 ('Liechtenstein', Decimal('12.3')),
 ('Cayman Islands', Decimal('12.4')),
 ('Gibraltar', Decimal('12.5')),
 ('Italy', Decimal('12.5')),
 ('Canada', Decimal('12.9')),
 ('Iceland', Decimal('12.9')),
 ('Hong Kong', Decimal('13.0')),
 ('Switzerland', Decimal('13.1')),
 ('Sweden', Decimal('13.1')),
 ('Australia', Decimal('13.3')),
 ('Singapore', Decimal('13.6')),
 ('Japan', Decimal('14.2')),
 ('San Marino', Decimal('14.6')),
 ('Macao', Decimal('15.1')),
 ('Andorra', Decimal('17.0'))]

# END SOLUTION

# END QUESTION

### 1.2

rubric={reasoning:1}

Explain why you can't write a query for Exercise [1.1](#1.1) without using a subquery.

# BEGIN QUESTION
name: q1_2

# BEGIN SOLUTION

Aggregation functions (e.g. `AVG()` in Exercise [1.1](#1.1)) can't be used alongside non-aggregated columns unless they appear in a `GROUP BY` clause. After an aggregation function is used, we lose access to individual row information. Therefore, it would be impossible to compare the life expectancy of **each** country to the aggregated average value.

# END SOLUTION

# END QUESTION

### 1.3

rubric={accuracy:2}

Use your query in Exercise [1.1](#1.1) to return the same columns, but modify it such that only countries are returned whose population density (i.e. `population / surfacearea`) is greater than the world average.

On average, do the countries returned by your query have lower or higher life expectancy, compared to the world average? (No computation needed, just look at the results to find out).

# BEGIN QUESTION
name: q1_3

# BEGIN SOLUTION

In [6]:
%%sql

SELECT
    name,
    ROUND((lifeexpectancy - (SELECT AVG(lifeexpectancy) FROM country))::NUMERIC, 1)
        AS "dev from AVG [years]"
FROM
    country
WHERE
    population / surfacearea > (
        SELECT
            AVG(population / surfacearea)
        FROM
            country
    )
    AND
    lifeexpectancy IS NOT NULL
ORDER BY
    "dev from AVG [years]"
;

 * postgresql://postgres:***@localhost:5432/world
20 rows affected.

[('Bangladesh', Decimal('-6.3')),
 ('Nauru', Decimal('-5.7')),
 ('Maldives', Decimal('-4.3')),
 ('Tuvalu', Decimal('-0.2')),
 ('Mauritius', Decimal('4.5')),
 ('Palestine', Decimal('4.9')),
 ('Barbados', Decimal('6.5')),
 ('Bahrain', Decimal('6.5')),
 ('South Korea', Decimal('7.9')),
 ('Puerto Rico', Decimal('9.1')),
 ('Taiwan', Decimal('9.9')),
 ('Bermuda', Decimal('10.4')),
 ('Malta', Decimal('11.4')),
 ('Aruba', Decimal('11.9')),
 ('Monaco', Decimal('12.3')),
 ('Gibraltar', Decimal('12.5')),
 ('Hong Kong', Decimal('13.0')),
 ('Singapore', Decimal('13.6')),
 ('San Marino', Decimal('14.6')),
 ('Macao', Decimal('15.1'))]

Countries whose population density is greater than the world average appear to have higher-than-average life expectancy in general.

# END SOLUTION

# END QUESTION

### 1.4

rubric={accuracy:2}

Write a query that lists all continents and the number of countries in each continent that have a life expectancy greater than 77 years. If there are no countries in a continent that satisfy this condition, the value of the second column should be null.

Your result should look like this if ordered alphabetically by continent:

<img src="img/1_4.png" width="170">

> **Hint:** The result of a subquery is also a table that you can use in a join operation.

# BEGIN QUESTION
name: q1_4

# BEGIN SOLUTION

In [7]:
%%sql

SELECT
    DISTINCT c.continent, subq.count
FROM
    country AS c
LEFT JOIN
    (
    SELECT
        continent, COUNT(*) AS count
    FROM
        country
    WHERE
        lifeexpectancy > 77
    GROUP BY
        continent
    ) AS subq
ON
    c.continent = subq.continent
ORDER BY
    continent
;

 * postgresql://postgres:***@localhost:5432/world
7 rows affected.

[('Africa', None),
 ('Antarctica', None),
 ('Asia', 6),
 ('Europe', 22),
 ('North America', 8),
 ('Oceania', 3),
 ('South America', None)]

# END SOLUTION

# END QUESTION

### 1.5

rubric={accuracy:2}

Retrieve the names of non-European countries in the world where one or more of the official European languages are spoken (either officially or non-officially). Make sure to remove duplicate country names from your results, and sort the rows by country name in descending order.

For this query, I have provided some starter code for you:

# BEGIN QUESTION
name: q1_5

# BEGIN SOLUTION

2 solutions below; Both are acceptable.

In [35]:
%%sql

SELECT
    DISTINCT c.name
FROM
    country c
JOIN
    countrylanguage cl
ON
    c.code = cl.countrycode
WHERE
    c.continent <> 'Europe'
    AND
    cl.language ~ ANY (
        SELECT
            cl2.language
        FROM
            country c2
        JOIN
            countrylanguage cl2
        ON
            c2.code = cl2.countrycode
        WHERE
            c2.continent = 'Europe'
            AND
            cl2.isofficial = TRUE
    )
ORDER BY
    c.name DESC

 * postgresql://postgres:***@localhost:5432/world
107 rows affected.

[('Zimbabwe',),
 ('Virgin Islands, U.S.',),
 ('Virgin Islands, British',),
 ('Venezuela',),
 ('Vanuatu',),
 ('Uzbekistan',),
 ('Uruguay',),
 ('United States Minor Outlying Islands',),
 ('United States',),
 ('Tuvalu',),
 ('Turks and Caicos Islands',),
 ('Turkmenistan',),
 ('Tunisia',),
 ('Trinidad and Tobago',),
 ('Tonga',),
 ('Tokelau',),
 ('Tajikistan',),
 ('South Africa',),
 ('Seychelles',),
 ('Sao Tome and Principe',),
 ('Samoa',),
 ('Saint Vincent and the Grenadines',),
 ('Saint Pierre and Miquelon',),
 ('Saint Lucia',),
 ('Saint Kitts and Nevis',),
 ('Saint Helena',),
 ('Réunion',),
 ('Rwanda',),
 ('Puerto Rico',),
 ('Peru',),
 ('Paraguay',),
 ('Panama',),
 ('Palau',),
 ('Northern Mariana Islands',),
 ('Norfolk Island',),
 ('Niue',),
 ('Nicaragua',),
 ('New Zealand',),
 ('New Caledonia',),
 ('Netherlands Antilles',),
 ('Nauru',),
 ('Namibia',),
 ('Montserrat',),
 ('Mexico',),
 ('Mayotte',),
 ('Mauritius',),
 ('Martinique',),
 ('Marshall Islands',),
 ('Maldives',),
 ('Malaysia',),
 ('Madagascar',),
 ('Macao',),
 ('Lesotho',),
 ('Lebanon',),
 ('Kyrgyzstan',),
 ('Kuwait',),
 ('Kazakstan',),
 ('Japan',),
 ('Jamaica',),
 ('Israel',),
 ('Hong Kong',),
 ('Honduras',),
 ('Haiti',),
 ('Guyana',),
 ('Guinea-Bissau',),
 ('Guatemala',),
 ('Guam',),
 ('Guadeloupe',),
 ('Grenada',),
 ('Greenland',),
 ('Georgia',),
 ('French Polynesia',),
 ('French Guiana',),
 ('Falkland Islands',),
 ('El Salvador',),
 ('Ecuador',),
 ('East Timor',),
 ('Dominican Republic',),
 ('Dominica',),
 ('Cyprus',),
 ('Cuba',),
 ('Costa Rica',),
 ('Cook Islands',),
 ('Comoros',),
 ('Colombia',),
 ('Cocos (Keeling) Islands',),
 ('Christmas Island',),
 ('Chile',),
 ('Cayman Islands',),
 ('Cape Verde',),
 ('Canada',),
 ('Burundi',),
 ('Brunei',),
 ('Brazil',),
 ('Bolivia',),
 ('Bermuda',),
 ('Belize',),
 ('Barbados',),
 ('Bahrain',),
 ('Bahamas',),
 ('Azerbaijan',),
 ('Australia',),
 ('Aruba',),
 ('Argentina',),
 ('Antigua and Barbuda',),
 ('Anguilla',),
 ('American Samoa',)]

In [37]:
%%sql

SELECT
    DISTINCT c.name
FROM
    country c
JOIN
    countrylanguage cl
ON
    c.code = cl.countrycode
WHERE
    c.continent <> 'Europe'
    AND
    cl.language IN (
        SELECT
            cl2.language
        FROM
            country c2
        JOIN
            countrylanguage cl2
        ON
            c2.code = cl2.countrycode
        WHERE
            c2.continent = 'Europe'
            AND
            cl2.isofficial = TRUE
    )
ORDER BY
    c.name DESC

 * postgresql://postgres:***@localhost:5432/world
98 rows affected.

[('Zimbabwe',),
 ('Virgin Islands, U.S.',),
 ('Virgin Islands, British',),
 ('Venezuela',),
 ('Vanuatu',),
 ('Uzbekistan',),
 ('Uruguay',),
 ('United States Minor Outlying Islands',),
 ('United States',),
 ('Tuvalu',),
 ('Turks and Caicos Islands',),
 ('Turkmenistan',),
 ('Trinidad and Tobago',),
 ('Tonga',),
 ('Tokelau',),
 ('Tajikistan',),
 ('South Africa',),
 ('Seychelles',),
 ('Sao Tome and Principe',),
 ('Samoa',),
 ('Saint Vincent and the Grenadines',),
 ('Saint Pierre and Miquelon',),
 ('Saint Lucia',),
 ('Saint Kitts and Nevis',),
 ('Saint Helena',),
 ('Rwanda',),
 ('Puerto Rico',),
 ('Peru',),
 ('Paraguay',),
 ('Panama',),
 ('Palau',),
 ('Northern Mariana Islands',),
 ('Norfolk Island',),
 ('Niue',),
 ('Nicaragua',),
 ('New Zealand',),
 ('New Caledonia',),
 ('Netherlands Antilles',),
 ('Nauru',),
 ('Namibia',),
 ('Montserrat',),
 ('Mexico',),
 ('Mayotte',),
 ('Mauritius',),
 ('Martinique',),
 ('Marshall Islands',),
 ('Maldives',),
 ('Malaysia',),
 ('Madagascar',),
 ('Macao',),
 ('Lesotho',),
 ('Lebanon',),
 ('Kyrgyzstan',),
 ('Kuwait',),
 ('Kazakstan',),
 ('Japan',),
 ('Israel',),
 ('Hong Kong',),
 ('Honduras',),
 ('Haiti',),
 ('Guinea-Bissau',),
 ('Guatemala',),
 ('Guam',),
 ('Guadeloupe',),
 ('Greenland',),
 ('Georgia',),
 ('French Polynesia',),
 ('Falkland Islands',),
 ('El Salvador',),
 ('Ecuador',),
 ('East Timor',),
 ('Dominican Republic',),
 ('Cyprus',),
 ('Cuba',),
 ('Costa Rica',),
 ('Cook Islands',),
 ('Colombia',),
 ('Cocos (Keeling) Islands',),
 ('Christmas Island',),
 ('Chile',),
 ('Cayman Islands',),
 ('Cape Verde',),
 ('Canada',),
 ('Burundi',),
 ('Brunei',),
 ('Brazil',),
 ('Bolivia',),
 ('Bermuda',),
 ('Belize',),
 ('Barbados',),
 ('Bahrain',),
 ('Azerbaijan',),
 ('Australia',),
 ('Aruba',),
 ('Argentina',),
 ('Antigua and Barbuda',),
 ('Anguilla',),
 ('American Samoa',)]

# END SOLUTION

# END QUESTION

### 1.6

rubric={accuracy:2}

Rewrite the following query using a subquery instead of a join:

```sql
SELECT
    c.name
FROM
    country c
JOIN
    city ci
ON
    c.capital = ci.id
WHERE
    ci.population > 5000000
;
```

# BEGIN QUESTION
name: q1_6

# BEGIN SOLUTION

In [17]:
%%sql

SELECT
    name
FROM
    country
WHERE
    capital = ANY (
        SELECT
            id
        FROM
            city
        WHERE
            population > 5000000
    )
;

 * postgresql://postgres:***@localhost:5432/world
13 rows affected.

[('United Kingdom',),
 ('Egypt',),
 ('Indonesia',),
 ('Iran',),
 ('Japan',),
 ('China',),
 ('Colombia',),
 ('Congo, The Democratic Republic of the',),
 ('South Korea',),
 ('Mexico',),
 ('Peru',),
 ('Thailand',),
 ('Russian Federation',)]

# END SOLUTION

# END QUESTION

### 1.7

rubric={accuracy:2}

Which countries in the world are vast enough that all western European and Nordic countries could fit within them?

# BEGIN QUESTION
name: q1_7

# BEGIN SOLUTION

In [19]:
%%sql

SELECT
    name
FROM
    country
WHERE
    surfacearea >= (
        SELECT
            SUM(surfacearea)
        FROM
            country
        WHERE
            region ILIKE 'western europe' OR region ILIKE 'nordic countries'
        
    )

 * postgresql://postgres:***@localhost:5432/world
11 rows affected.

[('Argentina',),
 ('Australia',),
 ('Brazil',),
 ('India',),
 ('Canada',),
 ('Kazakstan',),
 ('China',),
 ('Sudan',),
 ('Russian Federation',),
 ('United States',),
 ('Antarctica',)]

Alternate solution

In [18]:
%%sql

SELECT
    name
FROM
    country
WHERE
    surfacearea >= (
        SELECT
            SUM(surfacearea)
        FROM
            country
        WHERE
            region ~ '(?i)western europe|nordic countries'
        
    )

 * postgresql://postgres:***@localhost:5432/world
11 rows affected.

[('Argentina',),
 ('Australia',),
 ('Brazil',),
 ('India',),
 ('Canada',),
 ('Kazakstan',),
 ('China',),
 ('Sudan',),
 ('Russian Federation',),
 ('United States',),
 ('Antarctica',)]

# END SOLUTION

# END QUESTION

## Exercise 2: Correlated subqueries
---

### 2.1

rubric={accuracy:3}

Find the number of countries in each continent whose life expectancy is greater than the average value for their respective continent.

> **Hint:** The `lifeexpectancy` column contains a bunch of nulls. Be careful with your counting!

> "Antarctica" won't be there in the final result.

# BEGIN QUESTION
name: q2_1

# BEGIN SOLUTION

In [12]:
%%sql

SELECT
    c1.continent, COUNT(c1.lifeexpectancy)
FROM
    country c1
WHERE
    lifeexpectancy > (
        SELECT
            AVG(c2.lifeexpectancy)
        FROM
            country c2
        WHERE
            c2.continent = c1.continent
    )
GROUP BY
    continent
;

 * postgresql://postgres:***@localhost:5432/world
6 rows affected.

[('Africa', 22),
 ('Asia', 29),
 ('Europe', 25),
 ('North America', 22),
 ('Oceania', 9),
 ('South America', 8)]

# END SOLUTION

# END QUESTION

### 2.2

rubric={accuracy:2}

The results of your query for the previous question may not be very informative on first look, because absolute counts do not reveal much unless we can relate them to the total number of countries in each continent.

Borrow your query from Exercise [2.1](#2.2) and modify it such that it shows the ratio of the number of countries in each continent whose life expectancy is greater than their continent-average values, to the total number of countries in each continent. Round your ratio values to 2 decimal digits.

> **Hint:** Again, be careful with your counting, since `lifeexpectancy` column contains a bunch of nulls, and we don't want to include NULLS.

> **Hint:** That's right, you need to add one more subquery somewhere in your previous query!

# BEGIN QUESTION
name: q2_2

# BEGIN SOLUTION

In [13]:
%%sql

SELECT
    c1.continent,
    ROUND(
        COUNT(c1.lifeexpectancy) / (
            SELECT
                COUNT(c2.lifeexpectancy)
            FROM
                country c2
            WHERE
                c2.continent = c1.continent
        )::NUMERIC, 2)
FROM
    country c1
WHERE
    lifeexpectancy > (
        SELECT
            AVG(c2.lifeexpectancy)
        FROM
            country c2
        WHERE
            c2.continent = c1.continent
    )
GROUP BY
    c1.continent
;

 * postgresql://postgres:***@localhost:5432/world
6 rows affected.

[('Africa', Decimal('0.39')),
 ('Asia', Decimal('0.57')),
 ('Europe', Decimal('0.57')),
 ('North America', Decimal('0.59')),
 ('Oceania', Decimal('0.45')),
 ('South America', Decimal('0.62'))]

# END SOLUTION

# END QUESTION

### 2.3

rubric={reasoning:2}

Consider this question:

In which European countries English is **not** spoken at all (i.e. not listed in the `countrylanguage` table)?

I have written the following SQL query to answer the above question:

```sql
SELECT
    DISTINCT c.name
FROM
    country c
JOIN
    countrylanguage cl
ON
    c.code = cl.countrycode
WHERE
    NOT cl.language ILIKE 'english'
    AND
    c.continent ILIKE 'europe'
;
```

However, when I run the above query I can find "United Kingdom" listed in the results, which is clearly incorrect. Can you tell me why I'm getting wrong results?

# BEGIN QUESTION
name: q2_3

# BEGIN SOLUTION

In [21]:
%%sql

SELECT
    DISTINCT c.name
FROM
    country c
JOIN
    countrylanguage cl
ON
    c.code = cl.countrycode
WHERE
    NOT cl.language ILIKE 'english'
    AND
    c.continent ILIKE 'europe'
;

 * postgresql://postgres:***@localhost:5432/world
46 rows affected.

[('Switzerland',),
 ('Faroe Islands',),
 ('Italy',),
 ('Hungary',),
 ('Luxembourg',),
 ('Czech Republic',),
 ('Sweden',),
 ('Norway',),
 ('Belarus',),
 ('United Kingdom',),
 ('Russian Federation',),
 ('Netherlands',),
 ('Romania',),
 ('Austria',),
 ('Ireland',),
 ('Germany',),
 ('Macedonia',),
 ('San Marino',),
 ('Finland',),
 ('Portugal',),
 ('Malta',),
 ('Svalbard and Jan Mayen',),
 ('Albania',),
 ('Ukraine',),
 ('Lithuania',),
 ('Spain',),
 ('Bulgaria',),
 ('Liechtenstein',),
 ('Croatia',),
 ('Latvia',),
 ('Holy See (Vatican City State)',),
 ('Slovenia',),
 ('Greece',),
 ('Belgium',),
 ('Moldova',),
 ('France',),
 ('Estonia',),
 ('Slovakia',),
 ('Monaco',),
 ('Poland',),
 ('Iceland',),
 ('Yugoslavia',),
 ('Denmark',),
 ('Bosnia and Herzegovina',),
 ('Gibraltar',),
 ('Andorra',)]

Take "United Kingdom" as the example of a country where English is spoken, so we want it removed from the outputs. The main confusion here results from the fact that after the join operation, the single row pertaining to "United Kingdom" of the `country` table gets repeated multiple times for each language in the `language` table that is listed for "United Kingdom". As a result, when the `WHERE` clause removes rows where `cl.language` contains the word `English` in some form, other rows for the same country will still continue to exists. Therefore, this is not the right way to find countries where English is not spoken at all.

# END SOLUTION

# END QUESTION

### 2.4

rubric={accuracy:2}

Alright, let's figure out how to correctly answer the following question from Exercise [2.3](#2.3):

In which European countries English is **not** spoken at all (i.e. not listed in the `countrylanguage` table)?

**Note:** There's more than one way to answer the above question using a query. Here, I want you to use a correlated subquery.

# BEGIN QUESTION
name: q2_4

# BEGIN SOLUTION

In [22]:
%%sql

SELECT
    c.name
FROM
    country c
WHERE
    continent ILIKE 'Europe'
    AND
    NOT EXISTS (
        SELECT
            *
        FROM
            countrylanguage cl
        WHERE
            cl.countrycode = c.code
            AND
            cl.language ILIKE 'english'
    )

 * postgresql://postgres:***@localhost:5432/world
38 rows affected.

[('Switzerland',),
 ('France',),
 ('Luxembourg',),
 ('Czech Republic',),
 ('Holy See (Vatican City State)',),
 ('Moldova',),
 ('Ukraine',),
 ('Faroe Islands',),
 ('Svalbard and Jan Mayen',),
 ('Andorra',),
 ('Liechtenstein',),
 ('Croatia',),
 ('Netherlands',),
 ('Hungary',),
 ('Portugal',),
 ('Greece',),
 ('Belarus',),
 ('Lithuania',),
 ('Spain',),
 ('Bosnia and Herzegovina',),
 ('Germany',),
 ('Bulgaria',),
 ('Austria',),
 ('Latvia',),
 ('Italy',),
 ('Romania',),
 ('Macedonia',),
 ('Estonia',),
 ('Poland',),
 ('Russian Federation',),
 ('Finland',),
 ('San Marino',),
 ('Slovakia',),
 ('Slovenia',),
 ('Albania',),
 ('Belgium',),
 ('Yugoslavia',),
 ('Sweden',)]

# END SOLUTION

# END QUESTION

## Exercise 3: Window functions and CTEs
---

### 3.1

rubric={accuracy:1}

Rewrite the query that you've written for Exercise [1.1](#1.1) using window functions this time.

# BEGIN QUESTION
name: q3_1

# BEGIN SOLUTION

In [17]:
%%sql

SELECT
    name,
    ROUND(
        (lifeexpectancy - AVG(lifeexpectancy) OVER ())::NUMERIC, 1)
            AS "dev from AVG [years]"
FROM
    country
WHERE
    lifeexpectancy IS NOT NULL
ORDER BY
    "dev from AVG [years]"
;

 * postgresql://postgres:***@localhost:5432/world
222 rows affected.

[('Zambia', Decimal('-29.3')),
 ('Mozambique', Decimal('-29.0')),
 ('Malawi', Decimal('-28.9')),
 ('Zimbabwe', Decimal('-28.7')),
 ('Angola', Decimal('-28.2')),
 ('Botswana', Decimal('-27.2')),
 ('Rwanda', Decimal('-27.2')),
 ('Swaziland', Decimal('-26.1')),
 ('Niger', Decimal('-25.2')),
 ('Namibia', Decimal('-24.0')),
 ('Uganda', Decimal('-23.6')),
 ('Central African Republic', Decimal('-22.5')),
 ('Côte d\x92Ivoire', Decimal('-21.3')),
 ('Ethiopia', Decimal('-21.3')),
 ('Sierra Leone', Decimal('-21.2')),
 ('Guinea', Decimal('-20.9')),
 ('Afghanistan', Decimal('-20.6')),
 ('East Timor', Decimal('-20.5')),
 ('Somalia', Decimal('-20.3')),
 ('Burundi', Decimal('-20.3')),
 ('Burkina Faso', Decimal('-19.8')),
 ('Mali', Decimal('-19.8')),
 ('Congo', Decimal('-19.1')),
 ('Kenya', Decimal('-18.5')),
 ('Congo, The Democratic Republic of the', Decimal('-17.7')),
 ('Guinea-Bissau', Decimal('-17.5')),
 ('Haiti', Decimal('-17.3')),
 ('Western Sahara', Decimal('-16.7')),
 ('Gabon', Decimal('-16.4')),
 ('Benin', Decimal('-16.3')),
 ('Chad', Decimal('-16.0')),
 ('Mauritania', Decimal('-15.7')),
 ('Lesotho', Decimal('-15.7')),
 ('Djibouti', Decimal('-15.7')),
 ('Liberia', Decimal('-15.5')),
 ('South Africa', Decimal('-15.4')),
 ('Nigeria', Decimal('-14.9')),
 ('Tanzania', Decimal('-14.2')),
 ('Bhutan', Decimal('-14.1')),
 ('Laos', Decimal('-13.4')),
 ('Gambia', Decimal('-13.3')),
 ('Equatorial Guinea', Decimal('-12.9')),
 ('Togo', Decimal('-11.8')),
 ('Cameroon', Decimal('-11.7')),
 ('Myanmar', Decimal('-11.6')),
 ('Madagascar', Decimal('-11.5')),
 ('Eritrea', Decimal('-10.7')),
 ('Cambodia', Decimal('-10.0')),
 ('Sudan', Decimal('-9.9')),
 ('Ghana', Decimal('-9.1')),
 ('Nepal', Decimal('-8.7')),
 ('Mayotte', Decimal('-7.0')),
 ('Kiribati', Decimal('-6.7')),
 ('Yemen', Decimal('-6.7')),
 ('Comoros', Decimal('-6.5')),
 ('Bangladesh', Decimal('-6.3')),
 ('Vanuatu', Decimal('-5.9')),
 ('Nauru', Decimal('-5.7')),
 ('Turkmenistan', Decimal('-5.6')),
 ('Pakistan', Decimal('-5.4')),
 ('Maldives', Decimal('-4.3')),
 ('Senegal', Decimal('-4.3')),
 ('India', Decimal('-4.0')),
 ('Azerbaijan', Decimal('-3.6')),
 ('Brazil', Decimal('-3.6')),
 ('Papua New Guinea', Decimal('-3.4')),
 ('Kazakstan', Decimal('-3.3')),
 ('Egypt', Decimal('-3.2')),
 ('Kyrgyzstan', Decimal('-3.1')),
 ('Bolivia', Decimal('-2.8')),
 ('Uzbekistan', Decimal('-2.8')),
 ('Guyana', Decimal('-2.5')),
 ('Tajikistan', Decimal('-2.4')),
 ('Grenada', Decimal('-2.0')),
 ('Moldova', Decimal('-2.0')),
 ('Georgia', Decimal('-2.0')),
 ('Sao Tome and Principe', Decimal('-1.2')),
 ('Marshall Islands', Decimal('-1.0')),
 ('Ukraine', Decimal('-0.5')),
 ('Guatemala', Decimal('-0.3')),
 ('Tuvalu', Decimal('-0.2')),
 ('Armenia', Decimal('-0.1')),
 ('Iraq', Decimal('0.0')),
 ('Russian Federation', Decimal('0.7')),
 ('Mongolia', Decimal('0.8')),
 ('Philippines', Decimal('1.0')),
 ('Saudi Arabia', Decimal('1.3')),
 ('Tonga', Decimal('1.4')),
 ('Fiji Islands', Decimal('1.4')),
 ('Trinidad and Tobago', Decimal('1.5')),
 ('Indonesia', Decimal('1.5')),
 ('Belarus', Decimal('1.5')),
 ('Greenland', Decimal('1.6')),
 ('Latvia', Decimal('1.9')),
 ('Syria', Decimal('2.0')),
 ('Palau', Decimal('2.1')),
 ('Micronesia, Federated States of', Decimal('2.1')),
 ('Thailand', Decimal('2.1')),
 ('Nicaragua', Decimal('2.2')),
 ('Cape Verde', Decimal('2.4')),
 ('Morocco', Decimal('2.6')),
 ('Lithuania', Decimal('2.6')),
 ('Samoa', Decimal('2.7')),
 ('Vietnam', Decimal('2.8')),
 ('Estonia', Decimal('3.0')),
 ('Algeria', Decimal('3.2')),
 ('El Salvador', Decimal('3.2')),
 ('Iran', Decimal('3.2')),
 ('Romania', Decimal('3.4')),
 ('Honduras', Decimal('3.4')),
 ('Peru', Decimal('3.5')),
 ('Colombia', Decimal('3.8')),
 ('Seychelles', Decimal('3.9')),
 ('Antigua and Barbuda', Decimal('4.0')),
 ('North Korea', Decimal('4.2')),
 ('Saint Kitts and Nevis', Decimal('4.2')),
 ('Malaysia', Decimal('4.3')),
 ('Bulgaria', Decimal('4.4')),
 ('Belize', Decimal('4.4')),
 ('Turkey', Decimal('4.5')),
 ('Mauritius', Decimal('4.5')),
 ('Cook Islands', Decimal('4.6')),
 ('Ecuador', Decimal('4.6')),
 ('Bahamas', Decimal('4.6')),
 ('Lebanon', Decimal('4.8')),
 ('Solomon Islands', Decimal('4.8')),
 ('Palestine', Decimal('4.9')),
 ('Suriname', Decimal('4.9')),
 ('Hungary', Decimal('4.9')),
 ('China', Decimal('4.9')),
 ('Mexico', Decimal('5.0')),
 ('Bosnia and Herzegovina', Decimal('5.0')),
 ('Albania', Decimal('5.1')),
 ('Oman', Decimal('5.3')),
 ('Sri Lanka', Decimal('5.3')),
 ('Saint Vincent and the Grenadines', Decimal('5.8')),
 ('Saint Lucia', Decimal('5.8')),
 ('Yugoslavia', Decimal('5.9')),
 ('Qatar', Decimal('5.9')),
 ('Réunion', Decimal('6.2')),
 ('New Caledonia', Decimal('6.3')),
 ('Barbados', Decimal('6.5')),
 ('Bahrain', Decimal('6.5')),
 ('Venezuela', Decimal('6.6')),
 ('Poland', Decimal('6.7')),
 ('Dominican Republic', Decimal('6.7')),
 ('Turks and Caicos Islands', Decimal('6.8')),
 ('Dominica', Decimal('6.9')),
 ('Brunei', Decimal('7.1')),
 ('Tunisia', Decimal('7.2')),
 ('Croatia', Decimal('7.2')),
 ('Paraguay', Decimal('7.2')),
 ('Slovakia', Decimal('7.2')),
 ('Macedonia', Decimal('7.3')),
 ('United Arab Emirates', Decimal('7.6')),
 ('South Korea', Decimal('7.9')),
 ('Czech Republic', Decimal('8.0')),
 ('Netherlands Antilles', Decimal('8.2')),
 ('French Polynesia', Decimal('8.3')),
 ('Slovenia', Decimal('8.4')),
 ('American Samoa', Decimal('8.6')),
 ('Argentina', Decimal('8.6')),
 ('Uruguay', Decimal('8.7')),
 ('Jamaica', Decimal('8.7')),
 ('Virgin Islands, British', Decimal('8.9')),
 ('Panama', Decimal('9.0')),
 ('Libyan Arab Jamahiriya', Decimal('9.0')),
 ('Northern Mariana Islands', Decimal('9.0')),
 ('Puerto Rico', Decimal('9.1')),
 ('Chile', Decimal('9.2')),
 ('Portugal', Decimal('9.3')),
 ('Costa Rica', Decimal('9.3')),
 ('Anguilla', Decimal('9.6')),
 ('French Guiana', Decimal('9.6')),
 ('Kuwait', Decimal('9.6')),
 ('Cuba', Decimal('9.7')),
 ('Taiwan', Decimal('9.9')),
 ('Denmark', Decimal('10.0')),
 ('Cyprus', Decimal('10.2')),
 ('Ireland', Decimal('10.3')),
 ('Saint Helena', Decimal('10.3')),
 ('Bermuda', Decimal('10.4')),
 ('Guadeloupe', Decimal('10.5')),
 ('United States', Decimal('10.6')),
 ('Luxembourg', Decimal('10.6')),
 ('Germany', Decimal('10.9')),
 ('Finland', Decimal('10.9')),
 ('Jordan', Decimal('10.9')),
 ('Saint Pierre and Miquelon', Decimal('11.1')),
 ('Austria', Decimal('11.2')),
 ('United Kingdom', Decimal('11.2')),
 ('New Zealand', Decimal('11.3')),
 ('Guam', Decimal('11.3')),
 ('Belgium', Decimal('11.3')),
 ('Malta', Decimal('11.4')),
 ('Montserrat', Decimal('11.5')),
 ('Virgin Islands, U.S.', Decimal('11.6')),
 ('Martinique', Decimal('11.8')),
 ('Netherlands', Decimal('11.8')),
 ('Greece', Decimal('11.9')),
 ('Faroe Islands', Decimal('11.9')),
 ('Aruba', Decimal('11.9')),
 ('Israel', Decimal('12.1')),
 ('Norway', Decimal('12.2')),
 ('Spain', Decimal('12.3')),
 ('Monaco', Decimal('12.3')),
 ('France', Decimal('12.3')),
 ('Liechtenstein', Decimal('12.3')),
 ('Cayman Islands', Decimal('12.4')),
 ('Gibraltar', Decimal('12.5')),
 ('Italy', Decimal('12.5')),
 ('Canada', Decimal('12.9')),
 ('Iceland', Decimal('12.9')),
 ('Hong Kong', Decimal('13.0')),
 ('Switzerland', Decimal('13.1')),
 ('Sweden', Decimal('13.1')),
 ('Australia', Decimal('13.3')),
 ('Singapore', Decimal('13.6')),
 ('Japan', Decimal('14.2')),
 ('San Marino', Decimal('14.6')),
 ('Macao', Decimal('15.1')),
 ('Andorra', Decimal('17.0'))]

# END SOLUTION

# END QUESTION

### 3.2

rubric={accuracy:2}

Write a query that returns country, continent and city names, as well as the ratio of the population of each city to the population of the country where it's located, expressed as a percentage value. Furthermore, your query should also return the population rank of each city among all other cities in the same continent in descending order.

Your results should look like this:

<img src="img/3_2.png" width="700">

Use the above image to name and format your columns properly.

> **Note:** The order of your returned rows might be different from mine, but that is fine.

# BEGIN QUESTION
name: q3_2

# BEGIN SOLUTION

In [ ]:
%%sql

SELECT
    c.name AS country,
    c.continent AS continent,
    ci.name AS city,
    ROUND((ci.population::NUMERIC * 100 / c.population), 2) || '%'
        AS city_pop_ratio,
    RANK() OVER (PARTITION BY continent ORDER BY ci.population DESC)
        AS rank_in_continent
FROM
    country c
JOIN
    city ci
ON
    c.code = ci.countrycode
;

# END SOLUTION

# END QUESTION

### 3.3

rubric={accuracy:2}

Suppose that we'd like to only choose the most populated city in each continent. The problem is, it's not possible to use a window function in the `WHERE` clause. But don't worry, it's not the end of the world!

Using your query in Exercise [3.2](#3.2), write a common table expression (CTE) to retrieve rows associated with the most populated cities of each continent. In each row, your query should only return the city name, along with the name of the country and continent where it's located.

# BEGIN QUESTION
name: q3_3

# BEGIN SOLUTION

In [18]:
%%sql

WITH city_rank AS (
 SELECT
    c.name AS country,
    c.continent AS continent,
    ci.name AS city,
    ROUND((ci.population::NUMERIC * 100 / c.population), 2) || '%'
        AS city_pop_ratio,
    RANK() OVER (PARTITION BY continent ORDER BY ci.population DESC)
        AS rank_in_continent
FROM
    country c
JOIN
    city ci
ON
    c.code = ci.countrycode   
)
SELECT
    city,
    country,
    continent
FROM
    city_rank
WHERE
    rank_in_continent = 1
;

 * postgresql://postgres:***@localhost:5432/world
6 rows affected.

[('Cairo', 'Egypt', 'Africa'),
 ('Mumbai (Bombay)', 'India', 'Asia'),
 ('Moscow', 'Russian Federation', 'Europe'),
 ('Ciudad de México', 'Mexico', 'North America'),
 ('Sydney', 'Australia', 'Oceania'),
 ('São Paulo', 'Brazil', 'South America')]

# END SOLUTION

# END QUESTION