# Lecture 1: Introduction to relational databases

```{admonition} iclicker: Who all worked with databases and SQL before?

A) Yes, I have worked with databases and SQL before

B) Little bit, I have worked with databases and SQL before

B) No I have not
```

```{important}
[The video in this section](important) is must watch, and won't be covered in lecture. Please watch them and follow along, before coming to lab.
```
***Theme:***
- Overview of databases and conceptual understanding of tables, rows, and columns. 
- We will learn how to retrieve data from a database. SQL basics.
    - SELECT
    - FROM
    - WHERE
    - ORDER BY
    - LIMIT
    - DISTINCT

## Ice Breaker
### WHAT is a database?
### Who all used databases before?
### WHY learn databases?
- What is the significance of this course? 
- Why do I want to learn SQL and relational databases?
- We will learn how to retrieve data from a database.

<img src="https://images.huffingtonpost.com/2013-11-13-fold.jpg" width="400" alt="Small Image">
<img src="https://previews.123rf.com/images/kokototo/kokototo1210/kokototo121000082/15913156-she-took-a-small-piece-of-pizza-into-her-mouth.jpg" width="200" alt="Small Image">

## What you don't learn in this course
- Sorry! But we don't cover database design in this course.
- We don't cover normalization, ER diagrams, etc. These are all core concepts that you need to learn if you want to design a database.

## How we going to progress
- Course outline ([Let's take course website tour](../README.md))

Let's get started............... WOOT WOOT!

## Databases vs. DBMS. Is it the same?
- Database: A collection of data.
- DBMS: A software that manages the database. Let you create, update, delete, and retrieve data from the database.

## What is a data model?
- In simple terms, a data model represents the data in your database.
- There are different database types, each with its own data model.
    - Relational (SQL-based) - We will learn this in this course. Lecture 1 - 6
    - Document (NoSQL) - lecture 7 - 8
    - Graph (NoSQL)
    - Key-value (NoSQL)
    - Columnar  (NoSQL)

Our first 6 lectures will be about relational databases. The last 2 will be on document databases.

## Nice, tell me how data is stored in a relational database.  

- Data is stored in tables.
- Each table has columns and rows.
- Each column has a name and a data type.

<img src="img/tablehouse.png" width="800">

I get those are tables. So it is more like I load my CSV file into a table, and then I can query it. Is that right?

NOOOOOOOOOOO...But WHY?

```{admonition} Discussion Question: Can you spot some problems with the above table?

<img src="img/discuss.png" width="120">
```

```{toggle}

***Answer:***

- Update anomaly: Need to change > 1 thing to stay consistent. Can we change Delta’s province? 
- Insertion anomaly:  attributes cannot be inserted without the presence of other attributes. What if we want to insert that V6T 1Z4 is in Vancouver?
- Deletion anomaly: attributes are lost because of deletion of other attributes. If we delete all addresses with V6A 2S5, we lose that V6A 2S5 is in Vancouver! 

```

Following is better ?

<img src="img/tablebreak.png" width="800">

So, when a database designer loads the data, he breaks it into multiple tables. This process is called normalization (we are not focussing on designing. Hence, we won't be learning this). So these tables are connected (think about how to join the tables back) using keys (we will learn about the primary and foreign keys later in lecture 4).

So many tables are related, and hence, we call it a RELATIONAL database.

## Let's talk about some terminologies!!

### Recipe for Powerpuff Girls
<img src="img/powerpuffingre.jpg" width="400">
<img src="https://cdn.britannica.com/08/190808-050-CB26C47B/The-Powerpuff-Girls-Bubbles-Blossom-Buttercup.jpg " width="400">

### Recipe for a table
<img src="../lectures/img/lecture1/table_anatomy.png" width="600">

A schema is a recipe for creating a table or a relation. This recipe has 2 main ingredients.
- name of the relation
- attributes of the relation (Its name and domain)

```{admonition} Clicker Question: Can I insert my GPA to be "excellent" instead of having a number? (I swear I got 4.0, but I just want to enter it as excellent) :) Thoughts?

A) YES

B) NO
```

```{toggle}

***Answer:  NO ***

Can you think of a reason why?

```

```{admonition} Discussion: Can you name a few differences between tables in a database and spreadsheets? How about between tables and Pandas dataframes?

<img src="img/discuss.png" width="120">

```{toggle}
Think about what happens if:

- Your dataframe is 100 GB in size

- Multiple people want to use and make changes to the dataset simultaneously
- You want to be able to manage what each user can do
- You want to be able to let different users see different parts of the dataset
- You don't want to store everything at one place
- You want to restrict the kind of data to be stored
- The dataset file is corrupted
- The system crashes half way through making a change
- You want to optimize access to your data
- ...

```

## How can I get the data from there?

We saw about databases and where and how we store data. But how do we get the data from there? I know how I can read a CSV file in Python and R. But how do I read data from a database?

Well, so you need to know a language to talk to the database. And that language is called SQL (Structured Query Language).

SQL - A language to retrieve data from a database.

<img src="img/shoutword.png" width="600">
<img src="img/shoutsql.png" width="600">

This means we should learn how to write SQL queries. 2 types, mainly -- 
- DDL (Data Definition Language)
- DML (Data Manipulation Language). 

Our focus will be DML. LET'S DO IT!!!

<img src="img/letsdo.gif" width="200">

A quick look at it. 

<img src="img/structure.jpeg" width="900">

```{admonition} Clicker: I notice here keywords (SELECT, FROM, WHERE etc...) are capitalized. Is it necessary to capitalize them?

A) YES

B) NO
```

```{toggle}

***Answer:  NO ***

```

```{admonition} Discussion: What is the difference between declarative and imperative languages?
<img src="img/discuss.png" width="120">
```

```{toggle}

- Imperative: Tell WHAT and HOW to do something
- Declarative: Tell WHAT, not HOW
```

```{admonition} Discussion: Various flavors of relational databases exist. Can you name a few?
<img src="img/discuss.png" width="120">
```

```{toggle}
***Answer:***
- MySQL
- PostgreSQL (We will use this)
- SQLite
- Oracle
- Microsoft SQL Server
- IBM DB2
```

Let's get to business. Tell us how to run SQL queries. What are the different options available for me?

```{important}
Before that: You already have Postgres installed on your computer, from the MDS setup instructions, whatever you did at the beginning of the program. I hope you remember the password. For more FAQS, look at the end of the lecture.
```

### psycopg2 (python library)
You will see guided walkthrough instructions for using this in lab exercises so that you can get practice on it.

### Query using pandas
You will see guided walkthrough instructions for using this in lab exercises so that you can get practice on it.

### pgadmin

```{important}
This is automatically installed with the Postgres database. You already did this [installation](https://ubc-mds.github.io/resources_pages/install_ds_stack_mac/#postgresql) at the beginning of MDS.
```

Here is a video captured when I did the installation. However, you don't need to watch it, as you have already installed this as part of the installation stack for MDS.

```{admonition} <img src="img/videoicon.png" width='5%'>

There is no audio at the start of the video as it is just going through the installation steps. But I am talking (I might sound a bit weird as I was sick) towards the end. 

[Link here](https://ubc.zoom.us/rec/share/jUIXHMh9-R13hQGcU9QrWYUpeKaiwlmwwcZmrlQMbDHnWIesVI2FLBG4PYzEkCNL.mdoSwm80IKV18--6?startTime=1695583026000). Passcode: `W47&G%Wq`. In this video, you will be getting information on installing PostgreSQL on MAC along with pgadmin, a GUI tool to interact with the database, which gets installed along with PostgreSQL.
```

(important)=
### pgadmin demo and loading data

The following video is a must-watch. Here, I am showing you how to use pgadmin to connect to the database and how to load data from the [dump file](https://github.ubc.ca/MDS-2023-24/DSCI_513_database-data-retr_students/tree/master/databases). We will be loading following data into the database.

- `world` database.
- `imdb` database.

```{margin}
<img src="img/checkthis.png" width='90%'>
```

```{admonition} <img src="img/videoicon.png" width='5%'>

[This video](https://ubc.zoom.us/rec/share/tOEG6lC_UMwU2HwB7FmKM37pn8lsV2akjljdILimugAcLVDk_MCZveXi0QFrvRZv.acfizhf2nv6E4Sgi?startTime=1699495664000) is in me showing you some functionalities with pgadmin. (Passcode: `s^T3E@1N`). In this video, you will be getting information on the following things.

- Starting pdadmin and connecting to the database (00:00 - 04:45)
- Creating a database and ***demonstrating how to load data from the [dump for all the class exercises and lab exercises.](https://github.ubc.ca/MDS-2023-24/DSCI_513_database-data-retr_students/tree/master/databases)*** - VERY IMPORTANT FOR YOU TO PROCEED. (04:45 - 11:09)
- Some basic functionalities of pgadmin (11:09 - 14:00)
- Explaining the query tool and how to run queries (14:00 - 16:08)
- psql CLI from the terminal (16:08 - end)
```

### psql (command line interface)

```{admonition} <img src="img/videoicon.png" width='5%'>
[This video](https://ubc.zoom.us/rec/share/yJRhXDg3KttSfP7t6QmrglIH1gy0308vOFYmC4dJxJO9klofIMBwDug6Uob9MEVH.whOVkKXdSkcPdCuj?startTime=1699497567000) Passcode: `g!WFt2%$` shows how to use command line interface (psql) in pgadmin.

This video will show you how to use psql CLI from pgadmin.
```

### jupyter notebook magics

- Extension is loaded from the `dsci513env.yml` file.

In almost all scenarios, I will show you things to run using the jupyter SQL magics. 

I will show you how to start with SQL magics, and we will begin learning some basic SQL queries.

Before that, how do you deal with the password?

In [1]:
# This is how you deal with credentials in a notebook
import json
import urllib.parse
# You want to point to your credentials file. This is my path to the file. 
# If you are struggling here, revise on absolute and relative paths and pass it accordingly
with open('../lectures/data/credentials.json') as f:
    login = json.load(f)
    
username = login['user']
password = urllib.parse.quote(login['password'])
host = login['host']
port = login['port']
# Just printing the logo information to see I am getting the correct file and 
# information
login

{'host': 'localhost', 'port': 5432, 'user': 'postgres', 'password': 'postgres'}

In [2]:
%load_ext sql

In [3]:
%sql postgresql://{username}:{password}@{host}:{port}/world

In [4]:
%config SqlMagic.displaylimit = 20

In [5]:
%sql SELECT name, population FROM country;

 * postgresql://postgres:***@localhost:5432/world
239 rows affected.

[('Afghanistan', 22720000),
 ('Netherlands', 15864000),
 ('Netherlands Antilles', 217000),
 ('Albania', 3401200),
 ('Algeria', 31471000),
 ('American Samoa', 68000),
 ('Andorra', 78000),
 ('Angola', 12878000),
 ('Anguilla', 8000),
 ('Antigua and Barbuda', 68000),
 ('United Arab Emirates', 2441000),
 ('Argentina', 37032000),
 ('Armenia', 3520000),
 ('Aruba', 103000),
 ('Australia', 18886000),
 ('Azerbaijan', 7734000),
 ('Bahamas', 307000),
 ('Bahrain', 617000),
 ('Bangladesh', 129155000),
 ('Barbados', 270000),
 ('Belgium', 10239000),
 ('Belize', 241000),
 ('Benin', 6097000),
 ('Bermuda', 65000),
 ('Bhutan', 2124000),
 ('Bolivia', 8329000),
 ('Bosnia and Herzegovina', 3972000),
 ('Botswana', 1622000),
 ('Brazil', 170115000),
 ('United Kingdom', 59623400),
 ('Virgin Islands, British', 21000),
 ('Brunei', 328000),
 ('Bulgaria', 8190900),
 ('Burkina Faso', 11937000),
 ('Burundi', 6695000),
 ('Cayman Islands', 38000),
 ('Chile', 15211000),
 ('Cook Islands', 20000),
 ('Costa Rica', 4023000),
 ('Djibouti', 638000),
 ('Dominica', 71000),
 ('Dominican Republic', 8495000),
 ('Ecuador', 12646000),
 ('Egypt', 68470000),
 ('El Salvador', 6276000),
 ('Eritrea', 3850000),
 ('Spain', 39441700),
 ('South Africa', 40377000),
 ('Ethiopia', 62565000),
 ('Falkland Islands', 2000),
 ('Fiji Islands', 817000),
 ('Philippines', 75967000),
 ('Faroe Islands', 43000),
 ('Gabon', 1226000),
 ('Gambia', 1305000),
 ('Georgia', 4968000),
 ('Ghana', 20212000),
 ('Gibraltar', 25000),
 ('Grenada', 94000),
 ('Greenland', 56000),
 ('Guadeloupe', 456000),
 ('Guam', 168000),
 ('Guatemala', 11385000),
 ('Guinea', 7430000),
 ('Guinea-Bissau', 1213000),
 ('Guyana', 861000),
 ('Haiti', 8222000),
 ('Honduras', 6485000),
 ('Hong Kong', 6782000),
 ('Svalbard and Jan Mayen', 3200),
 ('Indonesia', 212107000),
 ('India', 1013662000),
 ('Iraq', 23115000),
 ('Iran', 67702000),
 ('Ireland', 3775100),
 ('Iceland', 279000),
 ('Israel', 6217000),
 ('Italy', 57680000),
 ('East Timor', 885000),
 ('Austria', 8091800),
 ('Jamaica', 2583000),
 ('Japan', 126714000),
 ('Yemen', 18112000),
 ('Jordan', 5083000),
 ('Christmas Island', 2500),
 ('Yugoslavia', 10640000),
 ('Cambodia', 11168000),
 ('Cameroon', 15085000),
 ('Canada', 31147000),
 ('Cape Verde', 428000),
 ('Kazakstan', 16223000),
 ('Kenya', 30080000),
 ('Central African Republic', 3615000),
 ('China', 1277558000),
 ('Kyrgyzstan', 4699000),
 ('Kiribati', 83000),
 ('Colombia', 42321000),
 ('Comoros', 578000),
 ('Congo', 2943000),
 ('Congo, The Democratic Republic of the', 51654000),
 ('Cocos (Keeling) Islands', 600),
 ('North Korea', 24039000),
 ('South Korea', 46844000),
 ('Greece', 10545700),
 ('Croatia', 4473000),
 ('Cuba', 11201000),
 ('Kuwait', 1972000),
 ('Cyprus', 754700),
 ('Laos', 5433000),
 ('Latvia', 2424200),
 ('Lesotho', 2153000),
 ('Lebanon', 3282000),
 ('Liberia', 3154000),
 ('Libyan Arab Jamahiriya', 5605000),
 ('Liechtenstein', 32300),
 ('Lithuania', 3698500),
 ('Luxembourg', 435700),
 ('Western Sahara', 293000),
 ('Macao', 473000),
 ('Madagascar', 15942000),
 ('Macedonia', 2024000),
 ('Malawi', 10925000),
 ('Maldives', 286000),
 ('Malaysia', 22244000),
 ('Mali', 11234000),
 ('Malta', 380200),
 ('Morocco', 28351000),
 ('Marshall Islands', 64000),
 ('Martinique', 395000),
 ('Mauritania', 2670000),
 ('Mauritius', 1158000),
 ('Mayotte', 149000),
 ('Mexico', 98881000),
 ('Micronesia, Federated States of', 119000),
 ('Moldova', 4380000),
 ('Monaco', 34000),
 ('Mongolia', 2662000),
 ('Montserrat', 11000),
 ('Mozambique', 19680000),
 ('Myanmar', 45611000),
 ('Namibia', 1726000),
 ('Nauru', 12000),
 ('Nepal', 23930000),
 ('Nicaragua', 5074000),
 ('Niger', 10730000),
 ('Nigeria', 111506000),
 ('Niue', 2000),
 ('Norfolk Island', 2000),
 ('Norway', 4478500),
 ('Côte d\x92Ivoire', 14786000),
 ('Oman', 2542000),
 ('Pakistan', 156483000),
 ('Palau', 19000),
 ('Panama', 2856000),
 ('Papua New Guinea', 4807000),
 ('Paraguay', 5496000),
 ('Peru', 25662000),
 ('Pitcairn', 50),
 ('Northern Mariana Islands', 78000),
 ('Portugal', 9997600),
 ('Puerto Rico', 3869000),
 ('Poland', 38653600),
 ('Equatorial Guinea', 453000),
 ('Qatar', 599000),
 ('France', 59225700),
 ('French Guiana', 181000),
 ('French Polynesia', 235000),
 ('Réunion', 699000),
 ('Romania', 22455500),
 ('Rwanda', 7733000),
 ('Sweden', 8861400),
 ('Saint Helena', 6000),
 ('Saint Kitts and Nevis', 38000),
 ('Saint Lucia', 154000),
 ('Saint Vincent and the Grenadines', 114000),
 ('Saint Pierre and Miquelon', 7000),
 ('Germany', 82164700),
 ('Solomon Islands', 444000),
 ('Zambia', 9169000),
 ('Samoa', 180000),
 ('San Marino', 27000),
 ('Sao Tome and Principe', 147000),
 ('Saudi Arabia', 21607000),
 ('Senegal', 9481000),
 ('Seychelles', 77000),
 ('Sierra Leone', 4854000),
 ('Singapore', 3567000),
 ('Slovakia', 5398700),
 ('Slovenia', 1987800),
 ('Somalia', 10097000),
 ('Sri Lanka', 18827000),
 ('Sudan', 29490000),
 ('Finland', 5171300),
 ('Suriname', 417000),
 ('Swaziland', 1008000),
 ('Switzerland', 7160400),
 ('Syria', 16125000),
 ('Tajikistan', 6188000),
 ('Taiwan', 22256000),
 ('Tanzania', 33517000),
 ('Denmark', 5330000),
 ('Thailand', 61399000),
 ('Togo', 4629000),
 ('Tokelau', 2000),
 ('Tonga', 99000),
 ('Trinidad and Tobago', 1295000),
 ('Chad', 7651000),
 ('Czech Republic', 10278100),
 ('Tunisia', 9586000),
 ('Turkey', 66591000),
 ('Turkmenistan', 4459000),
 ('Turks and Caicos Islands', 17000),
 ('Tuvalu', 12000),
 ('Uganda', 21778000),
 ('Ukraine', 50456000),
 ('Hungary', 10043200),
 ('Uruguay', 3337000),
 ('New Caledonia', 214000),
 ('New Zealand', 3862000),
 ('Uzbekistan', 24318000),
 ('Belarus', 10236000),
 ('Wallis and Futuna', 15000),
 ('Vanuatu', 190000),
 ('Holy See (Vatican City State)', 1000),
 ('Venezuela', 24170000),
 ('Russian Federation', 146934000),
 ('Vietnam', 79832000),
 ('Estonia', 1439200),
 ('United States', 278357000),
 ('Virgin Islands, U.S.', 93000),
 ('Zimbabwe', 11669000),
 ('Palestine', 3101000),
 ('Antarctica', 0),
 ('Bouvet Island', 0),
 ('British Indian Ocean Territory', 0),
 ('South Georgia and the South Sandwich Islands', 0),
 ('Heard Island and McDonald Islands', 0),
 ('French Southern territories', 0),
 ('United States Minor Outlying Islands', 0)]

In [6]:
%config SqlMagic.displaylimit = 20

In [7]:
%sql SELECT name, population FROM country;

 * postgresql://postgres:***@localhost:5432/world
239 rows affected.

[('Afghanistan', 22720000),
 ('Netherlands', 15864000),
 ('Netherlands Antilles', 217000),
 ('Albania', 3401200),
 ('Algeria', 31471000),
 ('American Samoa', 68000),
 ('Andorra', 78000),
 ('Angola', 12878000),
 ('Anguilla', 8000),
 ('Antigua and Barbuda', 68000),
 ('United Arab Emirates', 2441000),
 ('Argentina', 37032000),
 ('Armenia', 3520000),
 ('Aruba', 103000),
 ('Australia', 18886000),
 ('Azerbaijan', 7734000),
 ('Bahamas', 307000),
 ('Bahrain', 617000),
 ('Bangladesh', 129155000),
 ('Barbados', 270000),
 ('Belgium', 10239000),
 ('Belize', 241000),
 ('Benin', 6097000),
 ('Bermuda', 65000),
 ('Bhutan', 2124000),
 ('Bolivia', 8329000),
 ('Bosnia and Herzegovina', 3972000),
 ('Botswana', 1622000),
 ('Brazil', 170115000),
 ('United Kingdom', 59623400),
 ('Virgin Islands, British', 21000),
 ('Brunei', 328000),
 ('Bulgaria', 8190900),
 ('Burkina Faso', 11937000),
 ('Burundi', 6695000),
 ('Cayman Islands', 38000),
 ('Chile', 15211000),
 ('Cook Islands', 20000),
 ('Costa Rica', 4023000),
 ('Djibouti', 638000),
 ('Dominica', 71000),
 ('Dominican Republic', 8495000),
 ('Ecuador', 12646000),
 ('Egypt', 68470000),
 ('El Salvador', 6276000),
 ('Eritrea', 3850000),
 ('Spain', 39441700),
 ('South Africa', 40377000),
 ('Ethiopia', 62565000),
 ('Falkland Islands', 2000),
 ('Fiji Islands', 817000),
 ('Philippines', 75967000),
 ('Faroe Islands', 43000),
 ('Gabon', 1226000),
 ('Gambia', 1305000),
 ('Georgia', 4968000),
 ('Ghana', 20212000),
 ('Gibraltar', 25000),
 ('Grenada', 94000),
 ('Greenland', 56000),
 ('Guadeloupe', 456000),
 ('Guam', 168000),
 ('Guatemala', 11385000),
 ('Guinea', 7430000),
 ('Guinea-Bissau', 1213000),
 ('Guyana', 861000),
 ('Haiti', 8222000),
 ('Honduras', 6485000),
 ('Hong Kong', 6782000),
 ('Svalbard and Jan Mayen', 3200),
 ('Indonesia', 212107000),
 ('India', 1013662000),
 ('Iraq', 23115000),
 ('Iran', 67702000),
 ('Ireland', 3775100),
 ('Iceland', 279000),
 ('Israel', 6217000),
 ('Italy', 57680000),
 ('East Timor', 885000),
 ('Austria', 8091800),
 ('Jamaica', 2583000),
 ('Japan', 126714000),
 ('Yemen', 18112000),
 ('Jordan', 5083000),
 ('Christmas Island', 2500),
 ('Yugoslavia', 10640000),
 ('Cambodia', 11168000),
 ('Cameroon', 15085000),
 ('Canada', 31147000),
 ('Cape Verde', 428000),
 ('Kazakstan', 16223000),
 ('Kenya', 30080000),
 ('Central African Republic', 3615000),
 ('China', 1277558000),
 ('Kyrgyzstan', 4699000),
 ('Kiribati', 83000),
 ('Colombia', 42321000),
 ('Comoros', 578000),
 ('Congo', 2943000),
 ('Congo, The Democratic Republic of the', 51654000),
 ('Cocos (Keeling) Islands', 600),
 ('North Korea', 24039000),
 ('South Korea', 46844000),
 ('Greece', 10545700),
 ('Croatia', 4473000),
 ('Cuba', 11201000),
 ('Kuwait', 1972000),
 ('Cyprus', 754700),
 ('Laos', 5433000),
 ('Latvia', 2424200),
 ('Lesotho', 2153000),
 ('Lebanon', 3282000),
 ('Liberia', 3154000),
 ('Libyan Arab Jamahiriya', 5605000),
 ('Liechtenstein', 32300),
 ('Lithuania', 3698500),
 ('Luxembourg', 435700),
 ('Western Sahara', 293000),
 ('Macao', 473000),
 ('Madagascar', 15942000),
 ('Macedonia', 2024000),
 ('Malawi', 10925000),
 ('Maldives', 286000),
 ('Malaysia', 22244000),
 ('Mali', 11234000),
 ('Malta', 380200),
 ('Morocco', 28351000),
 ('Marshall Islands', 64000),
 ('Martinique', 395000),
 ('Mauritania', 2670000),
 ('Mauritius', 1158000),
 ('Mayotte', 149000),
 ('Mexico', 98881000),
 ('Micronesia, Federated States of', 119000),
 ('Moldova', 4380000),
 ('Monaco', 34000),
 ('Mongolia', 2662000),
 ('Montserrat', 11000),
 ('Mozambique', 19680000),
 ('Myanmar', 45611000),
 ('Namibia', 1726000),
 ('Nauru', 12000),
 ('Nepal', 23930000),
 ('Nicaragua', 5074000),
 ('Niger', 10730000),
 ('Nigeria', 111506000),
 ('Niue', 2000),
 ('Norfolk Island', 2000),
 ('Norway', 4478500),
 ('Côte d\x92Ivoire', 14786000),
 ('Oman', 2542000),
 ('Pakistan', 156483000),
 ('Palau', 19000),
 ('Panama', 2856000),
 ('Papua New Guinea', 4807000),
 ('Paraguay', 5496000),
 ('Peru', 25662000),
 ('Pitcairn', 50),
 ('Northern Mariana Islands', 78000),
 ('Portugal', 9997600),
 ('Puerto Rico', 3869000),
 ('Poland', 38653600),
 ('Equatorial Guinea', 453000),
 ('Qatar', 599000),
 ('France', 59225700),
 ('French Guiana', 181000),
 ('French Polynesia', 235000),
 ('Réunion', 699000),
 ('Romania', 22455500),
 ('Rwanda', 7733000),
 ('Sweden', 8861400),
 ('Saint Helena', 6000),
 ('Saint Kitts and Nevis', 38000),
 ('Saint Lucia', 154000),
 ('Saint Vincent and the Grenadines', 114000),
 ('Saint Pierre and Miquelon', 7000),
 ('Germany', 82164700),
 ('Solomon Islands', 444000),
 ('Zambia', 9169000),
 ('Samoa', 180000),
 ('San Marino', 27000),
 ('Sao Tome and Principe', 147000),
 ('Saudi Arabia', 21607000),
 ('Senegal', 9481000),
 ('Seychelles', 77000),
 ('Sierra Leone', 4854000),
 ('Singapore', 3567000),
 ('Slovakia', 5398700),
 ('Slovenia', 1987800),
 ('Somalia', 10097000),
 ('Sri Lanka', 18827000),
 ('Sudan', 29490000),
 ('Finland', 5171300),
 ('Suriname', 417000),
 ('Swaziland', 1008000),
 ('Switzerland', 7160400),
 ('Syria', 16125000),
 ('Tajikistan', 6188000),
 ('Taiwan', 22256000),
 ('Tanzania', 33517000),
 ('Denmark', 5330000),
 ('Thailand', 61399000),
 ('Togo', 4629000),
 ('Tokelau', 2000),
 ('Tonga', 99000),
 ('Trinidad and Tobago', 1295000),
 ('Chad', 7651000),
 ('Czech Republic', 10278100),
 ('Tunisia', 9586000),
 ('Turkey', 66591000),
 ('Turkmenistan', 4459000),
 ('Turks and Caicos Islands', 17000),
 ('Tuvalu', 12000),
 ('Uganda', 21778000),
 ('Ukraine', 50456000),
 ('Hungary', 10043200),
 ('Uruguay', 3337000),
 ('New Caledonia', 214000),
 ('New Zealand', 3862000),
 ('Uzbekistan', 24318000),
 ('Belarus', 10236000),
 ('Wallis and Futuna', 15000),
 ('Vanuatu', 190000),
 ('Holy See (Vatican City State)', 1000),
 ('Venezuela', 24170000),
 ('Russian Federation', 146934000),
 ('Vietnam', 79832000),
 ('Estonia', 1439200),
 ('United States', 278357000),
 ('Virgin Islands, U.S.', 93000),
 ('Zimbabwe', 11669000),
 ('Palestine', 3101000),
 ('Antarctica', 0),
 ('Bouvet Island', 0),
 ('British Indian Ocean Territory', 0),
 ('South Georgia and the South Sandwich Islands', 0),
 ('Heard Island and McDonald Islands', 0),
 ('French Southern territories', 0),
 ('United States Minor Outlying Islands', 0)]

In [8]:
%%sql

SELECT
    name, population
FROM
    country
;

 * postgresql://postgres:***@localhost:5432/world
239 rows affected.

[('Afghanistan', 22720000),
 ('Netherlands', 15864000),
 ('Netherlands Antilles', 217000),
 ('Albania', 3401200),
 ('Algeria', 31471000),
 ('American Samoa', 68000),
 ('Andorra', 78000),
 ('Angola', 12878000),
 ('Anguilla', 8000),
 ('Antigua and Barbuda', 68000),
 ('United Arab Emirates', 2441000),
 ('Argentina', 37032000),
 ('Armenia', 3520000),
 ('Aruba', 103000),
 ('Australia', 18886000),
 ('Azerbaijan', 7734000),
 ('Bahamas', 307000),
 ('Bahrain', 617000),
 ('Bangladesh', 129155000),
 ('Barbados', 270000),
 ('Belgium', 10239000),
 ('Belize', 241000),
 ('Benin', 6097000),
 ('Bermuda', 65000),
 ('Bhutan', 2124000),
 ('Bolivia', 8329000),
 ('Bosnia and Herzegovina', 3972000),
 ('Botswana', 1622000),
 ('Brazil', 170115000),
 ('United Kingdom', 59623400),
 ('Virgin Islands, British', 21000),
 ('Brunei', 328000),
 ('Bulgaria', 8190900),
 ('Burkina Faso', 11937000),
 ('Burundi', 6695000),
 ('Cayman Islands', 38000),
 ('Chile', 15211000),
 ('Cook Islands', 20000),
 ('Costa Rica', 4023000),
 ('Djibouti', 638000),
 ('Dominica', 71000),
 ('Dominican Republic', 8495000),
 ('Ecuador', 12646000),
 ('Egypt', 68470000),
 ('El Salvador', 6276000),
 ('Eritrea', 3850000),
 ('Spain', 39441700),
 ('South Africa', 40377000),
 ('Ethiopia', 62565000),
 ('Falkland Islands', 2000),
 ('Fiji Islands', 817000),
 ('Philippines', 75967000),
 ('Faroe Islands', 43000),
 ('Gabon', 1226000),
 ('Gambia', 1305000),
 ('Georgia', 4968000),
 ('Ghana', 20212000),
 ('Gibraltar', 25000),
 ('Grenada', 94000),
 ('Greenland', 56000),
 ('Guadeloupe', 456000),
 ('Guam', 168000),
 ('Guatemala', 11385000),
 ('Guinea', 7430000),
 ('Guinea-Bissau', 1213000),
 ('Guyana', 861000),
 ('Haiti', 8222000),
 ('Honduras', 6485000),
 ('Hong Kong', 6782000),
 ('Svalbard and Jan Mayen', 3200),
 ('Indonesia', 212107000),
 ('India', 1013662000),
 ('Iraq', 23115000),
 ('Iran', 67702000),
 ('Ireland', 3775100),
 ('Iceland', 279000),
 ('Israel', 6217000),
 ('Italy', 57680000),
 ('East Timor', 885000),
 ('Austria', 8091800),
 ('Jamaica', 2583000),
 ('Japan', 126714000),
 ('Yemen', 18112000),
 ('Jordan', 5083000),
 ('Christmas Island', 2500),
 ('Yugoslavia', 10640000),
 ('Cambodia', 11168000),
 ('Cameroon', 15085000),
 ('Canada', 31147000),
 ('Cape Verde', 428000),
 ('Kazakstan', 16223000),
 ('Kenya', 30080000),
 ('Central African Republic', 3615000),
 ('China', 1277558000),
 ('Kyrgyzstan', 4699000),
 ('Kiribati', 83000),
 ('Colombia', 42321000),
 ('Comoros', 578000),
 ('Congo', 2943000),
 ('Congo, The Democratic Republic of the', 51654000),
 ('Cocos (Keeling) Islands', 600),
 ('North Korea', 24039000),
 ('South Korea', 46844000),
 ('Greece', 10545700),
 ('Croatia', 4473000),
 ('Cuba', 11201000),
 ('Kuwait', 1972000),
 ('Cyprus', 754700),
 ('Laos', 5433000),
 ('Latvia', 2424200),
 ('Lesotho', 2153000),
 ('Lebanon', 3282000),
 ('Liberia', 3154000),
 ('Libyan Arab Jamahiriya', 5605000),
 ('Liechtenstein', 32300),
 ('Lithuania', 3698500),
 ('Luxembourg', 435700),
 ('Western Sahara', 293000),
 ('Macao', 473000),
 ('Madagascar', 15942000),
 ('Macedonia', 2024000),
 ('Malawi', 10925000),
 ('Maldives', 286000),
 ('Malaysia', 22244000),
 ('Mali', 11234000),
 ('Malta', 380200),
 ('Morocco', 28351000),
 ('Marshall Islands', 64000),
 ('Martinique', 395000),
 ('Mauritania', 2670000),
 ('Mauritius', 1158000),
 ('Mayotte', 149000),
 ('Mexico', 98881000),
 ('Micronesia, Federated States of', 119000),
 ('Moldova', 4380000),
 ('Monaco', 34000),
 ('Mongolia', 2662000),
 ('Montserrat', 11000),
 ('Mozambique', 19680000),
 ('Myanmar', 45611000),
 ('Namibia', 1726000),
 ('Nauru', 12000),
 ('Nepal', 23930000),
 ('Nicaragua', 5074000),
 ('Niger', 10730000),
 ('Nigeria', 111506000),
 ('Niue', 2000),
 ('Norfolk Island', 2000),
 ('Norway', 4478500),
 ('Côte d\x92Ivoire', 14786000),
 ('Oman', 2542000),
 ('Pakistan', 156483000),
 ('Palau', 19000),
 ('Panama', 2856000),
 ('Papua New Guinea', 4807000),
 ('Paraguay', 5496000),
 ('Peru', 25662000),
 ('Pitcairn', 50),
 ('Northern Mariana Islands', 78000),
 ('Portugal', 9997600),
 ('Puerto Rico', 3869000),
 ('Poland', 38653600),
 ('Equatorial Guinea', 453000),
 ('Qatar', 599000),
 ('France', 59225700),
 ('French Guiana', 181000),
 ('French Polynesia', 235000),
 ('Réunion', 699000),
 ('Romania', 22455500),
 ('Rwanda', 7733000),
 ('Sweden', 8861400),
 ('Saint Helena', 6000),
 ('Saint Kitts and Nevis', 38000),
 ('Saint Lucia', 154000),
 ('Saint Vincent and the Grenadines', 114000),
 ('Saint Pierre and Miquelon', 7000),
 ('Germany', 82164700),
 ('Solomon Islands', 444000),
 ('Zambia', 9169000),
 ('Samoa', 180000),
 ('San Marino', 27000),
 ('Sao Tome and Principe', 147000),
 ('Saudi Arabia', 21607000),
 ('Senegal', 9481000),
 ('Seychelles', 77000),
 ('Sierra Leone', 4854000),
 ('Singapore', 3567000),
 ('Slovakia', 5398700),
 ('Slovenia', 1987800),
 ('Somalia', 10097000),
 ('Sri Lanka', 18827000),
 ('Sudan', 29490000),
 ('Finland', 5171300),
 ('Suriname', 417000),
 ('Swaziland', 1008000),
 ('Switzerland', 7160400),
 ('Syria', 16125000),
 ('Tajikistan', 6188000),
 ('Taiwan', 22256000),
 ('Tanzania', 33517000),
 ('Denmark', 5330000),
 ('Thailand', 61399000),
 ('Togo', 4629000),
 ('Tokelau', 2000),
 ('Tonga', 99000),
 ('Trinidad and Tobago', 1295000),
 ('Chad', 7651000),
 ('Czech Republic', 10278100),
 ('Tunisia', 9586000),
 ('Turkey', 66591000),
 ('Turkmenistan', 4459000),
 ('Turks and Caicos Islands', 17000),
 ('Tuvalu', 12000),
 ('Uganda', 21778000),
 ('Ukraine', 50456000),
 ('Hungary', 10043200),
 ('Uruguay', 3337000),
 ('New Caledonia', 214000),
 ('New Zealand', 3862000),
 ('Uzbekistan', 24318000),
 ('Belarus', 10236000),
 ('Wallis and Futuna', 15000),
 ('Vanuatu', 190000),
 ('Holy See (Vatican City State)', 1000),
 ('Venezuela', 24170000),
 ('Russian Federation', 146934000),
 ('Vietnam', 79832000),
 ('Estonia', 1439200),
 ('United States', 278357000),
 ('Virgin Islands, U.S.', 93000),
 ('Zimbabwe', 11669000),
 ('Palestine', 3101000),
 ('Antarctica', 0),
 ('Bouvet Island', 0),
 ('British Indian Ocean Territory', 0),
 ('South Georgia and the South Sandwich Islands', 0),
 ('Heard Island and McDonald Islands', 0),
 ('French Southern territories', 0),
 ('United States Minor Outlying Islands', 0)]

```{admonition} iclicker: What is the thing that is returned to me? Is it a pandas dataframe ?

A) Yes, it is a pandas dataframe. 

B) No it is not a pandas dataframe.
```

```{toggle}
***Answer:***
NO
```

In [9]:
%%sql query_output <<

SELECT
    name, population
FROM
    country
;

 * postgresql://postgres:***@localhost:5432/world
239 rows affected.
Returning data to local variable query_output

In [10]:
query_output

[('Afghanistan', 22720000),
 ('Netherlands', 15864000),
 ('Netherlands Antilles', 217000),
 ('Albania', 3401200),
 ('Algeria', 31471000),
 ('American Samoa', 68000),
 ('Andorra', 78000),
 ('Angola', 12878000),
 ('Anguilla', 8000),
 ('Antigua and Barbuda', 68000),
 ('United Arab Emirates', 2441000),
 ('Argentina', 37032000),
 ('Armenia', 3520000),
 ('Aruba', 103000),
 ('Australia', 18886000),
 ('Azerbaijan', 7734000),
 ('Bahamas', 307000),
 ('Bahrain', 617000),
 ('Bangladesh', 129155000),
 ('Barbados', 270000),
 ('Belgium', 10239000),
 ('Belize', 241000),
 ('Benin', 6097000),
 ('Bermuda', 65000),
 ('Bhutan', 2124000),
 ('Bolivia', 8329000),
 ('Bosnia and Herzegovina', 3972000),
 ('Botswana', 1622000),
 ('Brazil', 170115000),
 ('United Kingdom', 59623400),
 ('Virgin Islands, British', 21000),
 ('Brunei', 328000),
 ('Bulgaria', 8190900),
 ('Burkina Faso', 11937000),
 ('Burundi', 6695000),
 ('Cayman Islands', 38000),
 ('Chile', 15211000),
 ('Cook Islands', 20000),
 ('Costa Rica', 4023000),
 ('Djibouti', 638000),
 ('Dominica', 71000),
 ('Dominican Republic', 8495000),
 ('Ecuador', 12646000),
 ('Egypt', 68470000),
 ('El Salvador', 6276000),
 ('Eritrea', 3850000),
 ('Spain', 39441700),
 ('South Africa', 40377000),
 ('Ethiopia', 62565000),
 ('Falkland Islands', 2000),
 ('Fiji Islands', 817000),
 ('Philippines', 75967000),
 ('Faroe Islands', 43000),
 ('Gabon', 1226000),
 ('Gambia', 1305000),
 ('Georgia', 4968000),
 ('Ghana', 20212000),
 ('Gibraltar', 25000),
 ('Grenada', 94000),
 ('Greenland', 56000),
 ('Guadeloupe', 456000),
 ('Guam', 168000),
 ('Guatemala', 11385000),
 ('Guinea', 7430000),
 ('Guinea-Bissau', 1213000),
 ('Guyana', 861000),
 ('Haiti', 8222000),
 ('Honduras', 6485000),
 ('Hong Kong', 6782000),
 ('Svalbard and Jan Mayen', 3200),
 ('Indonesia', 212107000),
 ('India', 1013662000),
 ('Iraq', 23115000),
 ('Iran', 67702000),
 ('Ireland', 3775100),
 ('Iceland', 279000),
 ('Israel', 6217000),
 ('Italy', 57680000),
 ('East Timor', 885000),
 ('Austria', 8091800),
 ('Jamaica', 2583000),
 ('Japan', 126714000),
 ('Yemen', 18112000),
 ('Jordan', 5083000),
 ('Christmas Island', 2500),
 ('Yugoslavia', 10640000),
 ('Cambodia', 11168000),
 ('Cameroon', 15085000),
 ('Canada', 31147000),
 ('Cape Verde', 428000),
 ('Kazakstan', 16223000),
 ('Kenya', 30080000),
 ('Central African Republic', 3615000),
 ('China', 1277558000),
 ('Kyrgyzstan', 4699000),
 ('Kiribati', 83000),
 ('Colombia', 42321000),
 ('Comoros', 578000),
 ('Congo', 2943000),
 ('Congo, The Democratic Republic of the', 51654000),
 ('Cocos (Keeling) Islands', 600),
 ('North Korea', 24039000),
 ('South Korea', 46844000),
 ('Greece', 10545700),
 ('Croatia', 4473000),
 ('Cuba', 11201000),
 ('Kuwait', 1972000),
 ('Cyprus', 754700),
 ('Laos', 5433000),
 ('Latvia', 2424200),
 ('Lesotho', 2153000),
 ('Lebanon', 3282000),
 ('Liberia', 3154000),
 ('Libyan Arab Jamahiriya', 5605000),
 ('Liechtenstein', 32300),
 ('Lithuania', 3698500),
 ('Luxembourg', 435700),
 ('Western Sahara', 293000),
 ('Macao', 473000),
 ('Madagascar', 15942000),
 ('Macedonia', 2024000),
 ('Malawi', 10925000),
 ('Maldives', 286000),
 ('Malaysia', 22244000),
 ('Mali', 11234000),
 ('Malta', 380200),
 ('Morocco', 28351000),
 ('Marshall Islands', 64000),
 ('Martinique', 395000),
 ('Mauritania', 2670000),
 ('Mauritius', 1158000),
 ('Mayotte', 149000),
 ('Mexico', 98881000),
 ('Micronesia, Federated States of', 119000),
 ('Moldova', 4380000),
 ('Monaco', 34000),
 ('Mongolia', 2662000),
 ('Montserrat', 11000),
 ('Mozambique', 19680000),
 ('Myanmar', 45611000),
 ('Namibia', 1726000),
 ('Nauru', 12000),
 ('Nepal', 23930000),
 ('Nicaragua', 5074000),
 ('Niger', 10730000),
 ('Nigeria', 111506000),
 ('Niue', 2000),
 ('Norfolk Island', 2000),
 ('Norway', 4478500),
 ('Côte d\x92Ivoire', 14786000),
 ('Oman', 2542000),
 ('Pakistan', 156483000),
 ('Palau', 19000),
 ('Panama', 2856000),
 ('Papua New Guinea', 4807000),
 ('Paraguay', 5496000),
 ('Peru', 25662000),
 ('Pitcairn', 50),
 ('Northern Mariana Islands', 78000),
 ('Portugal', 9997600),
 ('Puerto Rico', 3869000),
 ('Poland', 38653600),
 ('Equatorial Guinea', 453000),
 ('Qatar', 599000),
 ('France', 59225700),
 ('French Guiana', 181000),
 ('French Polynesia', 235000),
 ('Réunion', 699000),
 ('Romania', 22455500),
 ('Rwanda', 7733000),
 ('Sweden', 8861400),
 ('Saint Helena', 6000),
 ('Saint Kitts and Nevis', 38000),
 ('Saint Lucia', 154000),
 ('Saint Vincent and the Grenadines', 114000),
 ('Saint Pierre and Miquelon', 7000),
 ('Germany', 82164700),
 ('Solomon Islands', 444000),
 ('Zambia', 9169000),
 ('Samoa', 180000),
 ('San Marino', 27000),
 ('Sao Tome and Principe', 147000),
 ('Saudi Arabia', 21607000),
 ('Senegal', 9481000),
 ('Seychelles', 77000),
 ('Sierra Leone', 4854000),
 ('Singapore', 3567000),
 ('Slovakia', 5398700),
 ('Slovenia', 1987800),
 ('Somalia', 10097000),
 ('Sri Lanka', 18827000),
 ('Sudan', 29490000),
 ('Finland', 5171300),
 ('Suriname', 417000),
 ('Swaziland', 1008000),
 ('Switzerland', 7160400),
 ('Syria', 16125000),
 ('Tajikistan', 6188000),
 ('Taiwan', 22256000),
 ('Tanzania', 33517000),
 ('Denmark', 5330000),
 ('Thailand', 61399000),
 ('Togo', 4629000),
 ('Tokelau', 2000),
 ('Tonga', 99000),
 ('Trinidad and Tobago', 1295000),
 ('Chad', 7651000),
 ('Czech Republic', 10278100),
 ('Tunisia', 9586000),
 ('Turkey', 66591000),
 ('Turkmenistan', 4459000),
 ('Turks and Caicos Islands', 17000),
 ('Tuvalu', 12000),
 ('Uganda', 21778000),
 ('Ukraine', 50456000),
 ('Hungary', 10043200),
 ('Uruguay', 3337000),
 ('New Caledonia', 214000),
 ('New Zealand', 3862000),
 ('Uzbekistan', 24318000),
 ('Belarus', 10236000),
 ('Wallis and Futuna', 15000),
 ('Vanuatu', 190000),
 ('Holy See (Vatican City State)', 1000),
 ('Venezuela', 24170000),
 ('Russian Federation', 146934000),
 ('Vietnam', 79832000),
 ('Estonia', 1439200),
 ('United States', 278357000),
 ('Virgin Islands, U.S.', 93000),
 ('Zimbabwe', 11669000),
 ('Palestine', 3101000),
 ('Antarctica', 0),
 ('Bouvet Island', 0),
 ('British Indian Ocean Territory', 0),
 ('South Georgia and the South Sandwich Islands', 0),
 ('Heard Island and McDonald Islands', 0),
 ('French Southern territories', 0),
 ('United States Minor Outlying Islands', 0)]

In [11]:
type(query_output)

sql.run.ResultSet

In [12]:
#  Convert to your favorite pandas dataframe
df = query_output.DataFrame()

```{margin}
<img src="img/pandalaugh.jpeg" width="700">
```

In [13]:
type(df)

pandas.core.frame.DataFrame

## Let's talk about DISTINCT keyword ?

In [14]:
%%sql

SELECT
     continent
FROM
    country
;

 * postgresql://postgres:***@localhost:5432/world
239 rows affected.

[('Asia',),
 ('Europe',),
 ('North America',),
 ('Europe',),
 ('Africa',),
 ('Oceania',),
 ('Europe',),
 ('Africa',),
 ('North America',),
 ('North America',),
 ('Asia',),
 ('South America',),
 ('Asia',),
 ('North America',),
 ('Oceania',),
 ('Asia',),
 ('North America',),
 ('Asia',),
 ('Asia',),
 ('North America',),
 ('Europe',),
 ('North America',),
 ('Africa',),
 ('North America',),
 ('Asia',),
 ('South America',),
 ('Europe',),
 ('Africa',),
 ('South America',),
 ('Europe',),
 ('North America',),
 ('Asia',),
 ('Europe',),
 ('Africa',),
 ('Africa',),
 ('North America',),
 ('South America',),
 ('Oceania',),
 ('North America',),
 ('Africa',),
 ('North America',),
 ('North America',),
 ('South America',),
 ('Africa',),
 ('North America',),
 ('Africa',),
 ('Europe',),
 ('Africa',),
 ('Africa',),
 ('South America',),
 ('Oceania',),
 ('Asia',),
 ('Europe',),
 ('Africa',),
 ('Africa',),
 ('Asia',),
 ('Africa',),
 ('Europe',),
 ('North America',),
 ('North America',),
 ('North America',),
 ('Oceania',),
 ('North America',),
 ('Africa',),
 ('Africa',),
 ('South America',),
 ('North America',),
 ('North America',),
 ('Asia',),
 ('Europe',),
 ('Asia',),
 ('Asia',),
 ('Asia',),
 ('Asia',),
 ('Europe',),
 ('Europe',),
 ('Asia',),
 ('Europe',),
 ('Asia',),
 ('Europe',),
 ('North America',),
 ('Asia',),
 ('Asia',),
 ('Asia',),
 ('Oceania',),
 ('Europe',),
 ('Asia',),
 ('Africa',),
 ('North America',),
 ('Africa',),
 ('Asia',),
 ('Africa',),
 ('Africa',),
 ('Asia',),
 ('Asia',),
 ('Oceania',),
 ('South America',),
 ('Africa',),
 ('Africa',),
 ('Africa',),
 ('Oceania',),
 ('Asia',),
 ('Asia',),
 ('Europe',),
 ('Europe',),
 ('North America',),
 ('Asia',),
 ('Asia',),
 ('Asia',),
 ('Europe',),
 ('Africa',),
 ('Asia',),
 ('Africa',),
 ('Africa',),
 ('Europe',),
 ('Europe',),
 ('Europe',),
 ('Africa',),
 ('Asia',),
 ('Africa',),
 ('Europe',),
 ('Africa',),
 ('Asia',),
 ('Asia',),
 ('Africa',),
 ('Europe',),
 ('Africa',),
 ('Oceania',),
 ('North America',),
 ('Africa',),
 ('Africa',),
 ('Africa',),
 ('North America',),
 ('Oceania',),
 ('Europe',),
 ('Europe',),
 ('Asia',),
 ('North America',),
 ('Africa',),
 ('Asia',),
 ('Africa',),
 ('Oceania',),
 ('Asia',),
 ('North America',),
 ('Africa',),
 ('Africa',),
 ('Oceania',),
 ('Oceania',),
 ('Europe',),
 ('Africa',),
 ('Asia',),
 ('Asia',),
 ('Oceania',),
 ('North America',),
 ('Oceania',),
 ('South America',),
 ('South America',),
 ('Oceania',),
 ('Oceania',),
 ('Europe',),
 ('North America',),
 ('Europe',),
 ('Africa',),
 ('Asia',),
 ('Europe',),
 ('South America',),
 ('Oceania',),
 ('Africa',),
 ('Europe',),
 ('Africa',),
 ('Europe',),
 ('Africa',),
 ('North America',),
 ('North America',),
 ('North America',),
 ('North America',),
 ('Europe',),
 ('Oceania',),
 ('Africa',),
 ('Oceania',),
 ('Europe',),
 ('Africa',),
 ('Asia',),
 ('Africa',),
 ('Africa',),
 ('Africa',),
 ('Asia',),
 ('Europe',),
 ('Europe',),
 ('Africa',),
 ('Asia',),
 ('Africa',),
 ('Europe',),
 ('South America',),
 ('Africa',),
 ('Europe',),
 ('Asia',),
 ('Asia',),
 ('Asia',),
 ('Africa',),
 ('Europe',),
 ('Asia',),
 ('Africa',),
 ('Oceania',),
 ('Oceania',),
 ('North America',),
 ('Africa',),
 ('Europe',),
 ('Africa',),
 ('Asia',),
 ('Asia',),
 ('North America',),
 ('Oceania',),
 ('Africa',),
 ('Europe',),
 ('Europe',),
 ('South America',),
 ('Oceania',),
 ('Oceania',),
 ('Asia',),
 ('Europe',),
 ('Oceania',),
 ('Oceania',),
 ('Europe',),
 ('South America',),
 ('Europe',),
 ('Asia',),
 ('Europe',),
 ('North America',),
 ('North America',),
 ('Africa',),
 ('Asia',),
 ('Antarctica',),
 ('Antarctica',),
 ('Africa',),
 ('Antarctica',),
 ('Antarctica',),
 ('Antarctica',),
 ('Oceania',)]

In [15]:
%%sql

SELECT
    DISTINCT continent
FROM
    country
;

 * postgresql://postgres:***@localhost:5432/world
7 rows affected.

[('Asia',),
 ('South America',),
 ('North America',),
 ('Oceania',),
 ('Antarctica',),
 ('Africa',),
 ('Europe',)]

In [16]:
%%sql

SELECT
    DISTINCT continent, region
FROM
    country
;

 * postgresql://postgres:***@localhost:5432/world
25 rows affected.

[('Oceania', 'Melanesia'),
 ('Oceania', 'Australia and New Zealand'),
 ('North America', 'Central America'),
 ('Africa', 'Northern Africa'),
 ('Asia', 'Eastern Asia'),
 ('Oceania', 'Polynesia'),
 ('Europe', 'Nordic Countries'),
 ('Asia', 'Middle East'),
 ('Oceania', 'Micronesia/Caribbean'),
 ('Europe', 'Baltic Countries'),
 ('Asia', 'Southern and Central Asia'),
 ('Africa', 'Southern Africa'),
 ('Africa', 'Western Africa'),
 ('Oceania', 'Micronesia'),
 ('Europe', 'British Islands'),
 ('North America', 'Caribbean'),
 ('Asia', 'Southeast Asia'),
 ('Africa', 'Central Africa'),
 ('Europe', 'Western Europe'),
 ('Europe', 'Southern Europe'),
 ('Africa', 'Eastern Africa'),
 ('North America', 'North America'),
 ('South America', 'South America'),
 ('Antarctica', 'Antarctica'),
 ('Europe', 'Eastern Europe')]

## How can we sort the data that is returned ?

In [17]:
%%sql

SELECT
    name, population
FROM
    country
ORDER BY
    population
;

 * postgresql://postgres:***@localhost:5432/world
239 rows affected.

[('Heard Island and McDonald Islands', 0),
 ('United States Minor Outlying Islands', 0),
 ('South Georgia and the South Sandwich Islands', 0),
 ('Antarctica', 0),
 ('Bouvet Island', 0),
 ('British Indian Ocean Territory', 0),
 ('French Southern territories', 0),
 ('Pitcairn', 50),
 ('Cocos (Keeling) Islands', 600),
 ('Holy See (Vatican City State)', 1000),
 ('Niue', 2000),
 ('Tokelau', 2000),
 ('Falkland Islands', 2000),
 ('Norfolk Island', 2000),
 ('Christmas Island', 2500),
 ('Svalbard and Jan Mayen', 3200),
 ('Saint Helena', 6000),
 ('Saint Pierre and Miquelon', 7000),
 ('Anguilla', 8000),
 ('Montserrat', 11000),
 ('Tuvalu', 12000),
 ('Nauru', 12000),
 ('Wallis and Futuna', 15000),
 ('Turks and Caicos Islands', 17000),
 ('Palau', 19000),
 ('Cook Islands', 20000),
 ('Virgin Islands, British', 21000),
 ('Gibraltar', 25000),
 ('San Marino', 27000),
 ('Liechtenstein', 32300),
 ('Monaco', 34000),
 ('Cayman Islands', 38000),
 ('Saint Kitts and Nevis', 38000),
 ('Faroe Islands', 43000),
 ('Greenland', 56000),
 ('Marshall Islands', 64000),
 ('Bermuda', 65000),
 ('Antigua and Barbuda', 68000),
 ('American Samoa', 68000),
 ('Dominica', 71000),
 ('Seychelles', 77000),
 ('Andorra', 78000),
 ('Northern Mariana Islands', 78000),
 ('Kiribati', 83000),
 ('Virgin Islands, U.S.', 93000),
 ('Grenada', 94000),
 ('Tonga', 99000),
 ('Aruba', 103000),
 ('Saint Vincent and the Grenadines', 114000),
 ('Micronesia, Federated States of', 119000),
 ('Sao Tome and Principe', 147000),
 ('Mayotte', 149000),
 ('Saint Lucia', 154000),
 ('Guam', 168000),
 ('Samoa', 180000),
 ('French Guiana', 181000),
 ('Vanuatu', 190000),
 ('New Caledonia', 214000),
 ('Netherlands Antilles', 217000),
 ('French Polynesia', 235000),
 ('Belize', 241000),
 ('Barbados', 270000),
 ('Iceland', 279000),
 ('Maldives', 286000),
 ('Western Sahara', 293000),
 ('Bahamas', 307000),
 ('Brunei', 328000),
 ('Malta', 380200),
 ('Martinique', 395000),
 ('Suriname', 417000),
 ('Cape Verde', 428000),
 ('Luxembourg', 435700),
 ('Solomon Islands', 444000),
 ('Equatorial Guinea', 453000),
 ('Guadeloupe', 456000),
 ('Macao', 473000),
 ('Comoros', 578000),
 ('Qatar', 599000),
 ('Bahrain', 617000),
 ('Djibouti', 638000),
 ('Réunion', 699000),
 ('Cyprus', 754700),
 ('Fiji Islands', 817000),
 ('Guyana', 861000),
 ('East Timor', 885000),
 ('Swaziland', 1008000),
 ('Mauritius', 1158000),
 ('Guinea-Bissau', 1213000),
 ('Gabon', 1226000),
 ('Trinidad and Tobago', 1295000),
 ('Gambia', 1305000),
 ('Estonia', 1439200),
 ('Botswana', 1622000),
 ('Namibia', 1726000),
 ('Kuwait', 1972000),
 ('Slovenia', 1987800),
 ('Macedonia', 2024000),
 ('Bhutan', 2124000),
 ('Lesotho', 2153000),
 ('Latvia', 2424200),
 ('United Arab Emirates', 2441000),
 ('Oman', 2542000),
 ('Jamaica', 2583000),
 ('Mongolia', 2662000),
 ('Mauritania', 2670000),
 ('Panama', 2856000),
 ('Congo', 2943000),
 ('Palestine', 3101000),
 ('Liberia', 3154000),
 ('Lebanon', 3282000),
 ('Uruguay', 3337000),
 ('Albania', 3401200),
 ('Armenia', 3520000),
 ('Singapore', 3567000),
 ('Central African Republic', 3615000),
 ('Lithuania', 3698500),
 ('Ireland', 3775100),
 ('Eritrea', 3850000),
 ('New Zealand', 3862000),
 ('Puerto Rico', 3869000),
 ('Bosnia and Herzegovina', 3972000),
 ('Costa Rica', 4023000),
 ('Moldova', 4380000),
 ('Turkmenistan', 4459000),
 ('Croatia', 4473000),
 ('Norway', 4478500),
 ('Togo', 4629000),
 ('Kyrgyzstan', 4699000),
 ('Papua New Guinea', 4807000),
 ('Sierra Leone', 4854000),
 ('Georgia', 4968000),
 ('Nicaragua', 5074000),
 ('Jordan', 5083000),
 ('Finland', 5171300),
 ('Denmark', 5330000),
 ('Slovakia', 5398700),
 ('Laos', 5433000),
 ('Paraguay', 5496000),
 ('Libyan Arab Jamahiriya', 5605000),
 ('Benin', 6097000),
 ('Tajikistan', 6188000),
 ('Israel', 6217000),
 ('El Salvador', 6276000),
 ('Honduras', 6485000),
 ('Burundi', 6695000),
 ('Hong Kong', 6782000),
 ('Switzerland', 7160400),
 ('Guinea', 7430000),
 ('Chad', 7651000),
 ('Rwanda', 7733000),
 ('Azerbaijan', 7734000),
 ('Austria', 8091800),
 ('Bulgaria', 8190900),
 ('Haiti', 8222000),
 ('Bolivia', 8329000),
 ('Dominican Republic', 8495000),
 ('Sweden', 8861400),
 ('Zambia', 9169000),
 ('Senegal', 9481000),
 ('Tunisia', 9586000),
 ('Portugal', 9997600),
 ('Hungary', 10043200),
 ('Somalia', 10097000),
 ('Belarus', 10236000),
 ('Belgium', 10239000),
 ('Czech Republic', 10278100),
 ('Greece', 10545700),
 ('Yugoslavia', 10640000),
 ('Niger', 10730000),
 ('Malawi', 10925000),
 ('Cambodia', 11168000),
 ('Cuba', 11201000),
 ('Mali', 11234000),
 ('Guatemala', 11385000),
 ('Zimbabwe', 11669000),
 ('Burkina Faso', 11937000),
 ('Ecuador', 12646000),
 ('Angola', 12878000),
 ('Côte d\x92Ivoire', 14786000),
 ('Cameroon', 15085000),
 ('Chile', 15211000),
 ('Netherlands', 15864000),
 ('Madagascar', 15942000),
 ('Syria', 16125000),
 ('Kazakstan', 16223000),
 ('Yemen', 18112000),
 ('Sri Lanka', 18827000),
 ('Australia', 18886000),
 ('Mozambique', 19680000),
 ('Ghana', 20212000),
 ('Saudi Arabia', 21607000),
 ('Uganda', 21778000),
 ('Malaysia', 22244000),
 ('Taiwan', 22256000),
 ('Romania', 22455500),
 ('Afghanistan', 22720000),
 ('Iraq', 23115000),
 ('Nepal', 23930000),
 ('North Korea', 24039000),
 ('Venezuela', 24170000),
 ('Uzbekistan', 24318000),
 ('Peru', 25662000),
 ('Morocco', 28351000),
 ('Sudan', 29490000),
 ('Kenya', 30080000),
 ('Canada', 31147000),
 ('Algeria', 31471000),
 ('Tanzania', 33517000),
 ('Argentina', 37032000),
 ('Poland', 38653600),
 ('Spain', 39441700),
 ('South Africa', 40377000),
 ('Colombia', 42321000),
 ('Myanmar', 45611000),
 ('South Korea', 46844000),
 ('Ukraine', 50456000),
 ('Congo, The Democratic Republic of the', 51654000),
 ('Italy', 57680000),
 ('France', 59225700),
 ('United Kingdom', 59623400),
 ('Thailand', 61399000),
 ('Ethiopia', 62565000),
 ('Turkey', 66591000),
 ('Iran', 67702000),
 ('Egypt', 68470000),
 ('Philippines', 75967000),
 ('Vietnam', 79832000),
 ('Germany', 82164700),
 ('Mexico', 98881000),
 ('Nigeria', 111506000),
 ('Japan', 126714000),
 ('Bangladesh', 129155000),
 ('Russian Federation', 146934000),
 ('Pakistan', 156483000),
 ('Brazil', 170115000),
 ('Indonesia', 212107000),
 ('United States', 278357000),
 ('India', 1013662000),
 ('China', 1277558000)]

In [18]:
%%sql

SELECT
    name, population
FROM
    country
ORDER BY
    population DESC
;

 * postgresql://postgres:***@localhost:5432/world
239 rows affected.

[('China', 1277558000),
 ('India', 1013662000),
 ('United States', 278357000),
 ('Indonesia', 212107000),
 ('Brazil', 170115000),
 ('Pakistan', 156483000),
 ('Russian Federation', 146934000),
 ('Bangladesh', 129155000),
 ('Japan', 126714000),
 ('Nigeria', 111506000),
 ('Mexico', 98881000),
 ('Germany', 82164700),
 ('Vietnam', 79832000),
 ('Philippines', 75967000),
 ('Egypt', 68470000),
 ('Iran', 67702000),
 ('Turkey', 66591000),
 ('Ethiopia', 62565000),
 ('Thailand', 61399000),
 ('United Kingdom', 59623400),
 ('France', 59225700),
 ('Italy', 57680000),
 ('Congo, The Democratic Republic of the', 51654000),
 ('Ukraine', 50456000),
 ('South Korea', 46844000),
 ('Myanmar', 45611000),
 ('Colombia', 42321000),
 ('South Africa', 40377000),
 ('Spain', 39441700),
 ('Poland', 38653600),
 ('Argentina', 37032000),
 ('Tanzania', 33517000),
 ('Algeria', 31471000),
 ('Canada', 31147000),
 ('Kenya', 30080000),
 ('Sudan', 29490000),
 ('Morocco', 28351000),
 ('Peru', 25662000),
 ('Uzbekistan', 24318000),
 ('Venezuela', 24170000),
 ('North Korea', 24039000),
 ('Nepal', 23930000),
 ('Iraq', 23115000),
 ('Afghanistan', 22720000),
 ('Romania', 22455500),
 ('Taiwan', 22256000),
 ('Malaysia', 22244000),
 ('Uganda', 21778000),
 ('Saudi Arabia', 21607000),
 ('Ghana', 20212000),
 ('Mozambique', 19680000),
 ('Australia', 18886000),
 ('Sri Lanka', 18827000),
 ('Yemen', 18112000),
 ('Kazakstan', 16223000),
 ('Syria', 16125000),
 ('Madagascar', 15942000),
 ('Netherlands', 15864000),
 ('Chile', 15211000),
 ('Cameroon', 15085000),
 ('Côte d\x92Ivoire', 14786000),
 ('Angola', 12878000),
 ('Ecuador', 12646000),
 ('Burkina Faso', 11937000),
 ('Zimbabwe', 11669000),
 ('Guatemala', 11385000),
 ('Mali', 11234000),
 ('Cuba', 11201000),
 ('Cambodia', 11168000),
 ('Malawi', 10925000),
 ('Niger', 10730000),
 ('Yugoslavia', 10640000),
 ('Greece', 10545700),
 ('Czech Republic', 10278100),
 ('Belgium', 10239000),
 ('Belarus', 10236000),
 ('Somalia', 10097000),
 ('Hungary', 10043200),
 ('Portugal', 9997600),
 ('Tunisia', 9586000),
 ('Senegal', 9481000),
 ('Zambia', 9169000),
 ('Sweden', 8861400),
 ('Dominican Republic', 8495000),
 ('Bolivia', 8329000),
 ('Haiti', 8222000),
 ('Bulgaria', 8190900),
 ('Austria', 8091800),
 ('Azerbaijan', 7734000),
 ('Rwanda', 7733000),
 ('Chad', 7651000),
 ('Guinea', 7430000),
 ('Switzerland', 7160400),
 ('Hong Kong', 6782000),
 ('Burundi', 6695000),
 ('Honduras', 6485000),
 ('El Salvador', 6276000),
 ('Israel', 6217000),
 ('Tajikistan', 6188000),
 ('Benin', 6097000),
 ('Libyan Arab Jamahiriya', 5605000),
 ('Paraguay', 5496000),
 ('Laos', 5433000),
 ('Slovakia', 5398700),
 ('Denmark', 5330000),
 ('Finland', 5171300),
 ('Jordan', 5083000),
 ('Nicaragua', 5074000),
 ('Georgia', 4968000),
 ('Sierra Leone', 4854000),
 ('Papua New Guinea', 4807000),
 ('Kyrgyzstan', 4699000),
 ('Togo', 4629000),
 ('Norway', 4478500),
 ('Croatia', 4473000),
 ('Turkmenistan', 4459000),
 ('Moldova', 4380000),
 ('Costa Rica', 4023000),
 ('Bosnia and Herzegovina', 3972000),
 ('Puerto Rico', 3869000),
 ('New Zealand', 3862000),
 ('Eritrea', 3850000),
 ('Ireland', 3775100),
 ('Lithuania', 3698500),
 ('Central African Republic', 3615000),
 ('Singapore', 3567000),
 ('Armenia', 3520000),
 ('Albania', 3401200),
 ('Uruguay', 3337000),
 ('Lebanon', 3282000),
 ('Liberia', 3154000),
 ('Palestine', 3101000),
 ('Congo', 2943000),
 ('Panama', 2856000),
 ('Mauritania', 2670000),
 ('Mongolia', 2662000),
 ('Jamaica', 2583000),
 ('Oman', 2542000),
 ('United Arab Emirates', 2441000),
 ('Latvia', 2424200),
 ('Lesotho', 2153000),
 ('Bhutan', 2124000),
 ('Macedonia', 2024000),
 ('Slovenia', 1987800),
 ('Kuwait', 1972000),
 ('Namibia', 1726000),
 ('Botswana', 1622000),
 ('Estonia', 1439200),
 ('Gambia', 1305000),
 ('Trinidad and Tobago', 1295000),
 ('Gabon', 1226000),
 ('Guinea-Bissau', 1213000),
 ('Mauritius', 1158000),
 ('Swaziland', 1008000),
 ('East Timor', 885000),
 ('Guyana', 861000),
 ('Fiji Islands', 817000),
 ('Cyprus', 754700),
 ('Réunion', 699000),
 ('Djibouti', 638000),
 ('Bahrain', 617000),
 ('Qatar', 599000),
 ('Comoros', 578000),
 ('Macao', 473000),
 ('Guadeloupe', 456000),
 ('Equatorial Guinea', 453000),
 ('Solomon Islands', 444000),
 ('Luxembourg', 435700),
 ('Cape Verde', 428000),
 ('Suriname', 417000),
 ('Martinique', 395000),
 ('Malta', 380200),
 ('Brunei', 328000),
 ('Bahamas', 307000),
 ('Western Sahara', 293000),
 ('Maldives', 286000),
 ('Iceland', 279000),
 ('Barbados', 270000),
 ('Belize', 241000),
 ('French Polynesia', 235000),
 ('Netherlands Antilles', 217000),
 ('New Caledonia', 214000),
 ('Vanuatu', 190000),
 ('French Guiana', 181000),
 ('Samoa', 180000),
 ('Guam', 168000),
 ('Saint Lucia', 154000),
 ('Mayotte', 149000),
 ('Sao Tome and Principe', 147000),
 ('Micronesia, Federated States of', 119000),
 ('Saint Vincent and the Grenadines', 114000),
 ('Aruba', 103000),
 ('Tonga', 99000),
 ('Grenada', 94000),
 ('Virgin Islands, U.S.', 93000),
 ('Kiribati', 83000),
 ('Andorra', 78000),
 ('Northern Mariana Islands', 78000),
 ('Seychelles', 77000),
 ('Dominica', 71000),
 ('Antigua and Barbuda', 68000),
 ('American Samoa', 68000),
 ('Bermuda', 65000),
 ('Marshall Islands', 64000),
 ('Greenland', 56000),
 ('Faroe Islands', 43000),
 ('Saint Kitts and Nevis', 38000),
 ('Cayman Islands', 38000),
 ('Monaco', 34000),
 ('Liechtenstein', 32300),
 ('San Marino', 27000),
 ('Gibraltar', 25000),
 ('Virgin Islands, British', 21000),
 ('Cook Islands', 20000),
 ('Palau', 19000),
 ('Turks and Caicos Islands', 17000),
 ('Wallis and Futuna', 15000),
 ('Tuvalu', 12000),
 ('Nauru', 12000),
 ('Montserrat', 11000),
 ('Anguilla', 8000),
 ('Saint Pierre and Miquelon', 7000),
 ('Saint Helena', 6000),
 ('Svalbard and Jan Mayen', 3200),
 ('Christmas Island', 2500),
 ('Falkland Islands', 2000),
 ('Tokelau', 2000),
 ('Norfolk Island', 2000),
 ('Niue', 2000),
 ('Holy See (Vatican City State)', 1000),
 ('Cocos (Keeling) Islands', 600),
 ('Pitcairn', 50),
 ('Antarctica', 0),
 ('Bouvet Island', 0),
 ('British Indian Ocean Territory', 0),
 ('South Georgia and the South Sandwich Islands', 0),
 ('Heard Island and McDonald Islands', 0),
 ('French Southern territories', 0),
 ('United States Minor Outlying Islands', 0)]

## I don't want to return all of the data! What can I do?

In [19]:
%%sql

SELECT
    name, continent
FROM
    country
LIMIT
    5
;

 * postgresql://postgres:***@localhost:5432/world
5 rows affected.

[('Afghanistan', 'Asia'),
 ('Netherlands', 'Europe'),
 ('Netherlands Antilles', 'North America'),
 ('Albania', 'Europe'),
 ('Algeria', 'Africa')]

The order of SQL clauses does matter. The correct order for the ones that we’ve learned so far is:

        SELECT
        FROM
        WHERE
        ORDER BY
        LIMIT

## Wrap up 
<img src="img/wraplec1.png" width="800">

## Moral of the story

- SQL is a language to interact with databases. (Mainly 2 kinds DDL and DML)
- Databases vs DBMS vs csv files vs spreadsheets
- WHY we want databases ?
- How to interact with databases ?
- How to write SQL queries ? We started very basic keywords
    - SELECT
    - FROM
    - WHERE
    - ORDER BY
    - DISTINCT
    - LIMIT
- More fun to come in the next class. We will learn more about SQL queries and how to write them.

## FAQs (if you see any installation issues)

Some FAQs from last year that you might find helpful:

- I can’t restore the dump files on Windows, pgAdmin cannot find binary paths.

Binary paths in pgAdmin can be set in “File” => “Preferences” => “Paths” => “Binary Paths”. On Windows, binaries usually live somewhere like C:\Program Files\PostgreSQL\15\bin\. Set the binary paths and try again.

---

- On Ubuntu, I followed the installation instructions but I don’t have pgAdmin installed on my system. Is there a specific way to access it from the terminal? I can’t seem to find a GUI installed. Anyone on ubuntu with the same issue?

On Ubuntu, you have to install pgAdmin separate using sudo apt install pgadmin4.

---

- How to reset password for postgres user on

    - Ubuntu: https://stackoverflow.com/a/29707510
    - Windows: https://dba.stackexchange.com/a/44588
    - Mac/quite general: [Here](https://community.qlik.com/t5/Connectivity-Data-Prep/PostgreSQL-Password-forgot/td-p/2160246)

---

### How to uninstall Postgres on Windows:

Uninstall the program, stop the services, delete all residual files + remove all registry keys under the name “postgres” or “pgadmin”, and you should be able to setup a new password.

---

### How to uninstall Postgres on Mac:

- Open a terminal window, and run these commands

cd /Library/PostgreSQL/15
open uninstall-postgresql.app/

This should launch the uninstall program. Note that the target folder in step 1 (e.g. 15) depends on the version you have.

- After uninstalling, go to this path: /Library/ and delete the folder PostgreSQL. This folder may be locked; if that’s the case, right click on it => “Get info” => scroll down and click the orange/brown lock icon. Also, click the three dots ... and click “Apply to enclosed items”.

- Open a terminal and run the following commands:

sudo dscl . -create /Users/postgres UserShell /bin/sh
sudo dscl . -create /Users/postgres NFSHomeDirectory /Library/PostgreSQL

- Restart your computer, and reinstall Postgres.

---

- By default, the server group appearing in the left pane of pgAdmin is named PostgreSQL <X>. Regardless, it doesn’t matter at all what you call your server group on pgAdmin; that’s up to you.

---

### There are in general two sets of passwords we have to deal with:

- First, One master password for unlocking pgAdmin interface. This password is set the first time you open pgAdmin. This doesn’t have anything to do with your database user accounts.

- Second, There’s a username and password which is associated with your database account. The postgres username on your local Postgres installation, which is created by default, is an example of that. This is for accessing the databases whenever you make a connection to the database, e.g. from Jupyter, psql, etc.. You set a password for this user (i.e. postgres user) during Postgres installation.

————————————