# Lecture 6: Views, CTEs, window functions, indexing

## Announcements 
- We will be having worksheets next week. 
- ~ 15 -20 min at the end of leture to get started with MQL and get going with the setups. This will be the last lecture with iclickers.

## Theme
- Understand WHY, HOW, and WHERE to use views
- Understand how to use CTEs to simplify queries. Also, WHY to use them?
- Discuss window functions and their use cases

```{admonition} Recap iclicker: Find employees who work in departments where at least one employee earns more than $100,000
discuss and try writing a query OR just workout the logic.
```

```sql
A. SELECT e.name
   FROM employee e
   WHERE EXISTS (SELECT * 
    FROM employee emp
    WHERE e.department_id = emp.department_id 
    AND emp.salary > 100000);
```
```sql
B. SELECT e.name
   FROM employee e
   WHERE e.department_id = ANY (
    SELECT emp.department_id 
    FROM employee emp
    WHERE emp.salary > 100000)
```
```sql
C. SELECT e.name
   FROM employee e
   WHERE e.department_id IN (
    SELECT emp.department_id 
    FROM employee emp
    WHERE emp.salary > 100000)
```
```sql
D. SELECT e.name
   FROM employee e
   JOIN employee emp ON e.department_id = emp.department_id
   WHERE emp.salary > 100000;
```

E. I tried some other logic....

Let's dive in to todays theme.

In [1]:
# This is how you deal with credentials in a notebook
import json
import urllib.parse

with open('../lectures/data/credentials.json') as f:
    login = json.load(f)
    
username = login['user']
password = urllib.parse.quote(login['password'])
host = login['host']
port = login['port']

In [2]:
%load_ext sql
%config SqlMagic.displaylimit = 30

In [3]:
%sql postgresql://{username}:{password}@{host}:{port}/world

Okay, ***let's start with a query we did in the last lecture.***

**Example:** Which countries speak at least one language that is not spoken in any other country on their continent?

In [4]:
%%sql

DROP TABLE IF EXISTS ccl;

CREATE TEMPORARY TABLE ccl AS (
    SELECT
        co.name, co.continent, cl.language
    FROM
        country co
    JOIN
        countrylanguage cl
    ON
        co.code = cl.countrycode
    WHERE
        co.continent IN ('Asia', 'Europe')
)
;

 * postgresql://postgres:***@localhost:5432/world
Done.
441 rows affected.

[]

We are using the temporary table we created, `ccl`, in the below query.

In [5]:
%%sql

SELECT
    t1.*
FROM
    ccl t1
WHERE
    NOT EXISTS (
        SELECT
            *
        FROM
            ccl t2
        WHERE
            t1.name <> t2.name
            AND
            t1.continent = t2.continent
            AND
            t1.language = t2.language
    )

 * postgresql://postgres:***@localhost:5432/world
129 rows affected.

[('Bhutan', 'Asia', 'Dzongkha'),
 ('Philippines', 'Asia', 'Pilipino'),
 ('Faroe Islands', 'Europe', 'Faroese'),
 ('Georgia', 'Asia', 'Georgiana'),
 ('Indonesia', 'Asia', 'Javanese'),
 ('Iceland', 'Europe', 'Icelandic'),
 ('Japan', 'Asia', 'Japanese'),
 ('Kyrgyzstan', 'Asia', 'Kirgiz'),
 ('Cyprus', 'Asia', 'Greek'),
 ('Latvia', 'Europe', 'Latvian'),
 ('Luxembourg', 'Europe', 'Luxembourgish'),
 ('Maldives', 'Asia', 'Dhivehi'),
 ('Malta', 'Europe', 'Maltese'),
 ('Myanmar', 'Asia', 'Burmese'),
 ('Sri Lanka', 'Asia', 'Singali'),
 ('Taiwan', 'Asia', 'Min'),
 ('Afghanistan', 'Asia', 'Dari'),
 ('Netherlands', 'Europe', 'Fries'),
 ('Bangladesh', 'Asia', 'Chakma'),
 ('United Kingdom', 'Europe', 'Kymri'),
 ('Brunei', 'Asia', 'Malay-English'),
 ('Philippines', 'Asia', 'Cebuano'),
 ('Ireland', 'Europe', 'Irish'),
 ('Italy', 'Europe', 'Sardinian'),
 ('Yemen', 'Asia', 'Soqutri'),
 ('Jordan', 'Asia', 'Circassian'),
 ('China', 'Asia', 'Zhuang'),
 ('Laos', 'Asia', 'Mon-khmer'),
 ('Monaco', 'Europe', 'Monegasque'),
 ('Myanmar', 'Asia', 'Shan'),
 ('Nepal', 'Asia', 'Maithili'),
 ('Czech Republic', 'Europe', 'Moravian'),
 ('Russian Federation', 'Europe', 'Tatar'),
 ('Vietnam', 'Asia', 'Tho'),
 ('Azerbaijan', 'Asia', 'Lezgian'),
 ('Bangladesh', 'Asia', 'Marma'),
 ('United Kingdom', 'Europe', 'Gaeli'),
 ('Spain', 'Europe', 'Galecian'),
 ('Philippines', 'Asia', 'Ilocano'),
 ('Hong Kong', 'Asia', 'Fukien'),
 ('India', 'Asia', 'Telugu'),
 ('Italy', 'Europe', 'Friuli'),
 ('China', 'Asia', 'Mant\x9au'),
 ('Lebanon', 'Asia', 'French'),
 ('Mongolia', 'Asia', 'Dorbet'),
 ('Myanmar', 'Asia', 'Karen'),
 ('Nepal', 'Asia', 'Bhojpuri'),
 ('Pakistan', 'Asia', 'Sindhi'),
 ('Sri Lanka', 'Asia', 'Mixed Languages'),
 ('Bangladesh', 'Asia', 'Garo'),
 ('Spain', 'Europe', 'Basque'),
 ('Philippines', 'Asia', 'Hiligaynon'),
 ('Indonesia', 'Asia', 'Madura'),
 ('India', 'Asia', 'Marathi'),
 ('Iraq', 'Asia', 'Assyrian'),
 ('Iran', 'Asia', 'Gilaki'),
 ('Cambodia', 'Asia', 'T\x9aam'),
 ('Kazakstan', 'Asia', 'German'),
 ('China', 'Asia', 'Hui'),
 ('Laos', 'Asia', 'Lao-Soung'),
 ('Malaysia', 'Asia', 'Iban'),
 ('Moldova', 'Europe', 'Gagauzi'),
 ('Mongolia', 'Asia', 'Bajad'),
 ('Myanmar', 'Asia', 'Rakhine'),
 ('Nepal', 'Asia', 'Tharu'),
 ('Pakistan', 'Asia', 'Saraiki'),
 ('Slovakia', 'Europe', 'Czech and Moravian'),
 ('Switzerland', 'Europe', 'Romansh'),
 ('Taiwan', 'Asia', 'Ami'),
 ('Russian Federation', 'Europe', 'Chuvash'),
 ('Vietnam', 'Asia', 'Muong'),
 ('Bangladesh', 'Asia', 'Khasi'),
 ('Philippines', 'Asia', 'Bicol'),
 ('Georgia', 'Asia', 'Osseetti'),
 ('Hong Kong', 'Asia', 'Chiu chau'),
 ('Indonesia', 'Asia', 'Minangkabau'),
 ('Iran', 'Asia', 'Luri'),
 ('Japan', 'Asia', 'Philippene Languages'),
 ('Mongolia', 'Asia', 'Buryat'),
 ('Myanmar', 'Asia', 'Mon'),
 ('Nepal', 'Asia', 'Tamang'),
 ('Slovakia', 'Europe', 'Ukrainian and Russian'),
 ('Taiwan', 'Asia', 'Atayal'),
 ('Uzbekistan', 'Asia', 'Karakalpak'),
 ('Russian Federation', 'Europe', 'Bashkir'),
 ('Bangladesh', 'Asia', 'Santhali'),
 ('Philippines', 'Asia', 'Waray-waray'),
 ('Georgia', 'Asia', 'Abhyasi'),
 ('Indonesia', 'Asia', 'Batakki'),
 ('Iran', 'Asia', 'Mazandarani'),
 ('Japan', 'Asia', 'Ainu'),
 ('China', 'Asia', 'Uighur'),
 ('Malaysia', 'Asia', 'Dusun'),
 ('Mongolia', 'Asia', 'Dariganga'),
 ('Myanmar', 'Asia', 'Chin'),
 ('Nepal', 'Asia', 'Newari'),
 ('Taiwan', 'Asia', 'Paiwan'),
 ('Thailand', 'Asia', 'Kuy'),
 ('Czech Republic', 'Europe', 'Silesiana'),
 ('Russian Federation', 'Europe', 'Chechen'),
 ('Bangladesh', 'Asia', 'Tripuri'),
 ('Philippines', 'Asia', 'Pampango'),
 ('Indonesia', 'Asia', 'Bugi'),
 ('India', 'Asia', 'Gujarati'),
 ('China', 'Asia', 'Yi'),
 ('Myanmar', 'Asia', 'Kachin'),
 ('Pakistan', 'Asia', 'Hindko'),
 ('Russian Federation', 'Europe', 'Mordva'),
 ('Vietnam', 'Asia', 'Nung'),
 ('Philippines', 'Asia', 'Pangasinan'),
 ('Indonesia', 'Asia', 'Banja'),
 ('India', 'Asia', 'Kannada'),
 ('China', 'Asia', 'Tujia'),
 ('Myanmar', 'Asia', 'Kayah'),
 ('Pakistan', 'Asia', 'Brahui'),
 ('Russian Federation', 'Europe', 'Kazakh'),
 ('Philippines', 'Asia', 'Maguindanao'),
 ('Indonesia', 'Asia', 'Bali'),
 ('India', 'Asia', 'Malajalam'),
 ('Iran', 'Asia', 'Bakhtyari'),
 ('Russian Federation', 'Europe', 'Avarian'),
 ('Vietnam', 'Asia', 'Man'),
 ('Philippines', 'Asia', 'Maranao'),
 ('India', 'Asia', 'Orija'),
 ('China', 'Asia', 'Tibetan'),
 ('Russian Federation', 'Europe', 'Mari'),
 ('China', 'Asia', 'Puyi'),
 ('Russian Federation', 'Europe', 'Udmur'),
 ('China', 'Asia', 'Dong')]

```{admonition} Discussion Question: What are some of the disadvantages of creating a temporary table?

<img src="img/discuss.png" width="120">
```

```{toggle}
- You have to create the table every time you want to use it.
- No one else can use the temporary tables. What if a group of people wants to perform the same query? Do you think it is ideal for them to create their own temporary tables? That is redundant work !!!!

So, if we define a use case, it could be the case that a group of people are only interested in the following columns in the following tables:
- In the `country` table, the columns `name` and `continent`.
- In the `countrylanguage` table, just one column, `language`.

Or, if we take the use case further, it could also be the case that this group of people is only allowed to access these columns (perhaps due to security reasons).

This is when you want to think about a VIEW. This way, we don't have to grant certain users permissions to the master tables but can grant permissions to certain columns in certain tables.
```

Let's create a view for the above query.

In [6]:
%%sql
-- I am dropping the temporary table that we created 
DROP TABLE IF EXISTS ccl;

CREATE OR REPLACE VIEW ccl_view AS (
    SELECT
        co.name, co.continent, cl.language
    FROM
        country co
    JOIN
        countrylanguage cl
    ON
        co.code = cl.countrycode
    WHERE
        co.continent IN ('Asia', 'Europe')
)
;

 * postgresql://postgres:***@localhost:5432/world
Done.
Done.

[]

In [7]:
%%sql

SELECT
    t1.*
FROM
    ccl_view t1
WHERE
    NOT EXISTS (
        SELECT
            *
        FROM
            ccl_view t2
        WHERE
            t1.name <> t2.name
            AND
            t1.continent = t2.continent
            AND
            t1.language = t2.language
    )

 * postgresql://postgres:***@localhost:5432/world
129 rows affected.

[('Bhutan', 'Asia', 'Dzongkha'),
 ('Philippines', 'Asia', 'Pilipino'),
 ('Faroe Islands', 'Europe', 'Faroese'),
 ('Georgia', 'Asia', 'Georgiana'),
 ('Indonesia', 'Asia', 'Javanese'),
 ('Iceland', 'Europe', 'Icelandic'),
 ('Japan', 'Asia', 'Japanese'),
 ('Kyrgyzstan', 'Asia', 'Kirgiz'),
 ('Cyprus', 'Asia', 'Greek'),
 ('Latvia', 'Europe', 'Latvian'),
 ('Luxembourg', 'Europe', 'Luxembourgish'),
 ('Maldives', 'Asia', 'Dhivehi'),
 ('Malta', 'Europe', 'Maltese'),
 ('Myanmar', 'Asia', 'Burmese'),
 ('Sri Lanka', 'Asia', 'Singali'),
 ('Taiwan', 'Asia', 'Min'),
 ('Afghanistan', 'Asia', 'Dari'),
 ('Netherlands', 'Europe', 'Fries'),
 ('Bangladesh', 'Asia', 'Chakma'),
 ('United Kingdom', 'Europe', 'Kymri'),
 ('Brunei', 'Asia', 'Malay-English'),
 ('Philippines', 'Asia', 'Cebuano'),
 ('Ireland', 'Europe', 'Irish'),
 ('Italy', 'Europe', 'Sardinian'),
 ('Yemen', 'Asia', 'Soqutri'),
 ('Jordan', 'Asia', 'Circassian'),
 ('China', 'Asia', 'Zhuang'),
 ('Laos', 'Asia', 'Mon-khmer'),
 ('Monaco', 'Europe', 'Monegasque'),
 ('Myanmar', 'Asia', 'Shan'),
 ('Nepal', 'Asia', 'Maithili'),
 ('Czech Republic', 'Europe', 'Moravian'),
 ('Russian Federation', 'Europe', 'Tatar'),
 ('Vietnam', 'Asia', 'Tho'),
 ('Azerbaijan', 'Asia', 'Lezgian'),
 ('Bangladesh', 'Asia', 'Marma'),
 ('United Kingdom', 'Europe', 'Gaeli'),
 ('Spain', 'Europe', 'Galecian'),
 ('Philippines', 'Asia', 'Ilocano'),
 ('Hong Kong', 'Asia', 'Fukien'),
 ('India', 'Asia', 'Telugu'),
 ('Italy', 'Europe', 'Friuli'),
 ('China', 'Asia', 'Mant\x9au'),
 ('Lebanon', 'Asia', 'French'),
 ('Mongolia', 'Asia', 'Dorbet'),
 ('Myanmar', 'Asia', 'Karen'),
 ('Nepal', 'Asia', 'Bhojpuri'),
 ('Pakistan', 'Asia', 'Sindhi'),
 ('Sri Lanka', 'Asia', 'Mixed Languages'),
 ('Bangladesh', 'Asia', 'Garo'),
 ('Spain', 'Europe', 'Basque'),
 ('Philippines', 'Asia', 'Hiligaynon'),
 ('Indonesia', 'Asia', 'Madura'),
 ('India', 'Asia', 'Marathi'),
 ('Iraq', 'Asia', 'Assyrian'),
 ('Iran', 'Asia', 'Gilaki'),
 ('Cambodia', 'Asia', 'T\x9aam'),
 ('Kazakstan', 'Asia', 'German'),
 ('China', 'Asia', 'Hui'),
 ('Laos', 'Asia', 'Lao-Soung'),
 ('Malaysia', 'Asia', 'Iban'),
 ('Moldova', 'Europe', 'Gagauzi'),
 ('Mongolia', 'Asia', 'Bajad'),
 ('Myanmar', 'Asia', 'Rakhine'),
 ('Nepal', 'Asia', 'Tharu'),
 ('Pakistan', 'Asia', 'Saraiki'),
 ('Slovakia', 'Europe', 'Czech and Moravian'),
 ('Switzerland', 'Europe', 'Romansh'),
 ('Taiwan', 'Asia', 'Ami'),
 ('Russian Federation', 'Europe', 'Chuvash'),
 ('Vietnam', 'Asia', 'Muong'),
 ('Bangladesh', 'Asia', 'Khasi'),
 ('Philippines', 'Asia', 'Bicol'),
 ('Georgia', 'Asia', 'Osseetti'),
 ('Hong Kong', 'Asia', 'Chiu chau'),
 ('Indonesia', 'Asia', 'Minangkabau'),
 ('Iran', 'Asia', 'Luri'),
 ('Japan', 'Asia', 'Philippene Languages'),
 ('Mongolia', 'Asia', 'Buryat'),
 ('Myanmar', 'Asia', 'Mon'),
 ('Nepal', 'Asia', 'Tamang'),
 ('Slovakia', 'Europe', 'Ukrainian and Russian'),
 ('Taiwan', 'Asia', 'Atayal'),
 ('Uzbekistan', 'Asia', 'Karakalpak'),
 ('Russian Federation', 'Europe', 'Bashkir'),
 ('Bangladesh', 'Asia', 'Santhali'),
 ('Philippines', 'Asia', 'Waray-waray'),
 ('Georgia', 'Asia', 'Abhyasi'),
 ('Indonesia', 'Asia', 'Batakki'),
 ('Iran', 'Asia', 'Mazandarani'),
 ('Japan', 'Asia', 'Ainu'),
 ('China', 'Asia', 'Uighur'),
 ('Malaysia', 'Asia', 'Dusun'),
 ('Mongolia', 'Asia', 'Dariganga'),
 ('Myanmar', 'Asia', 'Chin'),
 ('Nepal', 'Asia', 'Newari'),
 ('Taiwan', 'Asia', 'Paiwan'),
 ('Thailand', 'Asia', 'Kuy'),
 ('Czech Republic', 'Europe', 'Silesiana'),
 ('Russian Federation', 'Europe', 'Chechen'),
 ('Bangladesh', 'Asia', 'Tripuri'),
 ('Philippines', 'Asia', 'Pampango'),
 ('Indonesia', 'Asia', 'Bugi'),
 ('India', 'Asia', 'Gujarati'),
 ('China', 'Asia', 'Yi'),
 ('Myanmar', 'Asia', 'Kachin'),
 ('Pakistan', 'Asia', 'Hindko'),
 ('Russian Federation', 'Europe', 'Mordva'),
 ('Vietnam', 'Asia', 'Nung'),
 ('Philippines', 'Asia', 'Pangasinan'),
 ('Indonesia', 'Asia', 'Banja'),
 ('India', 'Asia', 'Kannada'),
 ('China', 'Asia', 'Tujia'),
 ('Myanmar', 'Asia', 'Kayah'),
 ('Pakistan', 'Asia', 'Brahui'),
 ('Russian Federation', 'Europe', 'Kazakh'),
 ('Philippines', 'Asia', 'Maguindanao'),
 ('Indonesia', 'Asia', 'Bali'),
 ('India', 'Asia', 'Malajalam'),
 ('Iran', 'Asia', 'Bakhtyari'),
 ('Russian Federation', 'Europe', 'Avarian'),
 ('Vietnam', 'Asia', 'Man'),
 ('Philippines', 'Asia', 'Maranao'),
 ('India', 'Asia', 'Orija'),
 ('China', 'Asia', 'Tibetan'),
 ('Russian Federation', 'Europe', 'Mari'),
 ('China', 'Asia', 'Puyi'),
 ('Russian Federation', 'Europe', 'Udmur'),
 ('China', 'Asia', 'Dong')]

Wonderful! I am happy that I can work out the query by creating views. But are there any benefits of creating views?

```{admonition} (Just to hear your thoughts) iclicker: (T/F) Simple views in a database store data on disk:

A) True
B) False
```

```{admonition} iclicker: (T/F) Simple views makes queries run faster:

A) True
B) False
```

```{toggle}
B) False
B) False

Views just store the query. They don't store the data. So they don't make queries run faster. But they do make queries easier to write and read. 

But what if we want to store the query results on disk? So that our query will run faster. This is when we want to think about materialized views. And we gonna learn it. 

You can further make the query run faster by creating indexes on the materialized views, which you can't do on simple views. We won't cover indexes in this course, but you can learn more about them in the [PostgreSQL documentation](https://www.postgresql.org/docs/13/indexes.html). I will also try to give you a brief overview of indexes.

```

## Materialized Views

Let's see who is going to win the race. 

Materialized view VS simple view

<img src="img/race.gif" width="500">

In [8]:
%sql postgresql://{username}:{password}@{host}:{port}/imdb

### Materialized Views Demo

In [15]:
%%sql

SELECT
    *
FROM
    movies m
JOIN
    movie_genres mg
ON
    m.id = mg.movie_id
WHERE        
    rating > 8
    AND
    nvotes > (
        SELECT
            AVG(m2.nvotes)
        FROM
            movies m2
        JOIN
            movie_genres mg2
        ON
            m2.id = mg2.movie_id
        WHERE
            mg.genre = mg2.genre
            AND
            m.id <> m2.id
    )
;

 * postgresql://postgres:***@localhost:5432/imdb
   postgresql://postgres:***@localhost:5432/world
795 rows affected.

[(10042876, 'Rashomon', 'Rashômon', 1950, None, 88, 8.2, 138304, 10042876, 'crime'),
 (10042876, 'Rashomon', 'Rashômon', 1950, None, 88, 8.2, 138304, 10042876, 'drama'),
 (10042876, 'Rashomon', 'Rashômon', 1950, None, 88, 8.2, 138304, 10042876, 'mystery'),
 (10043014, 'Sunset Blvd.', None, 1950, None, 110, 8.4, 183282, 10043014, 'drama'),
 (10043014, 'Sunset Blvd.', None, 1950, None, 110, 8.4, 183282, 10043014, 'film-noir'),
 (10044741, 'Ikiru', None, 1952, None, 143, 8.3, 60061, 10044741, 'drama'),
 (10044837, 'Limelight', None, 1952, None, 137, 8.1, 16445, 10044837, 'music'),
 (10045152, "Singin' in the Rain", None, 1952, None, 103, 8.3, 201077, 10045152, 'comedy'),
 (10045152, "Singin' in the Rain", None, 1952, None, 103, 8.3, 201077, 10045152, 'musical'),
 (10045152, "Singin' in the Rain", None, 1952, None, 103, 8.3, 201077, 10045152, 'romance'),
 (10046268, 'The Wages of Fear', 'Le salaire de la peur', 1953, None, 131, 8.1, 49244, 10046268, 'drama'),
 (10046268, 'The Wages of Fear', 'Le salaire de la peur', 1953, None, 131, 8.1, 49244, 10046268, 'thriller'),
 (10046478, 'Ugetsu', 'Ugetsu monogatari', 1953, None, 96, 8.3, 18356, 10046478, 'war'),
 (10046912, 'Dial M for Murder', None, 1954, None, 105, 8.2, 143268, 10046912, 'crime'),
 (10046912, 'Dial M for Murder', None, 1954, None, 105, 8.2, 143268, 10046912, 'thriller'),
 (10047296, 'On the Waterfront', None, 1954, None, 108, 8.1, 130916, 10047296, 'crime'),
 (10047296, 'On the Waterfront', None, 1954, None, 108, 8.1, 130916, 10047296, 'drama'),
 (10047296, 'On the Waterfront', None, 1954, None, 108, 8.1, 130916, 10047296, 'thriller'),
 (10047396, 'Rear Window', None, 1954, None, 112, 8.5, 407290, 10047396, 'mystery'),
 (10047396, 'Rear Window', None, 1954, None, 112, 8.5, 407290, 10047396, 'thriller'),
 (10050083, '12 Angry Men', None, 1957, None, 96, 8.9, 610724, 10050083, 'drama'),
 (10050613, 'Throne of Blood', 'Kumonosu-jô', 1957, None, 110, 8.1, 40639, 10050613, 'drama'),
 (10050613, 'Throne of Blood', 'Kumonosu-jô', 1957, None, 110, 8.1, 40639, 10050613, 'history'),
 (10050783, 'The Nights of Cabiria', 'Le notti di Cabiria', 1957, None, 110, 8.1, 39350, 10050783, 'drama'),
 (10050825, 'Paths of Glory', None, 1957, None, 88, 8.4, 160459, 10050825, 'drama'),
 (10050825, 'Paths of Glory', None, 1957, None, 88, 8.4, 160459, 10050825, 'war'),
 (10050986, 'Wild Strawberries', 'Smultronstället', 1957, None, 91, 8.2, 85988, 10050986, 'drama'),
 (10050986, 'Wild Strawberries', 'Smultronstället', 1957, None, 91, 8.2, 85988, 10050986, 'romance'),
 (10051036, 'Sweet Smell of Success', None, 1957, None, 96, 8.1, 24897, 10051036, 'drama'),
 (10051036, 'Sweet Smell of Success', None, 1957, None, 96, 8.1, 24897, 10051036, 'film-noir'),
 (10050976, 'The Seventh Seal', 'Det sjunde inseglet', 1957, None, 96, 8.2, 146553, 10050976, 'drama'),
 (10050976, 'The Seventh Seal', 'Det sjunde inseglet', 1957, None, 96, 8.2, 146553, 10050976, 'fantasy'),
 (10051201, 'Witness for the Prosecution', None, 1957, None, 116, 8.4, 95259, 10051201, 'crime'),
 (10051201, 'Witness for the Prosecution', None, 1957, None, 116, 8.4, 95259, 10051201, 'drama'),
 (10051201, 'Witness for the Prosecution', None, 1957, None, 116, 8.4, 95259, 10051201, 'film-noir'),
 (10051808, 'The Hidden Fortress', 'Kakushi-toride no san-akunin', 1958, None, 139, 8.1, 30431, 10051808, 'drama'),
 (10052357, 'Vertigo', None, 1958, None, 128, 8.3, 327884, 10052357, 'mystery'),
 (10052357, 'Vertigo', None, 1958, None, 128, 8.3, 327884, 10052357, 'romance'),
 (10052357, 'Vertigo', None, 1958, None, 128, 8.3, 327884, 10052357, 'thriller'),
 (10052618, 'Ben-Hur', None, 1959, None, 212, 8.1, 204418, 10052618, 'adventure'),
 (10052618, 'Ben-Hur', None, 1959, None, 212, 8.1, 204418, 10052618, 'drama'),
 (10052618, 'Ben-Hur', None, 1959, None, 212, 8.1, 204418, 10052618, 'history'),
 (10053291, 'Some Like It Hot', None, 1959, None, 121, 8.2, 224857, 10053291, 'comedy'),
 (10053291, 'Some Like It Hot', None, 1959, None, 121, 8.2, 224857, 10053291, 'music'),
 (10053291, 'Some Like It Hot', None, 1959, None, 121, 8.2, 224857, 10053291, 'romance'),
 (10053604, 'The Apartment', None, 1960, None, 125, 8.3, 147637, 10053604, 'comedy'),
 (10053604, 'The Apartment', None, 1960, None, 125, 8.3, 147637, 10053604, 'drama'),
 (10053604, 'The Apartment', None, 1960, None, 125, 8.3, 147637, 10053604, 'romance'),
 (10053946, 'Inherit the Wind', None, 1960, None, 128, 8.1, 25050, 10053946, 'drama'),
 (10053946, 'Inherit the Wind', None, 1960, None, 128, 8.1, 25050, 10053946, 'history'),
 (10053976, 'The Virgin Spring', 'Jungfrukällan', 1960, None, 89, 8.1, 24134, 10053976, 'drama'),
 (10054215, 'Psycho', None, 1960, None, 109, 8.5, 550103, 10054215, 'horror'),
 (10054215, 'Psycho', None, 1960, None, 109, 8.5, 550103, 10054215, 'mystery'),
 (10054215, 'Psycho', None, 1960, None, 109, 8.5, 550103, 10054215, 'thriller'),
 (10055031, 'Judgment at Nuremberg', None, 1961, None, 179, 8.2, 63018, 10055031, 'drama'),
 (10055031, 'Judgment at Nuremberg', None, 1961, None, 179, 8.2, 63018, 10055031, 'war'),
 (10055630, 'Yojimbo', 'Yôjinbô', 1961, None, 110, 8.2, 100387, 10055630, 'action'),
 (10055630, 'Yojimbo', 'Yôjinbô', 1961, None, 110, 8.2, 100387, 10055630, 'comedy'),
 (10055630, 'Yojimbo', 'Yôjinbô', 1961, None, 110, 8.2, 100387, 10055630, 'crime'),
 (10056058, 'Harakiri', 'Seppuku', 1962, None, 133, 8.7, 26397, 10056058, 'drama'),
 (10056058, 'Harakiri', 'Seppuku', 1962, None, 133, 8.7, 26397, 10056058, 'history'),
 (10056111, "Ivan's Childhood", 'Ivanovo detstvo', 1962, None, 95, 8.1, 27073, 10056111, 'drama'),
 (10056111, "Ivan's Childhood", 'Ivanovo detstvo', 1962, None, 95, 8.1, 27073, 10056111, 'war'),
 (10056172, 'Lawrence of Arabia', None, 1962, None, 228, 8.3, 247272, 10056172, 'adventure'),
 (10056172, 'Lawrence of Arabia', None, 1962, None, 228, 8.3, 247272, 10056172, 'biography'),
 (10056172, 'Lawrence of Arabia', None, 1962, None, 228, 8.3, 247272, 10056172, 'drama'),
 (10056217, 'The Man Who Shot Liberty Valance', None, 1962, None, 123, 8.1, 63629, 10056217, 'drama'),
 (10056217, 'The Man Who Shot Liberty Valance', None, 1962, None, 123, 8.1, 63629, 10056217, 'western'),
 (10056732, 'The Exterminating Angel', 'El ángel exterminador', 1962, None, 95, 8.2, 26116, 10056732, 'drama'),
 (10056687, 'What Ever Happened to Baby Jane?', None, 1962, None, 134, 8.1, 46059, 10056687, 'drama'),
 (10056687, 'What Ever Happened to Baby Jane?', None, 1962, None, 134, 8.1, 46059, 10056687, 'horror'),
 (10056687, 'What Ever Happened to Baby Jane?', None, 1962, None, 134, 8.1, 46059, 10056687, 'thriller'),
 (10056592, 'To Kill a Mockingbird', None, 1962, None, 129, 8.3, 276602, 10056592, 'crime'),
 (10056592, 'To Kill a Mockingbird', None, 1962, None, 129, 8.3, 276602, 10056592, 'drama'),
 (10057115, 'The Great Escape', None, 1963, None, 172, 8.2, 208092, 10057115, 'adventure'),
 (10057115, 'The Great Escape', None, 1963, None, 172, 8.2, 208092, 10057115, 'drama'),
 (10057115, 'The Great Escape', None, 1963, None, 172, 8.2, 208092, 10057115, 'history'),
 (10057565, 'High and Low', 'Tengoku to jigoku', 1963, None, 143, 8.5, 24377, 10057565, 'drama'),
 (10059578, 'For a Few Dollars More', 'Per qualche dollaro in più', 1965, None, 132, 8.3, 211290, 10059578, 'western'),
 (10060196, 'The Good, the Bad and the Ugly', 'Il buono, il brutto, il cattivo', 1966, None, 161, 8.8, 635567, 10060196, 'western'),
 (10060107, 'Andrei Rublev', 'Andrey Rublev', 1966, None, 205, 8.2, 40173, 10060107, 'biography'),
 (10060107, 'Andrei Rublev', 'Andrey Rublev', 1966, None, 205, 8.2, 40173, 10060107, 'drama'),
 (10060107, 'Andrei Rublev', 'Andrey Rublev', 1966, None, 205, 8.2, 40173, 10060107, 'history'),
 (10060827, 'Persona', None, 1966, None, 85, 8.1, 89411, 10060827, 'drama'),
 (10060827, 'Persona', None, 1966, None, 85, 8.1, 89411, 10060827, 'thriller'),
 (10062229, 'Le Samouraï', 'Le samouraï', 1967, None, 105, 8.1, 40258, 10062229, 'crime'),
 (10062229, 'Le Samouraï', 'Le samouraï', 1967, None, 105, 8.1, 40258, 10062229, 'drama'),
 (10062229, 'Le Samouraï', 'Le samouraï', 1967, None, 105, 8.1, 40258, 10062229, 'mystery'),
 (10062622, '2001: A Space Odyssey', None, 1968, None, 149, 8.3, 553461, 10062622, 'adventure'),
 (10062622, '2001: A Space Odyssey', None, 1968, None, 149, 8.3, 553461, 10062622, 'sci-fi'),
 (10064040, 'Army of Shadows', "L'armée des ombres", 1969, None, 145, 8.2, 18354, 10064040, 'war'),
 (10065234, 'Z', None, 1969, None, 127, 8.3, 21720, 10065234, 'drama'),
 (10065234, 'Z', None, 1969, None, 127, 8.3, 21720, 10065234, 'history'),
 (10066580, 'Woodstock', None, 1970, None, 184, 8.2, 15083, 10066580, 'documentary'),
 (10066580, 'Woodstock', None, 1970, None, 184, 8.2, 15083, 10066580, 'music'),
 (10066763, 'Anand', None, 1971, None, 122, 8.8, 23729, 10066763, 'drama'),
 (10066763, 'Anand', None, 1971, None, 122, 8.8, 23729, 10066763, 'musical'),
 (10066921, 'A Clockwork Orange', None, 1971, None, 136, 8.3, 702198, 10066921, 'crime'),
 (10066921, 'A Clockwork Orange', None, 1971, None, 136, 8.3, 702198, 10066921, 'drama'),
 (10066921, 'A Clockwork Orange', None, 1971, None, 136, 8.3, 702198, 10066921, 'sci-fi'),
 (10068646, 'The Godfather', None, 1972, None, 175, 9.2, 1469175, 10068646, 'crime'),
 (10068646, 'The Godfather', None, 1972, None, 175, 9.2, 1469175, 10068646, 'drama'),
 (10069467, 'Cries & Whispers', 'Viskningar och rop', 1972, None, 91, 8.1, 26495, 10069467, 'drama'),
 (10069293, 'Solaris', 'Solyaris', 1972, None, 167, 8.1, 71554, 10069293, 'drama'),
 (10069293, 'Solaris', 'Solyaris', 1972, None, 167, 8.1, 71554, 10069293, 'mystery'),
 (10070510, 'Paper Moon', None, 1973, None, 102, 8.1, 38662, 10070510, 'comedy'),
 (10070510, 'Paper Moon', None, 1973, None, 102, 8.1, 38662, 10070510, 'drama'),
 (10070735, 'The Sting', None, 1973, None, 129, 8.3, 224160, 10070735, 'comedy'),
 (10070735, 'The Sting', None, 1973, None, 129, 8.3, 224160, 10070735, 'crime'),
 (10070735, 'The Sting', None, 1973, None, 129, 8.3, 224160, 10070735, 'drama'),
 (10071411, 'Dersu Uzala', None, 1975, None, 142, 8.3, 21473, 10071411, 'drama'),
 (10071315, 'Chinatown', None, 1974, None, 130, 8.2, 270509, 10071315, 'drama'),
 (10071315, 'Chinatown', None, 1974, None, 130, 8.2, 270509, 10071315, 'mystery'),
 (10071315, 'Chinatown', None, 1974, None, 130, 8.2, 270509, 10071315, 'thriller'),
 (10071562, 'The Godfather: Part II', None, 1974, None, 202, 9.0, 1022270, 10071562, 'crime'),
 (10071562, 'The Godfather: Part II', None, 1974, None, 202, 9.0, 1022270, 10071562, 'drama'),
 (10072417, 'A Woman Under the Influence', None, 1974, None, 155, 8.2, 18626, 10072417, 'romance'),
 (10072684, 'Barry Lyndon', None, 1975, None, 185, 8.1, 135169, 10072684, 'adventure'),
 (10072684, 'Barry Lyndon', None, 1975, None, 185, 8.1, 135169, 10072684, 'drama'),
 (10072684, 'Barry Lyndon', None, 1975, None, 185, 8.1, 135169, 10072684, 'history'),
 (10073486, "One Flew Over the Cuckoo's Nest", None, 1975, None, 133, 8.7, 846275, 10073486, 'drama'),
 (10073707, 'Sholay', None, 1975, None, 198, 8.2, 47587, 10073707, 'comedy'),
 (10074605, 'Harlan County U.S.A.', None, 1976, None, 103, 8.2, 4407, 10074605, 'documentary'),
 (10074896, 'The Message', None, 1976, None, 177, 8.2, 40643, 10074896, 'biography'),
 (10074896, 'The Message', None, 1976, None, 177, 8.2, 40643, 10074896, 'drama'),
 (10074896, 'The Message', None, 1976, None, 177, 8.2, 40643, 10074896, 'history'),
 (10074958, 'Network', None, 1976, None, 121, 8.1, 133964, 10074958, 'drama'),
 (10075148, 'Rocky', None, 1976, None, 120, 8.1, 481096, 10075148, 'drama'),
 (10075148, 'Rocky', None, 1976, None, 120, 8.1, 481096, 10075148, 'sport'),
 (10075314, 'Taxi Driver', None, 1976, None, 114, 8.3, 651641, 10075314, 'crime'),
 (10075314, 'Taxi Driver', None, 1976, None, 114, 8.3, 651641, 10075314, 'drama'),
 (10077416, 'The Deer Hunter', None, 1978, None, 183, 8.1, 288780, 10077416, 'drama'),
 (10077416, 'The Deer Hunter', None, 1978, None, 183, 8.1, 288780, 10077416, 'war'),
 (10077711, 'Autumn Sonata', 'Höstsonaten', 1978, None, 99, 8.3, 21687, 10077711, 'drama'),
 (10077711, 'Autumn Sonata', 'Höstsonaten', 1978, None, 99, 8.3, 21687, 10077711, 'music'),
 (10077838, 'The Last Waltz', None, 1978, None, 117, 8.2, 14868, 10077838, 'documentary'),
 (10077838, 'The Last Waltz', None, 1978, None, 117, 8.2, 14868, 10077838, 'music'),
 (10078748, 'Alien', None, 1979, None, 117, 8.4, 727639, 10078748, 'horror'),
 (10078748, 'Alien', None, 1979, None, 117, 8.4, 727639, 10078748, 'sci-fi'),
 (10078788, 'Apocalypse Now', None, 1979, None, 147, 8.4, 559212, 10078788, 'drama'),
 (10078788, 'Apocalypse Now', None, 1979, None, 147, 8.4, 559212, 10078788, 'mystery'),
 (10078788, 'Apocalypse Now', None, 1979, None, 147, 8.4, 559212, 10078788, 'war'),
 (10079470, "Monty Python's Life of Brian", 'Life of Brian', 1979, None, 94, 8.1, 340278, 10079470, 'comedy'),
 (10079807, 'Richard Pryor: Live in Concert', None, 1979, None, 78, 8.2, 3984, 10079807, 'documentary'),
 (10079944, 'Stalker', None, 1979, None, 162, 8.2, 100877, 10079944, 'drama'),
 (10080678, 'The Elephant Man', None, 1980, None, 124, 8.1, 203388, 10080678, 'biography'),
 (10080678, 'The Elephant Man', None, 1980, None, 124, 8.1, 203388, 10080678, 'drama'),
 (10080684, 'Star Wars: Episode V - The Empire Strikes Back', None, 1980, None, 124, 8.7, 1070676, 10080684, 'action'),
 (10080684, 'Star Wars: Episode V - The Empire Strikes Back', None, 1980, None, 124, 8.7, 1070676, 10080684, 'adventure'),
 (10080684, 'Star Wars: Episode V - The Empire Strikes Back', None, 1980, None, 124, 8.7, 1070676, 10080684, 'fantasy'),
 (10081398, 'Raging Bull', None, 1980, None, 129, 8.2, 293859, 10081398, 'biography'),
 (10081398, 'Raging Bull', None, 1980, None, 129, 8.2, 293859, 10081398, 'drama'),
 (10081398, 'Raging Bull', None, 1980, None, 129, 8.2, 293859, 10081398, 'sport'),
 (10081505, 'The Shining', None, 1980, None, 146, 8.4, 800631, 10081505, 'drama'),
 (10081505, 'The Shining', None, 1980, None, 146, 8.4, 800631, 10081505, 'horror'),
 (10082096, 'Das Boot', None, 1981, None, 149, 8.3, 214299, 10082096, 'adventure'),
 (10082096, 'Das Boot', None, 1981, None, 149, 8.3, 214299, 10082096, 'drama'),
 (10082096, 'Das Boot', None, 1981, None, 149, 8.3, 214299, 10082096, 'thriller'),
 (10082971, 'Raiders of the Lost Ark', None, 1981, None, 115, 8.4, 826087, 10082971, 'action'),
 (10082971, 'Raiders of the Lost Ark', None, 1981, None, 115, 8.4, 826087, 10082971, 'adventure'),
 (10083658, 'Blade Runner', None, 1982, None, 117, 8.1, 640079, 10083658, 'action'),
 (10083658, 'Blade Runner', None, 1982, None, 117, 8.1, 640079, 10083658, 'sci-fi'),
 (10083658, 'Blade Runner', None, 1982, None, 117, 8.1, 640079, 10083658, 'thriller'),
 (10083922, 'Fanny and Alexander', 'Fanny och Alexander', 1982, None, 188, 8.1, 52916, 10083922, 'drama'),
 (10083946, 'Fitzcarraldo', None, 1982, None, 158, 8.1, 28143, 10083946, 'drama'),
 (10084503, 'Pink Floyd: The Wall', None, 1982, None, 95, 8.1, 71426, 10084503, 'animation'),
 (10084503, 'Pink Floyd: The Wall', None, 1982, None, 95, 8.1, 71426, 10084503, 'drama'),
 (10084503, 'Pink Floyd: The Wall', None, 1982, None, 95, 8.1, 71426, 10084503, 'fantasy'),
 (10085809, 'Koyaanisqatsi', None, 1982, None, 86, 8.3, 32441, 10085809, 'documentary'),
 (10085809, 'Koyaanisqatsi', None, 1982, None, 86, 8.3, 32441, 10085809, 'music'),
 (10086250, 'Scarface', None, 1983, None, 170, 8.3, 677181, 10086250, 'crime'),
 (10086250, 'Scarface', None, 1983, None, 170, 8.3, 677181, 10086250, 'drama'),
 (10086879, 'Amadeus', None, 1984, None, 160, 8.3, 342773, 10086879, 'biography'),
 (10086879, 'Amadeus', None, 1984, None, 160, 8.3, 342773, 10086879, 'drama'),
 (10086879, 'Amadeus', None, 1984, None, 160, 8.3, 342773, 10086879, 'history'),
 (10087843, 'Once Upon a Time in America', None, 1984, None, 229, 8.4, 283611, 10087843, 'crime'),
 (10087843, 'Once Upon a Time in America', None, 1984, None, 229, 8.4, 283611, 10087843, 'drama'),
 (10087884, 'Paris, Texas', None, 1984, None, 145, 8.1, 77012, 10087884, 'drama'),
 (10088178, 'Stop Making Sense', None, 1984, None, 88, 8.6, 11128, 10088178, 'documentary'),
 (10088275, 'The Times of Harvey Milk', None, 1984, None, 90, 8.3, 5283, 10088275, 'documentary'),
 (10088763, 'Back to the Future', None, 1985, None, 116, 8.5, 957158, 10088763, 'adventure'),
 (10088763, 'Back to the Future', None, 1985, None, 116, 8.5, 957158, 10088763, 'comedy'),
 (10088763, 'Back to the Future', None, 1985, None, 116, 8.5, 957158, 10088763, 'sci-fi'),
 (10089881, 'Ran', None, 1985, None, 162, 8.2, 101512, 10089881, 'action'),
 (10089881, 'Ran', None, 1985, None, 162, 8.2, 101512, 10089881, 'drama'),
 (10090015, 'Shoah', None, 1985, None, 566, 8.6, 7711, 10090015, 'documentary'),
 (10090605, 'Aliens', None, 1986, None, 137, 8.4, 610318, 10090605, 'action'),
 (10090605, 'Aliens', None, 1986, None, 137, 8.4, 610318, 10090605, 'adventure'),
 (10090605, 'Aliens', None, 1986, None, 137, 8.4, 610318, 10090605, 'sci-fi'),
 (10091251, 'Come and See', 'Idi i smotri', 1985, None, 142, 8.3, 45054, 10091251, 'drama'),
 (10091251, 'Come and See', 'Idi i smotri', 1985, None, 142, 8.3, 45054, 10091251, 'war'),
 (10091763, 'Platoon', None, 1986, None, 120, 8.1, 356821, 10091763, 'drama'),
 (10091763, 'Platoon', None, 1986, None, 120, 8.1, 356821, 10091763, 'war'),
 (10092005, 'Stand by Me', None, 1986, None, 89, 8.1, 339156, 10092005, 'adventure'),
 (10092005, 'Stand by Me', None, 1986, None, 89, 8.1, 339156, 10092005, 'drama'),
 (10093058, 'Full Metal Jacket', None, 1987, None, 116, 8.3, 621802, 10093058, 'drama'),
 (10093058, 'Full Metal Jacket', None, 1987, None, 116, 8.3, 621802, 10093058, 'war'),
 (10093779, 'The Princess Bride', None, 1987, None, 98, 8.1, 365917, 10093779, 'adventure'),
 (10093779, 'The Princess Bride', None, 1987, None, 98, 8.1, 365917, 10093779, 'family'),
 (10093779, 'The Princess Bride', None, 1987, None, 98, 8.1, 365917, 10093779, 'fantasy'),
 (10094625, 'Akira', None, 1988, None, 124, 8.1, 144659, 10094625, 'animation'),
 (10094625, 'Akira', None, 1988, None, 124, 8.1, 144659, 10094625, 'drama'),
 (10094625, 'Akira', None, 1988, None, 124, 8.1, 144659, 10094625, 'sci-fi'),
 (10095016, 'Die Hard', None, 1988, None, 132, 8.2, 730992, 10095016, 'action'),
 (10095016, 'Die Hard', None, 1988, None, 132, 8.2, 730992, 10095016, 'thriller'),
 (10095327, 'Grave of the Fireflies', 'Hotaru no haka', 1988, None, 89, 8.5, 203313, 10095327, 'animation'),
 (10095327, 'Grave of the Fireflies', 'Hotaru no haka', 1988, None, 89, 8.5, 203313, 10095327, 'drama'),
 (10095327, 'Grave of the Fireflies', 'Hotaru no haka', 1988, None, 89, 8.5, 203313, 10095327, 'war'),
 (10097165, 'Dead Poets Society', None, 1989, None, 128, 8.1, 379490, 10097165, 'comedy'),
 (10097165, 'Dead Poets Society', None, 1989, None, 128, 8.1, 379490, 10097165, 'drama'),
 (10097223, 'Time of the Gypsies', 'Dom za vesanje', 1988, None, 142, 8.3, 22769, 10097223, 'comedy'),
 (10097372, 'For All Mankind', None, 1989, None, 80, 8.2, 4680, 10097372, 'documentary'),
 (10097223, 'Time of the Gypsies', 'Dom za vesanje', 1988, None, 142, 8.3, 22769, 10097223, 'drama'),
 (10099685, 'Goodfellas', None, 1990, None, 146, 8.7, 924841, 10099685, 'biography'),
 (10099685, 'Goodfellas', None, 1990, None, 146, 8.7, 924841, 10099685, 'crime'),
 (10099685, 'Goodfellas', None, 1990, None, 146, 8.7, 924841, 10099685, 'drama'),
 (10100332, 'Paris Is Burning', None, 1990, None, 71, 8.2, 9994, 10100332, 'documentary'),
 (10101640, 'Raise the Red Lantern', 'Da hong deng long gao gao gua', 1991, None, 125, 8.1, 26855, 10101640, 'drama'),
 (10101640, 'Raise the Red Lantern', 'Da hong deng long gao gao gua', 1991, None, 125, 8.1, 26855, 10101640, 'history'),
 (10101640, 'Raise the Red Lantern', 'Da hong deng long gao gao gua', 1991, None, 125, 8.1, 26855, 10101640, 'romance'),
 (10102015, "Hearts of Darkness: A Filmmaker's Apocalypse", None, 1991, None, 96, 8.1, 17171, 10102015, 'documentary'),

In [17]:
%%sql

CREATE VIEW
    simple_view
AS
    SELECT
        *
    FROM
        movies m
    JOIN
        movie_genres mg
    ON
        m.id = mg.movie_id
    WHERE        
        rating > 8
        AND
        nvotes > (
            SELECT
                AVG(m2.nvotes)
            FROM
                movies m2
            JOIN
                movie_genres mg2
            ON
                m2.id = mg2.movie_id
            WHERE
                mg.genre = mg2.genre
                AND
                m.id <> m2.id
        )
    ;

 * postgresql://postgres:***@localhost:5432/imdb
   postgresql://postgres:***@localhost:5432/world
Done.

[]

In [18]:
%%timeit -r 1 -n 1
%%sql

SELECT * FROM simple_view;

 * postgresql://postgres:***@localhost:5432/imdb
   postgresql://postgres:***@localhost:5432/world
795 rows affected.
12.1 s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [19]:
%%timeit -r 1 -n 1
%%sql

CREATE MATERIALIZED VIEW
    mat_view
AS
    SELECT
        *
    FROM
        movies m
    JOIN
        movie_genres mg
    ON
        m.id = mg.movie_id
    WHERE        
        rating > 8
        AND
        nvotes > (
            SELECT
                AVG(m2.nvotes)
            FROM
                movies m2
            JOIN
                movie_genres mg2
            ON
                m2.id = mg2.movie_id
            WHERE
                mg.genre = mg2.genre
                AND
                m.id <> m2.id
        )
;

 * postgresql://postgres:***@localhost:5432/imdb
   postgresql://postgres:***@localhost:5432/world
795 rows affected.
11.7 s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [20]:
%%timeit -r 1 -n 1
%%sql

SELECT * FROM mat_view;

 * postgresql://postgres:***@localhost:5432/imdb
   postgresql://postgres:***@localhost:5432/world
795 rows affected.
4.93 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [14]:
%%sql

DROP VIEW simple_view;
DROP MATERIALIZED VIEW mat_view;

 * postgresql://postgres:***@localhost:5432/imdb
   postgresql://postgres:***@localhost:5432/world
Done.
Done.

[]

```{admonition} Discussion Question: What are some of the disadvantages of creating a materialized view?

<img src="img/discuss.png" width="120">
```

```{toggle}
- It takes up space on the disk.
- It is not always up to date. What if the data in the master tables change? The materialized view will not reflect the changes. You have to refresh it.
```

```{admonition} Discussion Question: Can you think of some advantages of a temporary table over a simple view?

<img src="img/discuss.png" width="120">
```

```{toggle}
- Temporary tables only exist for a particular session, which might be helpful in some cases. Maybe the user wants it to perform some analytics and then delete it.
- We get efficiency if we use Temporary tables as the data is stored physically. It can also be indexed, which you can't do with the simple view. 
```

Consider a situation

- I don't want to create a temporary table. Because 
    - I don't want to store the data and take up space.
    - I only want to use it for one query.
- I also don't want to create a simple view because no one else will use that query, and I might not have permission to create a view.

What can I do here? That is why we want to learn about CTEs.

## CTE

In [ ]:
%sql postgresql://{username}:{password}@{host}:{port}/world

Following is how we did it previously

In [ ]:
%%sql

DROP TABLE IF EXISTS ccl;

CREATE TEMPORARY TABLE ccl AS (
    SELECT
        co.name, co.continent, cl.language
    FROM
        country co
    JOIN
        countrylanguage cl
    ON
        co.code = cl.countrycode
    WHERE
        co.continent IN ('Asia', 'Europe')
)
;

   postgresql://postgres:***@localhost:5432/imdb
 * postgresql://postgres:***@localhost:5432/world
Done.
441 rows affected.

[]

In [ ]:
%%sql

SELECT
    t1.*
FROM
    ccl t1
WHERE
    NOT EXISTS (
        SELECT
            *
        FROM
            ccl t2
        WHERE
            t1.name <> t2.name
            AND
            t1.continent = t2.continent
            AND
            t1.language = t2.language
    )

   postgresql://postgres:***@localhost:5432/imdb
 * postgresql://postgres:***@localhost:5432/world
129 rows affected.

[('Bhutan', 'Asia', 'Dzongkha'),
 ('Philippines', 'Asia', 'Pilipino'),
 ('Faroe Islands', 'Europe', 'Faroese'),
 ('Georgia', 'Asia', 'Georgiana'),
 ('Indonesia', 'Asia', 'Javanese'),
 ('Iceland', 'Europe', 'Icelandic'),
 ('Japan', 'Asia', 'Japanese'),
 ('Kyrgyzstan', 'Asia', 'Kirgiz'),
 ('Cyprus', 'Asia', 'Greek'),
 ('Latvia', 'Europe', 'Latvian'),
 ('Luxembourg', 'Europe', 'Luxembourgish'),
 ('Maldives', 'Asia', 'Dhivehi'),
 ('Malta', 'Europe', 'Maltese'),
 ('Myanmar', 'Asia', 'Burmese'),
 ('Sri Lanka', 'Asia', 'Singali'),
 ('Taiwan', 'Asia', 'Min'),
 ('Afghanistan', 'Asia', 'Dari'),
 ('Netherlands', 'Europe', 'Fries'),
 ('Bangladesh', 'Asia', 'Chakma'),
 ('United Kingdom', 'Europe', 'Kymri'),
 ('Brunei', 'Asia', 'Malay-English'),
 ('Philippines', 'Asia', 'Cebuano'),
 ('Ireland', 'Europe', 'Irish'),
 ('Italy', 'Europe', 'Sardinian'),
 ('Yemen', 'Asia', 'Soqutri'),
 ('Jordan', 'Asia', 'Circassian'),
 ('China', 'Asia', 'Zhuang'),
 ('Laos', 'Asia', 'Mon-khmer'),
 ('Monaco', 'Europe', 'Monegasque'),
 ('Myanmar', 'Asia', 'Shan'),
 ('Nepal', 'Asia', 'Maithili'),
 ('Czech Republic', 'Europe', 'Moravian'),
 ('Russian Federation', 'Europe', 'Tatar'),
 ('Vietnam', 'Asia', 'Tho'),
 ('Azerbaijan', 'Asia', 'Lezgian'),
 ('Bangladesh', 'Asia', 'Marma'),
 ('United Kingdom', 'Europe', 'Gaeli'),
 ('Spain', 'Europe', 'Galecian'),
 ('Philippines', 'Asia', 'Ilocano'),
 ('Hong Kong', 'Asia', 'Fukien'),
 ('India', 'Asia', 'Telugu'),
 ('Italy', 'Europe', 'Friuli'),
 ('China', 'Asia', 'Mant\x9au'),
 ('Lebanon', 'Asia', 'French'),
 ('Mongolia', 'Asia', 'Dorbet'),
 ('Myanmar', 'Asia', 'Karen'),
 ('Nepal', 'Asia', 'Bhojpuri'),
 ('Pakistan', 'Asia', 'Sindhi'),
 ('Sri Lanka', 'Asia', 'Mixed Languages'),
 ('Bangladesh', 'Asia', 'Garo'),
 ('Spain', 'Europe', 'Basque'),
 ('Philippines', 'Asia', 'Hiligaynon'),
 ('Indonesia', 'Asia', 'Madura'),
 ('India', 'Asia', 'Marathi'),
 ('Iraq', 'Asia', 'Assyrian'),
 ('Iran', 'Asia', 'Gilaki'),
 ('Cambodia', 'Asia', 'T\x9aam'),
 ('Kazakstan', 'Asia', 'German'),
 ('China', 'Asia', 'Hui'),
 ('Laos', 'Asia', 'Lao-Soung'),
 ('Malaysia', 'Asia', 'Iban'),
 ('Moldova', 'Europe', 'Gagauzi'),
 ('Mongolia', 'Asia', 'Bajad'),
 ('Myanmar', 'Asia', 'Rakhine'),
 ('Nepal', 'Asia', 'Tharu'),
 ('Pakistan', 'Asia', 'Saraiki'),
 ('Slovakia', 'Europe', 'Czech and Moravian'),
 ('Switzerland', 'Europe', 'Romansh'),
 ('Taiwan', 'Asia', 'Ami'),
 ('Russian Federation', 'Europe', 'Chuvash'),
 ('Vietnam', 'Asia', 'Muong'),
 ('Bangladesh', 'Asia', 'Khasi'),
 ('Philippines', 'Asia', 'Bicol'),
 ('Georgia', 'Asia', 'Osseetti'),
 ('Hong Kong', 'Asia', 'Chiu chau'),
 ('Indonesia', 'Asia', 'Minangkabau'),
 ('Iran', 'Asia', 'Luri'),
 ('Japan', 'Asia', 'Philippene Languages'),
 ('Mongolia', 'Asia', 'Buryat'),
 ('Myanmar', 'Asia', 'Mon'),
 ('Nepal', 'Asia', 'Tamang'),
 ('Slovakia', 'Europe', 'Ukrainian and Russian'),
 ('Taiwan', 'Asia', 'Atayal'),
 ('Uzbekistan', 'Asia', 'Karakalpak'),
 ('Russian Federation', 'Europe', 'Bashkir'),
 ('Bangladesh', 'Asia', 'Santhali'),
 ('Philippines', 'Asia', 'Waray-waray'),
 ('Georgia', 'Asia', 'Abhyasi'),
 ('Indonesia', 'Asia', 'Batakki'),
 ('Iran', 'Asia', 'Mazandarani'),
 ('Japan', 'Asia', 'Ainu'),
 ('China', 'Asia', 'Uighur'),
 ('Malaysia', 'Asia', 'Dusun'),
 ('Mongolia', 'Asia', 'Dariganga'),
 ('Myanmar', 'Asia', 'Chin'),
 ('Nepal', 'Asia', 'Newari'),
 ('Taiwan', 'Asia', 'Paiwan'),
 ('Thailand', 'Asia', 'Kuy'),
 ('Czech Republic', 'Europe', 'Silesiana'),
 ('Russian Federation', 'Europe', 'Chechen'),
 ('Bangladesh', 'Asia', 'Tripuri'),
 ('Philippines', 'Asia', 'Pampango'),
 ('Indonesia', 'Asia', 'Bugi'),
 ('India', 'Asia', 'Gujarati'),
 ('China', 'Asia', 'Yi'),
 ('Myanmar', 'Asia', 'Kachin'),
 ('Pakistan', 'Asia', 'Hindko'),
 ('Russian Federation', 'Europe', 'Mordva'),
 ('Vietnam', 'Asia', 'Nung'),
 ('Philippines', 'Asia', 'Pangasinan'),
 ('Indonesia', 'Asia', 'Banja'),
 ('India', 'Asia', 'Kannada'),
 ('China', 'Asia', 'Tujia'),
 ('Myanmar', 'Asia', 'Kayah'),
 ('Pakistan', 'Asia', 'Brahui'),
 ('Russian Federation', 'Europe', 'Kazakh'),
 ('Philippines', 'Asia', 'Maguindanao'),
 ('Indonesia', 'Asia', 'Bali'),
 ('India', 'Asia', 'Malajalam'),
 ('Iran', 'Asia', 'Bakhtyari'),
 ('Russian Federation', 'Europe', 'Avarian'),
 ('Vietnam', 'Asia', 'Man'),
 ('Philippines', 'Asia', 'Maranao'),
 ('India', 'Asia', 'Orija'),
 ('China', 'Asia', 'Tibetan'),
 ('Russian Federation', 'Europe', 'Mari'),
 ('China', 'Asia', 'Puyi'),
 ('Russian Federation', 'Europe', 'Udmur'),
 ('China', 'Asia', 'Dong')]

Using CTE, we can do the same thing as follows:

In [ ]:
%%sql
WITH ccl AS (
    SELECT
        co.name, co.continent, cl.language
    FROM
        country co
    JOIN
        countrylanguage cl
    ON
        co.code = cl.countrycode
    WHERE
        co.continent IN ('Asia', 'Europe')
)
SELECT
    t1.*
FROM
    ccl t1
WHERE
    NOT EXISTS (
        SELECT
            *
        FROM
            ccl t2
        WHERE
            t1.name <> t2.name
            AND
            t1.continent = t2.continent
            AND
            t1.language = t2.language
    )

   postgresql://postgres:***@localhost:5432/imdb
 * postgresql://postgres:***@localhost:5432/world
129 rows affected.

[('Bhutan', 'Asia', 'Dzongkha'),
 ('Philippines', 'Asia', 'Pilipino'),
 ('Faroe Islands', 'Europe', 'Faroese'),
 ('Georgia', 'Asia', 'Georgiana'),
 ('Indonesia', 'Asia', 'Javanese'),
 ('Iceland', 'Europe', 'Icelandic'),
 ('Japan', 'Asia', 'Japanese'),
 ('Kyrgyzstan', 'Asia', 'Kirgiz'),
 ('Cyprus', 'Asia', 'Greek'),
 ('Latvia', 'Europe', 'Latvian'),
 ('Luxembourg', 'Europe', 'Luxembourgish'),
 ('Maldives', 'Asia', 'Dhivehi'),
 ('Malta', 'Europe', 'Maltese'),
 ('Myanmar', 'Asia', 'Burmese'),
 ('Sri Lanka', 'Asia', 'Singali'),
 ('Taiwan', 'Asia', 'Min'),
 ('Afghanistan', 'Asia', 'Dari'),
 ('Netherlands', 'Europe', 'Fries'),
 ('Bangladesh', 'Asia', 'Chakma'),
 ('United Kingdom', 'Europe', 'Kymri'),
 ('Brunei', 'Asia', 'Malay-English'),
 ('Philippines', 'Asia', 'Cebuano'),
 ('Ireland', 'Europe', 'Irish'),
 ('Italy', 'Europe', 'Sardinian'),
 ('Yemen', 'Asia', 'Soqutri'),
 ('Jordan', 'Asia', 'Circassian'),
 ('China', 'Asia', 'Zhuang'),
 ('Laos', 'Asia', 'Mon-khmer'),
 ('Monaco', 'Europe', 'Monegasque'),
 ('Myanmar', 'Asia', 'Shan'),
 ('Nepal', 'Asia', 'Maithili'),
 ('Czech Republic', 'Europe', 'Moravian'),
 ('Russian Federation', 'Europe', 'Tatar'),
 ('Vietnam', 'Asia', 'Tho'),
 ('Azerbaijan', 'Asia', 'Lezgian'),
 ('Bangladesh', 'Asia', 'Marma'),
 ('United Kingdom', 'Europe', 'Gaeli'),
 ('Spain', 'Europe', 'Galecian'),
 ('Philippines', 'Asia', 'Ilocano'),
 ('Hong Kong', 'Asia', 'Fukien'),
 ('India', 'Asia', 'Telugu'),
 ('Italy', 'Europe', 'Friuli'),
 ('China', 'Asia', 'Mant\x9au'),
 ('Lebanon', 'Asia', 'French'),
 ('Mongolia', 'Asia', 'Dorbet'),
 ('Myanmar', 'Asia', 'Karen'),
 ('Nepal', 'Asia', 'Bhojpuri'),
 ('Pakistan', 'Asia', 'Sindhi'),
 ('Sri Lanka', 'Asia', 'Mixed Languages'),
 ('Bangladesh', 'Asia', 'Garo'),
 ('Spain', 'Europe', 'Basque'),
 ('Philippines', 'Asia', 'Hiligaynon'),
 ('Indonesia', 'Asia', 'Madura'),
 ('India', 'Asia', 'Marathi'),
 ('Iraq', 'Asia', 'Assyrian'),
 ('Iran', 'Asia', 'Gilaki'),
 ('Cambodia', 'Asia', 'T\x9aam'),
 ('Kazakstan', 'Asia', 'German'),
 ('China', 'Asia', 'Hui'),
 ('Laos', 'Asia', 'Lao-Soung'),
 ('Malaysia', 'Asia', 'Iban'),
 ('Moldova', 'Europe', 'Gagauzi'),
 ('Mongolia', 'Asia', 'Bajad'),
 ('Myanmar', 'Asia', 'Rakhine'),
 ('Nepal', 'Asia', 'Tharu'),
 ('Pakistan', 'Asia', 'Saraiki'),
 ('Slovakia', 'Europe', 'Czech and Moravian'),
 ('Switzerland', 'Europe', 'Romansh'),
 ('Taiwan', 'Asia', 'Ami'),
 ('Russian Federation', 'Europe', 'Chuvash'),
 ('Vietnam', 'Asia', 'Muong'),
 ('Bangladesh', 'Asia', 'Khasi'),
 ('Philippines', 'Asia', 'Bicol'),
 ('Georgia', 'Asia', 'Osseetti'),
 ('Hong Kong', 'Asia', 'Chiu chau'),
 ('Indonesia', 'Asia', 'Minangkabau'),
 ('Iran', 'Asia', 'Luri'),
 ('Japan', 'Asia', 'Philippene Languages'),
 ('Mongolia', 'Asia', 'Buryat'),
 ('Myanmar', 'Asia', 'Mon'),
 ('Nepal', 'Asia', 'Tamang'),
 ('Slovakia', 'Europe', 'Ukrainian and Russian'),
 ('Taiwan', 'Asia', 'Atayal'),
 ('Uzbekistan', 'Asia', 'Karakalpak'),
 ('Russian Federation', 'Europe', 'Bashkir'),
 ('Bangladesh', 'Asia', 'Santhali'),
 ('Philippines', 'Asia', 'Waray-waray'),
 ('Georgia', 'Asia', 'Abhyasi'),
 ('Indonesia', 'Asia', 'Batakki'),
 ('Iran', 'Asia', 'Mazandarani'),
 ('Japan', 'Asia', 'Ainu'),
 ('China', 'Asia', 'Uighur'),
 ('Malaysia', 'Asia', 'Dusun'),
 ('Mongolia', 'Asia', 'Dariganga'),
 ('Myanmar', 'Asia', 'Chin'),
 ('Nepal', 'Asia', 'Newari'),
 ('Taiwan', 'Asia', 'Paiwan'),
 ('Thailand', 'Asia', 'Kuy'),
 ('Czech Republic', 'Europe', 'Silesiana'),
 ('Russian Federation', 'Europe', 'Chechen'),
 ('Bangladesh', 'Asia', 'Tripuri'),
 ('Philippines', 'Asia', 'Pampango'),
 ('Indonesia', 'Asia', 'Bugi'),
 ('India', 'Asia', 'Gujarati'),
 ('China', 'Asia', 'Yi'),
 ('Myanmar', 'Asia', 'Kachin'),
 ('Pakistan', 'Asia', 'Hindko'),
 ('Russian Federation', 'Europe', 'Mordva'),
 ('Vietnam', 'Asia', 'Nung'),
 ('Philippines', 'Asia', 'Pangasinan'),
 ('Indonesia', 'Asia', 'Banja'),
 ('India', 'Asia', 'Kannada'),
 ('China', 'Asia', 'Tujia'),
 ('Myanmar', 'Asia', 'Kayah'),
 ('Pakistan', 'Asia', 'Brahui'),
 ('Russian Federation', 'Europe', 'Kazakh'),
 ('Philippines', 'Asia', 'Maguindanao'),
 ('Indonesia', 'Asia', 'Bali'),
 ('India', 'Asia', 'Malajalam'),
 ('Iran', 'Asia', 'Bakhtyari'),
 ('Russian Federation', 'Europe', 'Avarian'),
 ('Vietnam', 'Asia', 'Man'),
 ('Philippines', 'Asia', 'Maranao'),
 ('India', 'Asia', 'Orija'),
 ('China', 'Asia', 'Tibetan'),
 ('Russian Federation', 'Europe', 'Mari'),
 ('China', 'Asia', 'Puyi'),
 ('Russian Federation', 'Europe', 'Udmur'),
 ('China', 'Asia', 'Dong')]

```{note}
You can give column names, or else it will use column names from select
```sql
WITH
ccl (namenew, continentnew, languagenew)
AS (...)
...
```

```{admonition} Discussion Question: What is the advantage of using CTEs over temporary tables?

<img src="img/discuss.png" width="120">
```

```{toggle}
- CTEs are more readable than temporary tables.
- CTEs are more efficient than temporary tables. 
- You are not creating a table in the database. So you don't have to worry about the table name.
- You can use CTEs in a single query. You can't do that with temporary tables. 
- If the data is modified in any way before another subsequent query, it won't be reflected in the temporary table.
- The temporary table has to be created each time a connection to the database is made
```

```{admonition} Discussion Question: What is the advantage of using temporary tables over CTEs?

<img src="img/discuss.png" width="120">
```

```{toggle}
- You can use temporary tables in multiple queries as tables persist for the duration of the session. You can't do that with CTEs, as CTE persist only for the duration of the query. 
- You can index temporary tables. You can't do that with CTEs. 
- You can store the data in temporary tables. You can't do that with CTEs. 
```

```{admonition} Discussion Question: Why can't we use views instead of CTEs?

<img src="img/discuss.png" width="120">
```

```{toggle}
- We don't want to create a bunch of views for something that is going to be helpful only for a single query or/a single session. 
- Creating views requires special access privileges, which we might not have as a user!
```

## Window function

Motivation: We all know by now what the following query means. It lists the continent and the maximum population in that continent.

In [ ]:
%%sql

SELECT continent, MAX(population) as maximum_population
FROM country
GROUP BY continent;

   postgresql://postgres:***@localhost:5432/imdb
 * postgresql://postgres:***@localhost:5432/world
7 rows affected.

[('Asia', 1277558000),
 ('South America', 170115000),
 ('North America', 278357000),
 ('Oceania', 18886000),
 ('Antarctica', 0),
 ('Africa', 111506000),
 ('Europe', 146934000)]

```{admonition} iclicker question: We want to list out the continent along with additional information about the country and its population. Does the following query works?


    SELECT name, population, continent, MAX(population)
    FROM country
    GROUP BY continent;

A) Yes

B) No

```{toggle}
No. It won't work. Because we can't use the column name in the SELECT clause that is not aggregated or in the GROUP BY clause, revisit lecture 3.

We can, of course, work it out using a subquery that we learned. Like below
```

In [ ]:
%%sql

WITH temp AS (
       SELECT
        continent,
        MAX(population) as max_population
    FROM
        country
    GROUP BY
        continent
    )
SELECT
    c.name,
    c.population,
    temp.*
FROM
    country c JOIN temp ON temp.continent = c.continent
order by continent asc
;

   postgresql://postgres:***@localhost:5432/imdb
 * postgresql://postgres:***@localhost:5432/world
239 rows affected.

[('Algeria', 31471000, 'Africa', 111506000),
 ('Western Sahara', 293000, 'Africa', 111506000),
 ('Madagascar', 15942000, 'Africa', 111506000),
 ('Uganda', 21778000, 'Africa', 111506000),
 ('Malawi', 10925000, 'Africa', 111506000),
 ('Mali', 11234000, 'Africa', 111506000),
 ('Morocco', 28351000, 'Africa', 111506000),
 ('Côte d\x92Ivoire', 14786000, 'Africa', 111506000),
 ('Mauritania', 2670000, 'Africa', 111506000),
 ('Mauritius', 1158000, 'Africa', 111506000),
 ('Mayotte', 149000, 'Africa', 111506000),
 ('Nigeria', 111506000, 'Africa', 111506000),
 ('Niger', 10730000, 'Africa', 111506000),
 ('Mozambique', 19680000, 'Africa', 111506000),
 ('Namibia', 1726000, 'Africa', 111506000),
 ('Botswana', 1622000, 'Africa', 111506000),
 ('Tunisia', 9586000, 'Africa', 111506000),
 ('Angola', 12878000, 'Africa', 111506000),
 ('Burkina Faso', 11937000, 'Africa', 111506000),
 ('Burundi', 6695000, 'Africa', 111506000),
 ('Chad', 7651000, 'Africa', 111506000),
 ('Togo', 4629000, 'Africa', 111506000),
 ('Tanzania', 33517000, 'Africa', 111506000),
 ('Djibouti', 638000, 'Africa', 111506000),
 ('Egypt', 68470000, 'Africa', 111506000),
 ('Swaziland', 1008000, 'Africa', 111506000),
 ('Eritrea', 3850000, 'Africa', 111506000),
 ('South Africa', 40377000, 'Africa', 111506000),
 ('Ethiopia', 62565000, 'Africa', 111506000),
 ('Sudan', 29490000, 'Africa', 111506000),
 ('British Indian Ocean Territory', 0, 'Africa', 111506000),
 ('Gabon', 1226000, 'Africa', 111506000),
 ('Gambia', 1305000, 'Africa', 111506000),
 ('Ghana', 20212000, 'Africa', 111506000),
 ('Somalia', 10097000, 'Africa', 111506000),
 ('Sierra Leone', 4854000, 'Africa', 111506000),
 ('Seychelles', 77000, 'Africa', 111506000),
 ('Senegal', 9481000, 'Africa', 111506000),
 ('Guinea', 7430000, 'Africa', 111506000),
 ('Guinea-Bissau', 1213000, 'Africa', 111506000),
 ('Sao Tome and Principe', 147000, 'Africa', 111506000),
 ('Zambia', 9169000, 'Africa', 111506000),
 ('Saint Helena', 6000, 'Africa', 111506000),
 ('Zimbabwe', 11669000, 'Africa', 111506000),
 ('Cameroon', 15085000, 'Africa', 111506000),
 ('Rwanda', 7733000, 'Africa', 111506000),
 ('Cape Verde', 428000, 'Africa', 111506000),
 ('Kenya', 30080000, 'Africa', 111506000),
 ('Central African Republic', 3615000, 'Africa', 111506000),
 ('Réunion', 699000, 'Africa', 111506000),
 ('Comoros', 578000, 'Africa', 111506000),
 ('Congo', 2943000, 'Africa', 111506000),
 ('Congo, The Democratic Republic of the', 51654000, 'Africa', 111506000),
 ('Equatorial Guinea', 453000, 'Africa', 111506000),
 ('Lesotho', 2153000, 'Africa', 111506000),
 ('Liberia', 3154000, 'Africa', 111506000),
 ('Libyan Arab Jamahiriya', 5605000, 'Africa', 111506000),
 ('Benin', 6097000, 'Africa', 111506000),
 ('Heard Island and McDonald Islands', 0, 'Antarctica', 0),
 ('Bouvet Island', 0, 'Antarctica', 0),
 ('French Southern territories', 0, 'Antarctica', 0),
 ('Antarctica', 0, 'Antarctica', 0),
 ('South Georgia and the South Sandwich Islands', 0, 'Antarctica', 0),
 ('Pakistan', 156483000, 'Asia', 1277558000),
 ('China', 1277558000, 'Asia', 1277558000),
 ('Maldives', 286000, 'Asia', 1277558000),
 ('Malaysia', 22244000, 'Asia', 1277558000),
 ('Kyrgyzstan', 4699000, 'Asia', 1277558000),
 ('Bhutan', 2124000, 'Asia', 1277558000),
 ('Kuwait', 1972000, 'Asia', 1277558000),
 ('Oman', 2542000, 'Asia', 1277558000),
 ('Qatar', 599000, 'Asia', 1277558000),
 ('Saudi Arabia', 21607000, 'Asia', 1277558000),
 ('Cyprus', 754700, 'Asia', 1277558000),
 ('Afghanistan', 22720000, 'Asia', 1277558000),
 ('Hong Kong', 6782000, 'Asia', 1277558000),
 ('Turkmenistan', 4459000, 'Asia', 1277558000),
 ('Mongolia', 2662000, 'Asia', 1277558000),
 ('Nepal', 23930000, 'Asia', 1277558000),
 ('Indonesia', 212107000, 'Asia', 1277558000),
 ('Myanmar', 45611000, 'Asia', 1277558000),
 ('India', 1013662000, 'Asia', 1277558000),
 ('Iraq', 23115000, 'Asia', 1277558000),
 ('Turkey', 66591000, 'Asia', 1277558000),
 ('Iran', 67702000, 'Asia', 1277558000),
 ('Brunei', 328000, 'Asia', 1277558000),
 ('Armenia', 3520000, 'Asia', 1277558000),
 ('Israel', 6217000, 'Asia', 1277558000),
 ('Palestine', 3101000, 'Asia', 1277558000),
 ('East Timor', 885000, 'Asia', 1277558000),
 ('Thailand', 61399000, 'Asia', 1277558000),
 ('Azerbaijan', 7734000, 'Asia', 1277558000),
 ('Laos', 5433000, 'Asia', 1277558000),
 ('Taiwan', 22256000, 'Asia', 1277558000),
 ('Tajikistan', 6188000, 'Asia', 1277558000),
 ('Syria', 16125000, 'Asia', 1277558000),
 ('Japan', 126714000, 'Asia', 1277558000),
 ('Yemen', 18112000, 'Asia', 1277558000),
 ('Jordan', 5083000, 'Asia', 1277558000),
 ('Vietnam', 79832000, 'Asia', 1277558000),
 ('Lebanon', 3282000, 'Asia', 1277558000),
 ('Cambodia', 11168000, 'Asia', 1277558000),
 ('Sri Lanka', 18827000, 'Asia', 1277558000),
 ('Philippines', 75967000, 'Asia', 1277558000),
 ('North Korea', 24039000, 'Asia', 1277558000),
 ('South Korea', 46844000, 'Asia', 1277558000),
 ('Bahrain', 617000, 'Asia', 1277558000),
 ('Georgia', 4968000, 'Asia', 1277558000),
 ('Uzbekistan', 24318000, 'Asia', 1277558000),
 ('Kazakstan', 16223000, 'Asia', 1277558000),
 ('United Arab Emirates', 2441000, 'Asia', 1277558000),
 ('Bangladesh', 129155000, 'Asia', 1277558000),
 ('Macao', 473000, 'Asia', 1277558000),
 ('Singapore', 3567000, 'Asia', 1277558000),
 ('San Marino', 27000, 'Europe', 146934000),
 ('Netherlands', 15864000, 'Europe', 146934000),
 ('Albania', 3401200, 'Europe', 146934000),
 ('Andorra', 78000, 'Europe', 146934000),
 ('Belgium', 10239000, 'Europe', 146934000),
 ('Bosnia and Herzegovina', 3972000, 'Europe', 146934000),
 ('United Kingdom', 59623400, 'Europe', 146934000),
 ('Bulgaria', 8190900, 'Europe', 146934000),
 ('Spain', 39441700, 'Europe', 146934000),
 ('Faroe Islands', 43000, 'Europe', 146934000),
 ('Gibraltar', 25000, 'Europe', 146934000),
 ('Svalbard and Jan Mayen', 3200, 'Europe', 146934000),
 ('Ireland', 3775100, 'Europe', 146934000),
 ('Iceland', 279000, 'Europe', 146934000),
 ('Italy', 57680000, 'Europe', 146934000),
 ('Austria', 8091800, 'Europe', 146934000),
 ('Yugoslavia', 10640000, 'Europe', 146934000),
 ('Greece', 10545700, 'Europe', 146934000),
 ('Croatia', 4473000, 'Europe', 146934000),
 ('Latvia', 2424200, 'Europe', 146934000),
 ('Liechtenstein', 32300, 'Europe', 146934000),
 ('Lithuania', 3698500, 'Europe', 146934000),
 ('Luxembourg', 435700, 'Europe', 146934000),
 ('Macedonia', 2024000, 'Europe', 146934000),
 ('Malta', 380200, 'Europe', 146934000),
 ('Moldova', 4380000, 'Europe', 146934000),
 ('Monaco', 34000, 'Europe', 146934000),
 ('Norway', 4478500, 'Europe', 146934000),
 ('Portugal', 9997600, 'Europe', 146934000),
 ('Poland', 38653600, 'Europe', 146934000),
 ('France', 59225700, 'Europe', 146934000),
 ('Romania', 22455500, 'Europe', 146934000),
 ('Sweden', 8861400, 'Europe', 146934000),
 ('Germany', 82164700, 'Europe', 146934000),
 ('Slovakia', 5398700, 'Europe', 146934000),
 ('Slovenia', 1987800, 'Europe', 146934000),
 ('Finland', 5171300, 'Europe', 146934000),
 ('Switzerland', 7160400, 'Europe', 146934000),
 ('Denmark', 5330000, 'Europe', 146934000),
 ('Czech Republic', 10278100, 'Europe', 146934000),
 ('Ukraine', 50456000, 'Europe', 146934000),
 ('Hungary', 10043200, 'Europe', 146934000),
 ('Belarus', 10236000, 'Europe', 146934000),
 ('Holy See (Vatican City State)', 1000, 'Europe', 146934000),
 ('Russian Federation', 146934000, 'Europe', 146934000),
 ('Estonia', 1439200, 'Europe', 146934000),
 ('Jamaica', 2583000, 'North America', 278357000),
 ('Canada', 31147000, 'North America', 278357000),
 ('Netherlands Antilles', 217000, 'North America', 278357000),
 ('Saint Kitts and Nevis', 38000, 'North America', 278357000),
 ('Saint Lucia', 154000, 'North America', 278357000),
 ('Saint Vincent and the Grenadines', 114000, 'North America', 278357000),
 ('Saint Pierre and Miquelon', 7000, 'North America', 278357000),
 ('Barbados', 270000, 'North America', 278357000),
 ('Puerto Rico', 3869000, 'North America', 278357000),
 ('Honduras', 6485000, 'North America', 278357000),
 ('Haiti', 8222000, 'North America', 278357000),
 ('Guatemala', 11385000, 'North America', 278357000),
 ('Guadeloupe', 456000, 'North America', 278357000),
 ('Greenland', 56000, 'North America', 278357000),
 ('United States', 278357000, 'North America', 278357000),
 ('Grenada', 94000, 'North America', 278357000),
 ('Virgin Islands, U.S.', 93000, 'North America', 278357000),
 ('El Salvador', 6276000, 'North America', 278357000),
 ('Bahamas', 307000, 'North America', 278357000),
 ('Dominican Republic', 8495000, 'North America', 278357000),
 ('Dominica', 71000, 'North America', 278357000),
 ('Costa Rica', 4023000, 'North America', 278357000),
 ('Trinidad and Tobago', 1295000, 'North America', 278357000),
 ('Cayman Islands', 38000, 'North America', 278357000),
 ('Aruba', 103000, 'North America', 278357000),
 ('Virgin Islands, British', 21000, 'North America', 278357000),
 ('Turks and Caicos Islands', 17000, 'North America', 278357000),
 ('Bermuda', 65000, 'North America', 278357000),
 ('Antigua and Barbuda', 68000, 'North America', 278357000),
 ('Belize', 241000, 'North America', 278357000),
 ('Montserrat', 11000, 'North America', 278357000),
 ('Nicaragua', 5074000, 'North America', 278357000),
 ('Mexico', 98881000, 'North America', 278357000),
 ('Anguilla', 8000, 'North America', 278357000),
 ('Martinique', 395000, 'North America', 278357000),
 ('Cuba', 11201000, 'North America', 278357000),
 ('Panama', 2856000, 'North America', 278357000),
 ('Marshall Islands', 64000, 'Oceania', 18886000),
 ('Guam', 168000, 'Oceania', 18886000),
 ('Australia', 18886000, 'Oceania', 18886000),
 ('Northern Mariana Islands', 78000, 'Oceania', 18886000),
 ('United States Minor Outlying Islands', 0, 'Oceania', 18886000),
 ('French Polynesia', 235000, 'Oceania', 18886000),
 ('New Caledonia', 214000, 'Oceania', 18886000),
 ('Fiji Islands', 817000, 'Oceania', 18886000),
 ('Kiribati', 83000, 'Oceania', 18886000),
 ('New Zealand', 3862000, 'Oceania', 18886000),
 ('Cook Islands', 20000, 'Oceania', 18886000),
 ('Palau', 19000, 'Oceania', 18886000),
 ('Nauru', 12000, 'Oceania', 18886000),
 ('Wallis and Futuna', 15000, 'Oceania', 18886000),
 ('Tokelau', 2000, 'Oceania', 18886000),
 ('Tonga', 99000, 'Oceania', 18886000),
 ('Christmas Island', 2500, 'Oceania', 18886000),
 ('Papua New Guinea', 4807000, 'Oceania', 18886000),
 ('Niue', 2000, 'Oceania', 18886000),
 ('Norfolk Island', 2000, 'Oceania', 18886000),
 ('Vanuatu', 190000, 'Oceania', 18886000),
 ('Cocos (Keeling) Islands', 600, 'Oceania', 18886000),
 ('Solomon Islands', 444000, 'Oceania', 18886000),
 ('Micronesia, Federated States of', 119000, 'Oceania', 18886000),
 ('Samoa', 180000, 'Oceania', 18886000),
 ('Pitcairn', 50, 'Oceania', 18886000),
 ('Tuvalu', 12000, 'Oceania', 18886000),
 ('American Samoa', 68000, 'Oceania', 18886000),
 ('Ecuador', 12646000, 'South America', 170115000),
 ('Chile', 15211000, 'South America', 170115000),
 ('Colombia', 42321000, 'South America', 170115000),
 ('French Guiana', 181000, 'South America', 170115000),
 ('Venezuela', 24170000, 'South America', 170115000),
 ('Paraguay', 5496000, 'South America', 170115000),
 ('Peru', 25662000, 'South America', 170115000),
 ('Brazil', 170115000, 'South America', 170115000),
 ('Bolivia', 8329000, 'South America', 170115000),
 ('Guyana', 861000, 'South America', 170115000),
 ('Argentina', 37032000, 'South America', 170115000),
 ('Uruguay', 3337000, 'South America', 170115000),
 ('Falkland Islands', 2000, 'South America', 170115000),
 ('Suriname', 417000, 'South America', 170115000)]

In situations like this, we can use window functions. It is a special type of function that allows us to perform calculations across a set of rows that are related to the current row.

In [ ]:
%%sql

SELECT
    name,
    population,
    continent,
    MAX(population) OVER (PARTITION BY continent)
FROM
    country
;

   postgresql://postgres:***@localhost:5432/imdb
 * postgresql://postgres:***@localhost:5432/world
239 rows affected.

[('Algeria', 31471000, 'Africa', 111506000),
 ('Western Sahara', 293000, 'Africa', 111506000),
 ('Madagascar', 15942000, 'Africa', 111506000),
 ('Uganda', 21778000, 'Africa', 111506000),
 ('Malawi', 10925000, 'Africa', 111506000),
 ('Mali', 11234000, 'Africa', 111506000),
 ('Morocco', 28351000, 'Africa', 111506000),
 ('Côte d\x92Ivoire', 14786000, 'Africa', 111506000),
 ('Mauritania', 2670000, 'Africa', 111506000),
 ('Mauritius', 1158000, 'Africa', 111506000),
 ('Mayotte', 149000, 'Africa', 111506000),
 ('Nigeria', 111506000, 'Africa', 111506000),
 ('Niger', 10730000, 'Africa', 111506000),
 ('Mozambique', 19680000, 'Africa', 111506000),
 ('Namibia', 1726000, 'Africa', 111506000),
 ('Botswana', 1622000, 'Africa', 111506000),
 ('Tunisia', 9586000, 'Africa', 111506000),
 ('Angola', 12878000, 'Africa', 111506000),
 ('Burkina Faso', 11937000, 'Africa', 111506000),
 ('Burundi', 6695000, 'Africa', 111506000),
 ('Chad', 7651000, 'Africa', 111506000),
 ('Togo', 4629000, 'Africa', 111506000),
 ('Tanzania', 33517000, 'Africa', 111506000),
 ('Djibouti', 638000, 'Africa', 111506000),
 ('Egypt', 68470000, 'Africa', 111506000),
 ('Swaziland', 1008000, 'Africa', 111506000),
 ('Eritrea', 3850000, 'Africa', 111506000),
 ('South Africa', 40377000, 'Africa', 111506000),
 ('Ethiopia', 62565000, 'Africa', 111506000),
 ('Sudan', 29490000, 'Africa', 111506000),
 ('British Indian Ocean Territory', 0, 'Africa', 111506000),
 ('Gabon', 1226000, 'Africa', 111506000),
 ('Gambia', 1305000, 'Africa', 111506000),
 ('Ghana', 20212000, 'Africa', 111506000),
 ('Somalia', 10097000, 'Africa', 111506000),
 ('Sierra Leone', 4854000, 'Africa', 111506000),
 ('Seychelles', 77000, 'Africa', 111506000),
 ('Senegal', 9481000, 'Africa', 111506000),
 ('Guinea', 7430000, 'Africa', 111506000),
 ('Guinea-Bissau', 1213000, 'Africa', 111506000),
 ('Sao Tome and Principe', 147000, 'Africa', 111506000),
 ('Zambia', 9169000, 'Africa', 111506000),
 ('Saint Helena', 6000, 'Africa', 111506000),
 ('Zimbabwe', 11669000, 'Africa', 111506000),
 ('Cameroon', 15085000, 'Africa', 111506000),
 ('Rwanda', 7733000, 'Africa', 111506000),
 ('Cape Verde', 428000, 'Africa', 111506000),
 ('Kenya', 30080000, 'Africa', 111506000),
 ('Central African Republic', 3615000, 'Africa', 111506000),
 ('Réunion', 699000, 'Africa', 111506000),
 ('Comoros', 578000, 'Africa', 111506000),
 ('Congo', 2943000, 'Africa', 111506000),
 ('Congo, The Democratic Republic of the', 51654000, 'Africa', 111506000),
 ('Equatorial Guinea', 453000, 'Africa', 111506000),
 ('Lesotho', 2153000, 'Africa', 111506000),
 ('Liberia', 3154000, 'Africa', 111506000),
 ('Libyan Arab Jamahiriya', 5605000, 'Africa', 111506000),
 ('Benin', 6097000, 'Africa', 111506000),
 ('Heard Island and McDonald Islands', 0, 'Antarctica', 0),
 ('Bouvet Island', 0, 'Antarctica', 0),
 ('French Southern territories', 0, 'Antarctica', 0),
 ('Antarctica', 0, 'Antarctica', 0),
 ('South Georgia and the South Sandwich Islands', 0, 'Antarctica', 0),
 ('Pakistan', 156483000, 'Asia', 1277558000),
 ('China', 1277558000, 'Asia', 1277558000),
 ('Maldives', 286000, 'Asia', 1277558000),
 ('Malaysia', 22244000, 'Asia', 1277558000),
 ('Kyrgyzstan', 4699000, 'Asia', 1277558000),
 ('Bhutan', 2124000, 'Asia', 1277558000),
 ('Kuwait', 1972000, 'Asia', 1277558000),
 ('Oman', 2542000, 'Asia', 1277558000),
 ('Qatar', 599000, 'Asia', 1277558000),
 ('Saudi Arabia', 21607000, 'Asia', 1277558000),
 ('Cyprus', 754700, 'Asia', 1277558000),
 ('Afghanistan', 22720000, 'Asia', 1277558000),
 ('Hong Kong', 6782000, 'Asia', 1277558000),
 ('Turkmenistan', 4459000, 'Asia', 1277558000),
 ('Mongolia', 2662000, 'Asia', 1277558000),
 ('Nepal', 23930000, 'Asia', 1277558000),
 ('Indonesia', 212107000, 'Asia', 1277558000),
 ('Myanmar', 45611000, 'Asia', 1277558000),
 ('India', 1013662000, 'Asia', 1277558000),
 ('Iraq', 23115000, 'Asia', 1277558000),
 ('Turkey', 66591000, 'Asia', 1277558000),
 ('Iran', 67702000, 'Asia', 1277558000),
 ('Brunei', 328000, 'Asia', 1277558000),
 ('Armenia', 3520000, 'Asia', 1277558000),
 ('Israel', 6217000, 'Asia', 1277558000),
 ('Palestine', 3101000, 'Asia', 1277558000),
 ('East Timor', 885000, 'Asia', 1277558000),
 ('Thailand', 61399000, 'Asia', 1277558000),
 ('Azerbaijan', 7734000, 'Asia', 1277558000),
 ('Laos', 5433000, 'Asia', 1277558000),
 ('Taiwan', 22256000, 'Asia', 1277558000),
 ('Tajikistan', 6188000, 'Asia', 1277558000),
 ('Syria', 16125000, 'Asia', 1277558000),
 ('Japan', 126714000, 'Asia', 1277558000),
 ('Yemen', 18112000, 'Asia', 1277558000),
 ('Jordan', 5083000, 'Asia', 1277558000),
 ('Vietnam', 79832000, 'Asia', 1277558000),
 ('Lebanon', 3282000, 'Asia', 1277558000),
 ('Cambodia', 11168000, 'Asia', 1277558000),
 ('Sri Lanka', 18827000, 'Asia', 1277558000),
 ('Philippines', 75967000, 'Asia', 1277558000),
 ('North Korea', 24039000, 'Asia', 1277558000),
 ('South Korea', 46844000, 'Asia', 1277558000),
 ('Bahrain', 617000, 'Asia', 1277558000),
 ('Georgia', 4968000, 'Asia', 1277558000),
 ('Uzbekistan', 24318000, 'Asia', 1277558000),
 ('Kazakstan', 16223000, 'Asia', 1277558000),
 ('United Arab Emirates', 2441000, 'Asia', 1277558000),
 ('Bangladesh', 129155000, 'Asia', 1277558000),
 ('Macao', 473000, 'Asia', 1277558000),
 ('Singapore', 3567000, 'Asia', 1277558000),
 ('San Marino', 27000, 'Europe', 146934000),
 ('Netherlands', 15864000, 'Europe', 146934000),
 ('Albania', 3401200, 'Europe', 146934000),
 ('Andorra', 78000, 'Europe', 146934000),
 ('Belgium', 10239000, 'Europe', 146934000),
 ('Bosnia and Herzegovina', 3972000, 'Europe', 146934000),
 ('United Kingdom', 59623400, 'Europe', 146934000),
 ('Bulgaria', 8190900, 'Europe', 146934000),
 ('Spain', 39441700, 'Europe', 146934000),
 ('Faroe Islands', 43000, 'Europe', 146934000),
 ('Gibraltar', 25000, 'Europe', 146934000),
 ('Svalbard and Jan Mayen', 3200, 'Europe', 146934000),
 ('Ireland', 3775100, 'Europe', 146934000),
 ('Iceland', 279000, 'Europe', 146934000),
 ('Italy', 57680000, 'Europe', 146934000),
 ('Austria', 8091800, 'Europe', 146934000),
 ('Yugoslavia', 10640000, 'Europe', 146934000),
 ('Greece', 10545700, 'Europe', 146934000),
 ('Croatia', 4473000, 'Europe', 146934000),
 ('Latvia', 2424200, 'Europe', 146934000),
 ('Liechtenstein', 32300, 'Europe', 146934000),
 ('Lithuania', 3698500, 'Europe', 146934000),
 ('Luxembourg', 435700, 'Europe', 146934000),
 ('Macedonia', 2024000, 'Europe', 146934000),
 ('Malta', 380200, 'Europe', 146934000),
 ('Moldova', 4380000, 'Europe', 146934000),
 ('Monaco', 34000, 'Europe', 146934000),
 ('Norway', 4478500, 'Europe', 146934000),
 ('Portugal', 9997600, 'Europe', 146934000),
 ('Poland', 38653600, 'Europe', 146934000),
 ('France', 59225700, 'Europe', 146934000),
 ('Romania', 22455500, 'Europe', 146934000),
 ('Sweden', 8861400, 'Europe', 146934000),
 ('Germany', 82164700, 'Europe', 146934000),
 ('Slovakia', 5398700, 'Europe', 146934000),
 ('Slovenia', 1987800, 'Europe', 146934000),
 ('Finland', 5171300, 'Europe', 146934000),
 ('Switzerland', 7160400, 'Europe', 146934000),
 ('Denmark', 5330000, 'Europe', 146934000),
 ('Czech Republic', 10278100, 'Europe', 146934000),
 ('Ukraine', 50456000, 'Europe', 146934000),
 ('Hungary', 10043200, 'Europe', 146934000),
 ('Belarus', 10236000, 'Europe', 146934000),
 ('Holy See (Vatican City State)', 1000, 'Europe', 146934000),
 ('Russian Federation', 146934000, 'Europe', 146934000),
 ('Estonia', 1439200, 'Europe', 146934000),
 ('Jamaica', 2583000, 'North America', 278357000),
 ('Canada', 31147000, 'North America', 278357000),
 ('Netherlands Antilles', 217000, 'North America', 278357000),
 ('Saint Kitts and Nevis', 38000, 'North America', 278357000),
 ('Saint Lucia', 154000, 'North America', 278357000),
 ('Saint Vincent and the Grenadines', 114000, 'North America', 278357000),
 ('Saint Pierre and Miquelon', 7000, 'North America', 278357000),
 ('Barbados', 270000, 'North America', 278357000),
 ('Puerto Rico', 3869000, 'North America', 278357000),
 ('Honduras', 6485000, 'North America', 278357000),
 ('Haiti', 8222000, 'North America', 278357000),
 ('Guatemala', 11385000, 'North America', 278357000),
 ('Guadeloupe', 456000, 'North America', 278357000),
 ('Greenland', 56000, 'North America', 278357000),
 ('United States', 278357000, 'North America', 278357000),
 ('Grenada', 94000, 'North America', 278357000),
 ('Virgin Islands, U.S.', 93000, 'North America', 278357000),
 ('El Salvador', 6276000, 'North America', 278357000),
 ('Bahamas', 307000, 'North America', 278357000),
 ('Dominican Republic', 8495000, 'North America', 278357000),
 ('Dominica', 71000, 'North America', 278357000),
 ('Costa Rica', 4023000, 'North America', 278357000),
 ('Trinidad and Tobago', 1295000, 'North America', 278357000),
 ('Cayman Islands', 38000, 'North America', 278357000),
 ('Aruba', 103000, 'North America', 278357000),
 ('Virgin Islands, British', 21000, 'North America', 278357000),
 ('Turks and Caicos Islands', 17000, 'North America', 278357000),
 ('Bermuda', 65000, 'North America', 278357000),
 ('Antigua and Barbuda', 68000, 'North America', 278357000),
 ('Belize', 241000, 'North America', 278357000),
 ('Montserrat', 11000, 'North America', 278357000),
 ('Nicaragua', 5074000, 'North America', 278357000),
 ('Mexico', 98881000, 'North America', 278357000),
 ('Anguilla', 8000, 'North America', 278357000),
 ('Martinique', 395000, 'North America', 278357000),
 ('Cuba', 11201000, 'North America', 278357000),
 ('Panama', 2856000, 'North America', 278357000),
 ('Marshall Islands', 64000, 'Oceania', 18886000),
 ('Guam', 168000, 'Oceania', 18886000),
 ('Australia', 18886000, 'Oceania', 18886000),
 ('Northern Mariana Islands', 78000, 'Oceania', 18886000),
 ('United States Minor Outlying Islands', 0, 'Oceania', 18886000),
 ('French Polynesia', 235000, 'Oceania', 18886000),
 ('New Caledonia', 214000, 'Oceania', 18886000),
 ('Fiji Islands', 817000, 'Oceania', 18886000),
 ('Kiribati', 83000, 'Oceania', 18886000),
 ('New Zealand', 3862000, 'Oceania', 18886000),
 ('Cook Islands', 20000, 'Oceania', 18886000),
 ('Palau', 19000, 'Oceania', 18886000),
 ('Nauru', 12000, 'Oceania', 18886000),
 ('Wallis and Futuna', 15000, 'Oceania', 18886000),
 ('Tokelau', 2000, 'Oceania', 18886000),
 ('Tonga', 99000, 'Oceania', 18886000),
 ('Christmas Island', 2500, 'Oceania', 18886000),
 ('Papua New Guinea', 4807000, 'Oceania', 18886000),
 ('Niue', 2000, 'Oceania', 18886000),
 ('Norfolk Island', 2000, 'Oceania', 18886000),
 ('Vanuatu', 190000, 'Oceania', 18886000),
 ('Cocos (Keeling) Islands', 600, 'Oceania', 18886000),
 ('Solomon Islands', 444000, 'Oceania', 18886000),
 ('Micronesia, Federated States of', 119000, 'Oceania', 18886000),
 ('Samoa', 180000, 'Oceania', 18886000),
 ('Pitcairn', 50, 'Oceania', 18886000),
 ('Tuvalu', 12000, 'Oceania', 18886000),
 ('American Samoa', 68000, 'Oceania', 18886000),
 ('Ecuador', 12646000, 'South America', 170115000),
 ('Chile', 15211000, 'South America', 170115000),
 ('Colombia', 42321000, 'South America', 170115000),
 ('French Guiana', 181000, 'South America', 170115000),
 ('Venezuela', 24170000, 'South America', 170115000),
 ('Paraguay', 5496000, 'South America', 170115000),
 ('Peru', 25662000, 'South America', 170115000),
 ('Brazil', 170115000, 'South America', 170115000),
 ('Bolivia', 8329000, 'South America', 170115000),
 ('Guyana', 861000, 'South America', 170115000),
 ('Argentina', 37032000, 'South America', 170115000),
 ('Uruguay', 3337000, 'South America', 170115000),
 ('Falkland Islands', 2000, 'South America', 170115000),
 ('Suriname', 417000, 'South America', 170115000)]

Below, we are doing it over the entire table without doing any partitioning.

In [ ]:
%%sql

SELECT
    name,
    population,
    continent,
    MAX(population) OVER ()
        -- DOES OVER ENTIRE TABLE 
FROM
    country
    ORDER BY NAME
;

   postgresql://postgres:***@localhost:5432/imdb
 * postgresql://postgres:***@localhost:5432/world
239 rows affected.

[('Afghanistan', 22720000, 'Asia', 1277558000),
 ('Albania', 3401200, 'Europe', 1277558000),
 ('Algeria', 31471000, 'Africa', 1277558000),
 ('American Samoa', 68000, 'Oceania', 1277558000),
 ('Andorra', 78000, 'Europe', 1277558000),
 ('Angola', 12878000, 'Africa', 1277558000),
 ('Anguilla', 8000, 'North America', 1277558000),
 ('Antarctica', 0, 'Antarctica', 1277558000),
 ('Antigua and Barbuda', 68000, 'North America', 1277558000),
 ('Argentina', 37032000, 'South America', 1277558000),
 ('Armenia', 3520000, 'Asia', 1277558000),
 ('Aruba', 103000, 'North America', 1277558000),
 ('Australia', 18886000, 'Oceania', 1277558000),
 ('Austria', 8091800, 'Europe', 1277558000),
 ('Azerbaijan', 7734000, 'Asia', 1277558000),
 ('Bahamas', 307000, 'North America', 1277558000),
 ('Bahrain', 617000, 'Asia', 1277558000),
 ('Bangladesh', 129155000, 'Asia', 1277558000),
 ('Barbados', 270000, 'North America', 1277558000),
 ('Belarus', 10236000, 'Europe', 1277558000),
 ('Belgium', 10239000, 'Europe', 1277558000),
 ('Belize', 241000, 'North America', 1277558000),
 ('Benin', 6097000, 'Africa', 1277558000),
 ('Bermuda', 65000, 'North America', 1277558000),
 ('Bhutan', 2124000, 'Asia', 1277558000),
 ('Bolivia', 8329000, 'South America', 1277558000),
 ('Bosnia and Herzegovina', 3972000, 'Europe', 1277558000),
 ('Botswana', 1622000, 'Africa', 1277558000),
 ('Bouvet Island', 0, 'Antarctica', 1277558000),
 ('Brazil', 170115000, 'South America', 1277558000),
 ('British Indian Ocean Territory', 0, 'Africa', 1277558000),
 ('Brunei', 328000, 'Asia', 1277558000),
 ('Bulgaria', 8190900, 'Europe', 1277558000),
 ('Burkina Faso', 11937000, 'Africa', 1277558000),
 ('Burundi', 6695000, 'Africa', 1277558000),
 ('Cambodia', 11168000, 'Asia', 1277558000),
 ('Cameroon', 15085000, 'Africa', 1277558000),
 ('Canada', 31147000, 'North America', 1277558000),
 ('Cape Verde', 428000, 'Africa', 1277558000),
 ('Cayman Islands', 38000, 'North America', 1277558000),
 ('Central African Republic', 3615000, 'Africa', 1277558000),
 ('Chad', 7651000, 'Africa', 1277558000),
 ('Chile', 15211000, 'South America', 1277558000),
 ('China', 1277558000, 'Asia', 1277558000),
 ('Christmas Island', 2500, 'Oceania', 1277558000),
 ('Cocos (Keeling) Islands', 600, 'Oceania', 1277558000),
 ('Colombia', 42321000, 'South America', 1277558000),
 ('Comoros', 578000, 'Africa', 1277558000),
 ('Congo', 2943000, 'Africa', 1277558000),
 ('Congo, The Democratic Republic of the', 51654000, 'Africa', 1277558000),
 ('Cook Islands', 20000, 'Oceania', 1277558000),
 ('Costa Rica', 4023000, 'North America', 1277558000),
 ('Croatia', 4473000, 'Europe', 1277558000),
 ('Cuba', 11201000, 'North America', 1277558000),
 ('Cyprus', 754700, 'Asia', 1277558000),
 ('Czech Republic', 10278100, 'Europe', 1277558000),
 ('Côte d\x92Ivoire', 14786000, 'Africa', 1277558000),
 ('Denmark', 5330000, 'Europe', 1277558000),
 ('Djibouti', 638000, 'Africa', 1277558000),
 ('Dominica', 71000, 'North America', 1277558000),
 ('Dominican Republic', 8495000, 'North America', 1277558000),
 ('East Timor', 885000, 'Asia', 1277558000),
 ('Ecuador', 12646000, 'South America', 1277558000),
 ('Egypt', 68470000, 'Africa', 1277558000),
 ('El Salvador', 6276000, 'North America', 1277558000),
 ('Equatorial Guinea', 453000, 'Africa', 1277558000),
 ('Eritrea', 3850000, 'Africa', 1277558000),
 ('Estonia', 1439200, 'Europe', 1277558000),
 ('Ethiopia', 62565000, 'Africa', 1277558000),
 ('Falkland Islands', 2000, 'South America', 1277558000),
 ('Faroe Islands', 43000, 'Europe', 1277558000),
 ('Fiji Islands', 817000, 'Oceania', 1277558000),
 ('Finland', 5171300, 'Europe', 1277558000),
 ('France', 59225700, 'Europe', 1277558000),
 ('French Guiana', 181000, 'South America', 1277558000),
 ('French Polynesia', 235000, 'Oceania', 1277558000),
 ('French Southern territories', 0, 'Antarctica', 1277558000),
 ('Gabon', 1226000, 'Africa', 1277558000),
 ('Gambia', 1305000, 'Africa', 1277558000),
 ('Georgia', 4968000, 'Asia', 1277558000),
 ('Germany', 82164700, 'Europe', 1277558000),
 ('Ghana', 20212000, 'Africa', 1277558000),
 ('Gibraltar', 25000, 'Europe', 1277558000),
 ('Greece', 10545700, 'Europe', 1277558000),
 ('Greenland', 56000, 'North America', 1277558000),
 ('Grenada', 94000, 'North America', 1277558000),
 ('Guadeloupe', 456000, 'North America', 1277558000),
 ('Guam', 168000, 'Oceania', 1277558000),
 ('Guatemala', 11385000, 'North America', 1277558000),
 ('Guinea', 7430000, 'Africa', 1277558000),
 ('Guinea-Bissau', 1213000, 'Africa', 1277558000),
 ('Guyana', 861000, 'South America', 1277558000),
 ('Haiti', 8222000, 'North America', 1277558000),
 ('Heard Island and McDonald Islands', 0, 'Antarctica', 1277558000),
 ('Holy See (Vatican City State)', 1000, 'Europe', 1277558000),
 ('Honduras', 6485000, 'North America', 1277558000),
 ('Hong Kong', 6782000, 'Asia', 1277558000),
 ('Hungary', 10043200, 'Europe', 1277558000),
 ('Iceland', 279000, 'Europe', 1277558000),
 ('India', 1013662000, 'Asia', 1277558000),
 ('Indonesia', 212107000, 'Asia', 1277558000),
 ('Iran', 67702000, 'Asia', 1277558000),
 ('Iraq', 23115000, 'Asia', 1277558000),
 ('Ireland', 3775100, 'Europe', 1277558000),
 ('Israel', 6217000, 'Asia', 1277558000),
 ('Italy', 57680000, 'Europe', 1277558000),
 ('Jamaica', 2583000, 'North America', 1277558000),
 ('Japan', 126714000, 'Asia', 1277558000),
 ('Jordan', 5083000, 'Asia', 1277558000),
 ('Kazakstan', 16223000, 'Asia', 1277558000),
 ('Kenya', 30080000, 'Africa', 1277558000),
 ('Kiribati', 83000, 'Oceania', 1277558000),
 ('Kuwait', 1972000, 'Asia', 1277558000),
 ('Kyrgyzstan', 4699000, 'Asia', 1277558000),
 ('Laos', 5433000, 'Asia', 1277558000),
 ('Latvia', 2424200, 'Europe', 1277558000),
 ('Lebanon', 3282000, 'Asia', 1277558000),
 ('Lesotho', 2153000, 'Africa', 1277558000),
 ('Liberia', 3154000, 'Africa', 1277558000),
 ('Libyan Arab Jamahiriya', 5605000, 'Africa', 1277558000),
 ('Liechtenstein', 32300, 'Europe', 1277558000),
 ('Lithuania', 3698500, 'Europe', 1277558000),
 ('Luxembourg', 435700, 'Europe', 1277558000),
 ('Macao', 473000, 'Asia', 1277558000),
 ('Macedonia', 2024000, 'Europe', 1277558000),
 ('Madagascar', 15942000, 'Africa', 1277558000),
 ('Malawi', 10925000, 'Africa', 1277558000),
 ('Malaysia', 22244000, 'Asia', 1277558000),
 ('Maldives', 286000, 'Asia', 1277558000),
 ('Mali', 11234000, 'Africa', 1277558000),
 ('Malta', 380200, 'Europe', 1277558000),
 ('Marshall Islands', 64000, 'Oceania', 1277558000),
 ('Martinique', 395000, 'North America', 1277558000),
 ('Mauritania', 2670000, 'Africa', 1277558000),
 ('Mauritius', 1158000, 'Africa', 1277558000),
 ('Mayotte', 149000, 'Africa', 1277558000),
 ('Mexico', 98881000, 'North America', 1277558000),
 ('Micronesia, Federated States of', 119000, 'Oceania', 1277558000),
 ('Moldova', 4380000, 'Europe', 1277558000),
 ('Monaco', 34000, 'Europe', 1277558000),
 ('Mongolia', 2662000, 'Asia', 1277558000),
 ('Montserrat', 11000, 'North America', 1277558000),
 ('Morocco', 28351000, 'Africa', 1277558000),
 ('Mozambique', 19680000, 'Africa', 1277558000),
 ('Myanmar', 45611000, 'Asia', 1277558000),
 ('Namibia', 1726000, 'Africa', 1277558000),
 ('Nauru', 12000, 'Oceania', 1277558000),
 ('Nepal', 23930000, 'Asia', 1277558000),
 ('Netherlands', 15864000, 'Europe', 1277558000),
 ('Netherlands Antilles', 217000, 'North America', 1277558000),
 ('New Caledonia', 214000, 'Oceania', 1277558000),
 ('New Zealand', 3862000, 'Oceania', 1277558000),
 ('Nicaragua', 5074000, 'North America', 1277558000),
 ('Niger', 10730000, 'Africa', 1277558000),
 ('Nigeria', 111506000, 'Africa', 1277558000),
 ('Niue', 2000, 'Oceania', 1277558000),
 ('Norfolk Island', 2000, 'Oceania', 1277558000),
 ('North Korea', 24039000, 'Asia', 1277558000),
 ('Northern Mariana Islands', 78000, 'Oceania', 1277558000),
 ('Norway', 4478500, 'Europe', 1277558000),
 ('Oman', 2542000, 'Asia', 1277558000),
 ('Pakistan', 156483000, 'Asia', 1277558000),
 ('Palau', 19000, 'Oceania', 1277558000),
 ('Palestine', 3101000, 'Asia', 1277558000),
 ('Panama', 2856000, 'North America', 1277558000),
 ('Papua New Guinea', 4807000, 'Oceania', 1277558000),
 ('Paraguay', 5496000, 'South America', 1277558000),
 ('Peru', 25662000, 'South America', 1277558000),
 ('Philippines', 75967000, 'Asia', 1277558000),
 ('Pitcairn', 50, 'Oceania', 1277558000),
 ('Poland', 38653600, 'Europe', 1277558000),
 ('Portugal', 9997600, 'Europe', 1277558000),
 ('Puerto Rico', 3869000, 'North America', 1277558000),
 ('Qatar', 599000, 'Asia', 1277558000),
 ('Romania', 22455500, 'Europe', 1277558000),
 ('Russian Federation', 146934000, 'Europe', 1277558000),
 ('Rwanda', 7733000, 'Africa', 1277558000),
 ('Réunion', 699000, 'Africa', 1277558000),
 ('Saint Helena', 6000, 'Africa', 1277558000),
 ('Saint Kitts and Nevis', 38000, 'North America', 1277558000),
 ('Saint Lucia', 154000, 'North America', 1277558000),
 ('Saint Pierre and Miquelon', 7000, 'North America', 1277558000),
 ('Saint Vincent and the Grenadines', 114000, 'North America', 1277558000),
 ('Samoa', 180000, 'Oceania', 1277558000),
 ('San Marino', 27000, 'Europe', 1277558000),
 ('Sao Tome and Principe', 147000, 'Africa', 1277558000),
 ('Saudi Arabia', 21607000, 'Asia', 1277558000),
 ('Senegal', 9481000, 'Africa', 1277558000),
 ('Seychelles', 77000, 'Africa', 1277558000),
 ('Sierra Leone', 4854000, 'Africa', 1277558000),
 ('Singapore', 3567000, 'Asia', 1277558000),
 ('Slovakia', 5398700, 'Europe', 1277558000),
 ('Slovenia', 1987800, 'Europe', 1277558000),
 ('Solomon Islands', 444000, 'Oceania', 1277558000),
 ('Somalia', 10097000, 'Africa', 1277558000),
 ('South Africa', 40377000, 'Africa', 1277558000),
 ('South Georgia and the South Sandwich Islands', 0, 'Antarctica', 1277558000),
 ('South Korea', 46844000, 'Asia', 1277558000),
 ('Spain', 39441700, 'Europe', 1277558000),
 ('Sri Lanka', 18827000, 'Asia', 1277558000),
 ('Sudan', 29490000, 'Africa', 1277558000),
 ('Suriname', 417000, 'South America', 1277558000),
 ('Svalbard and Jan Mayen', 3200, 'Europe', 1277558000),
 ('Swaziland', 1008000, 'Africa', 1277558000),
 ('Sweden', 8861400, 'Europe', 1277558000),
 ('Switzerland', 7160400, 'Europe', 1277558000),
 ('Syria', 16125000, 'Asia', 1277558000),
 ('Taiwan', 22256000, 'Asia', 1277558000),
 ('Tajikistan', 6188000, 'Asia', 1277558000),
 ('Tanzania', 33517000, 'Africa', 1277558000),
 ('Thailand', 61399000, 'Asia', 1277558000),
 ('Togo', 4629000, 'Africa', 1277558000),
 ('Tokelau', 2000, 'Oceania', 1277558000),
 ('Tonga', 99000, 'Oceania', 1277558000),
 ('Trinidad and Tobago', 1295000, 'North America', 1277558000),
 ('Tunisia', 9586000, 'Africa', 1277558000),
 ('Turkey', 66591000, 'Asia', 1277558000),
 ('Turkmenistan', 4459000, 'Asia', 1277558000),
 ('Turks and Caicos Islands', 17000, 'North America', 1277558000),
 ('Tuvalu', 12000, 'Oceania', 1277558000),
 ('Uganda', 21778000, 'Africa', 1277558000),
 ('Ukraine', 50456000, 'Europe', 1277558000),
 ('United Arab Emirates', 2441000, 'Asia', 1277558000),
 ('United Kingdom', 59623400, 'Europe', 1277558000),
 ('United States', 278357000, 'North America', 1277558000),
 ('United States Minor Outlying Islands', 0, 'Oceania', 1277558000),
 ('Uruguay', 3337000, 'South America', 1277558000),
 ('Uzbekistan', 24318000, 'Asia', 1277558000),
 ('Vanuatu', 190000, 'Oceania', 1277558000),
 ('Venezuela', 24170000, 'South America', 1277558000),
 ('Vietnam', 79832000, 'Asia', 1277558000),
 ('Virgin Islands, British', 21000, 'North America', 1277558000),
 ('Virgin Islands, U.S.', 93000, 'North America', 1277558000),
 ('Wallis and Futuna', 15000, 'Oceania', 1277558000),
 ('Western Sahara', 293000, 'Africa', 1277558000),
 ('Yemen', 18112000, 'Asia', 1277558000),
 ('Yugoslavia', 10640000, 'Europe', 1277558000),
 ('Zambia', 9169000, 'Africa', 1277558000),
 ('Zimbabwe', 11669000, 'Africa', 1277558000)]

> **Note:** Window functions in SQL are processed **after** `GROUP BY` and `HAVING`, and **before** `SELECT`. This is a crucial point to understand when using window functions in SQL.

> **Note:** Window functions are only allowed in the `SELECT` and `ORDER BY` clauses.

---

**Example:** Using window functions, count the number of countries in which each language is officially spoken. Remove duplicates and sort the results in descending order by the count value.

---

In [ ]:
%%sql

SELECT
    DISTINCT language,
    COUNT(*) OVER (PARTITION BY language) AS count
FROM
    countrylanguage
WHERE
    isofficial = TRUE
ORDER BY
    count DESC

   postgresql://postgres:***@localhost:5432/imdb
 * postgresql://postgres:***@localhost:5432/world
102 rows affected.

[('English', 44),
 ('Arabic', 22),
 ('Spanish', 20),
 ('French', 18),
 ('German', 6),
 ('Portuguese', 6),
 ('Dutch', 4),
 ('Italian', 4),
 ('Malay', 4),
 ('Danish', 3),
 ('Russian', 3),
 ('Serbo-Croatian', 3),
 ('Aimará', 2),
 ('Chinese', 2),
 ('Greek', 2),
 ('Ket\x9aua', 2),
 ('Korean', 2),
 ('Norwegian', 2),
 ('Romanian', 2),
 ('Samoan', 2),
 ('Swedish', 2),
 ('Tamil', 2),
 ('Turkish', 2),
 ('Afrikaans', 1),
 ('Albaniana', 1),
 ('Armenian', 1),
 ('Azerbaijani', 1),
 ('Belorussian', 1),
 ('Bengali', 1),
 ('Bislama', 1),
 ('Bulgariana', 1),
 ('Burmese', 1),
 ('Catalan', 1),
 ('Chamorro', 1),
 ('Chichewa', 1),
 ('Comorian', 1),
 ('Czech', 1),
 ('Dari', 1),
 ('Dhivehi', 1),
 ('Dzongkha', 1),
 ('Estonian', 1),
 ('Ewe', 1),
 ('Faroese', 1),
 ('Fijian', 1),
 ('Finnish', 1),
 ('Georgiana', 1),
 ('Greenlandic', 1),
 ('Guaraní', 1),
 ('Hebrew', 1),
 ('Hindi', 1),
 ('Hungarian', 1),
 ('Icelandic', 1),
 ('Irish', 1),
 ('Japanese', 1),
 ('Kabyé', 1),
 ('Kazakh', 1),
 ('Khmer', 1),
 ('Kirgiz', 1),
 ('Kiribati', 1),
 ('Kirundi', 1),
 ('Lao', 1),
 ('Latvian', 1),
 ('Lithuanian', 1),
 ('Luxembourgish', 1),
 ('Macedonian', 1),
 ('Malagasy', 1),
 ('Maltese', 1),
 ('Mandarin Chinese', 1),
 ('Maori', 1),
 ('Marshallese', 1),
 ('Mongolian', 1),
 ('Nauru', 1),
 ('Nepali', 1),
 ('Palau', 1),
 ('Papiamento', 1),
 ('Pashto', 1),
 ('Persian', 1),
 ('Pilipino', 1),
 ('Polish', 1),
 ('Romani', 1),
 ('Romansh', 1),
 ('Rwanda', 1),
 ('Singali', 1),
 ('Slovak', 1),
 ('Slovene', 1),
 ('Somali', 1),
 ('Sotho', 1),
 ('Swahili', 1),
 ('Swazi', 1),
 ('Tadzhik', 1),
 ('Thai', 1),
 ('Tigrinja', 1),
 ('Tongan', 1),
 ('Turkmenian', 1),
 ('Tuvalu', 1),
 ('Ukrainian', 1),
 ('Urdu', 1),
 ('Uzbek', 1),
 ('Vietnamese', 1),
 ('Wolof', 1),
 ('Xhosa', 1),
 ('Zulu', 1)]

```{admonition} iclicker question: In the above query, is it possible to use a WHERE clause to limit the results to languages that are spoken in more than one country?

    SELECT
        DISTINCT language,
        COUNT(*) OVER (PARTITION BY language) AS count
    FROM countrylanguage
    WHERE isofficial = TRUE and count  > 1
    ORDER BY count DESC;

A) Yes
B) No
```

```{admonition} iclicker question: In the above query, is it possible to use a WHERE clause to limit the results to languages that are spoken in more than one country?

    SELECT
        DISTINCT language,
        COUNT(*) OVER (PARTITION BY language) AS count
    FROM countrylanguage
    WHERE isofficial = TRUE and COUNT(*) OVER (PARTITION BY language)  > 1
    ORDER BY count DESC;

A) Yes
B) No
```

```{toggle}
- No

- No

> **Note:** Window functions in SQL are processed **after** `GROUP BY` and `HAVING`, and **before** `SELECT`. This is a crucial point to understand when using window functions in SQL.

> **Note:** Window functions are only allowed in the `SELECT` and `ORDER BY` clauses.

So inorder to achieve this we can use a subquery. 
```

In [ ]:
%%sql

WITH temp AS(
    SELECT
    DISTINCT language,
    COUNT(*) OVER (PARTITION BY language) AS count
FROM
    countrylanguage
WHERE
    isofficial = TRUE
ORDER BY
    count DESC
    )
    select * from temp where count > 1;

   postgresql://postgres:***@localhost:5432/imdb
 * postgresql://postgres:***@localhost:5432/world
23 rows affected.

[('English', 44),
 ('Arabic', 22),
 ('Spanish', 20),
 ('French', 18),
 ('German', 6),
 ('Portuguese', 6),
 ('Dutch', 4),
 ('Italian', 4),
 ('Malay', 4),
 ('Danish', 3),
 ('Russian', 3),
 ('Serbo-Croatian', 3),
 ('Aimará', 2),
 ('Chinese', 2),
 ('Greek', 2),
 ('Ket\x9aua', 2),
 ('Korean', 2),
 ('Norwegian', 2),
 ('Romanian', 2),
 ('Samoan', 2),
 ('Swedish', 2),
 ('Tamil', 2),
 ('Turkish', 2)]

Here is some dummy data to help understand the concept of some window functions.

In [ ]:
%%sql
-- Creating a temporary table
DROP table if exists examp;
CREATE TEMPORARY TABLE if not exists examp (
    id INT,
    value INT,
    samplegroup VARCHAR(1)
);

INSERT INTO examp (id, value, samplegroup) VALUES
(1, 10, 'A'),
(2, 20, 'A'),
(3, 30, 'A'),
(4, 40, 'A'),
(5, 50, 'B'),
(6, 60, 'B'),
(7, 70, 'B');

SELECT
  id,
    value,
    LAG(value) OVER (ORDER BY value) AS lag_value,
    LEAD(value) OVER (ORDER BY value) AS lead_value,
    RANK() OVER (ORDER BY value) AS rank_value,
    RANK() OVER (ORDER BY value desc) AS rank_value,
    DENSE_RANK() OVER (ORDER BY value) AS dense_rank_value,
    AVG(value) OVER () AS avg_value_overall,
    COUNT(value) OVER () AS count_value_overall,
    MAX(value) OVER () AS max_value_overall,
    MAX(value) OVER ( PARTITION by samplegroup) AS max_value_partition
    FROM
    examp;

   postgresql://postgres:***@localhost:5432/imdb
 * postgresql://postgres:***@localhost:5432/world
Done.
Done.
7 rows affected.
7 rows affected.

[(1, 10, None, 20, 1, 7, 1, Decimal('40.0000000000000000'), 7, 70, 40),
 (2, 20, 10, 30, 2, 6, 2, Decimal('40.0000000000000000'), 7, 70, 40),
 (3, 30, 20, 40, 3, 5, 3, Decimal('40.0000000000000000'), 7, 70, 40),
 (4, 40, 30, 50, 4, 4, 4, Decimal('40.0000000000000000'), 7, 70, 40),
 (5, 50, 40, 60, 5, 3, 5, Decimal('40.0000000000000000'), 7, 70, 70),
 (6, 60, 50, 70, 6, 2, 6, Decimal('40.0000000000000000'), 7, 70, 70),
 (7, 70, 60, None, 7, 1, 7, Decimal('40.0000000000000000'), 7, 70, 70)]

>Exercise (if time permits, else you can try it on your own):

```{admonition} iclicker: Retrieve the names of employees with the highest and second-highest salaries.
discuss and try writing a query OR just workout the logic.
```

```sql
A. select name from employee
	order by salary desc
	LIMIT 2
```
```sql
B. with temp AS
	(select name, dense_rank() OVER (order by salary desc) as rank from employee)
   select name from temp
	where rank <=2;
```
```sql
C. SELECT name
   FROM employee
   WHERE salary IN (
    SELECT DISTINCT salary
    FROM employee
    ORDER BY salary DESC
    LIMIT 2) 
```
```sql
D. SELECT name
   FROM employee
   WHERE salary >= ANY (
    SELECT DISTINCT salary
    FROM employee
    ORDER BY salary DESC
    LIMIT 2)
```

E. I tried some other logic....


>Note: Option A is not correct. Your query must be always robust. Don't fall in any of these traps.

Try below, here Marky and Mark share the same salary. So both should be returned along with Alice.

```sql
CREATE TABLE employee (
    id INT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    department_id INT,
    salary DECIMAL(10, 2),
    FOREIGN KEY (department_id) REFERENCES department(id)
);
INSERT INTO employee (id, name, department_id, salary)
VALUES 
    (1, 'John', 101, 9000),
    (2, 'Mark', 102, 200000),
	(22, 'Marky', 102, 200000),
    (3, 'Alice', 101, 105000),
    (4, 'Bob', 103, 80000);
    ```

Here is another example (more practice during lab time)

---

**Example:** Write a query that in each row returns each movie's name, production year (`start_year`), and its number of votes, for all movies produced in or after 2018. Your query should also return a column that ranks each movie in descending order, according to its number of votes in the year it was produced.

- Sort your results according the rank value in ascending order

- Retrieve only 20 rows

---

In [ ]:
%sql postgresql://{username}:{password}@{host}:{port}/imdb

In [ ]:
%%sql

SELECT
    title,
    start_year,
    nvotes,
    RANK() OVER (PARTITION BY start_year ORDER BY nvotes DESC) AS rank
FROM
    movies
WHERE
    start_year >= 2018
ORDER BY rank
LIMIT 20;

 * postgresql://postgres:***@localhost:5432/imdb
   postgresql://postgres:***@localhost:5432/world
20 rows affected.

[('Avengers: Infinity War', 2018, 711500, 1),
 ('Avengers: Endgame', 2019, 567968, 1),
 ('Black Panther', 2018, 543002, 2),
 ('Captain Marvel', 2019, 362609, 2),
 ('Once Upon a Time... in Hollywood', 2019, 204266, 3),
 ('Deadpool 2', 2018, 416811, 3),
 ('Bohemian Rhapsody', 2018, 382622, 4),
 ('Spider-Man: Far from Home', 2019, 198519, 4),
 ('A Quiet Place', 2018, 325428, 5),
 ('Shazam!', 2019, 182200, 5),
 ('John Wick: Chapter 3 - Parabellum', 2019, 172900, 6),
 ('Ready Player One', 2018, 316326, 6),
 ('Alita: Battle Angel', 2019, 162513, 7),
 ('Venom', 2018, 305111, 7),
 ('Glass', 2019, 159064, 8),
 ('Aquaman', 2018, 300064, 8),
 ('Us', 2019, 150951, 9),
 ('A Star Is Born', 2018, 276484, 9),
 ('Spider-Man: Into the Spider-Verse', 2018, 262505, 10),
 ('Aladdin', 2019, 139370, 10)]

## Indexing

Check my additional notes if you want to know more about it.

## Moral of the story
- CTEs are more readable than temporary tables.
- Views vs materialized views and when to use them
- Difference between CTEs vs temporary tables vs views
- Window functions and how to use them