# Lecture 4:  (Detour) Data manipulation and definition (DDL)

## Announcements
- Thanks Stephanie, Meagan, Prajeet and Daniel for helping out with lectures.
- I have updated the Lecture 3 themes notes. You will find clicker questions and a couple of additional examples included.
- The practice quiz has been released (on Monday morning). Solutions will not be available until Sunday at midnight. After that, they will be accessible within PrairieLearn.
    - Refer to the policies and workspace.
        - [https://us.prairielearn.com/pl/course_instance/167527/instructor/question/9306790/preview](https://us.prairielearn.com/pl/course_instance/167527/instructor/question/9306790/preview)
        - [https://us.prairielearn.com/pl/course_instance/167527/instructor/question/9300235/preview](https://us.prairielearn.com/pl/course_instance/167527/instructor/question/9300235/preview)
- Make sure to allow time for the workspace to load. Familiarize yourself with the pgAdmin workspace, including where to find tables and how to run queries. Not knowing how to use pgAdmin is not a valid excuse for being unable to answer quiz questions.
- If you encounter any issues during the quiz, you MUST notify the proctor immediately. During an investigation, we will consider the following to understand what happened:
    - Proctor notes to verify if the issue was reported.
    - PrairieLearn logs to check for any server-side issues.
    - pgAdmin logs to identify potential pgAdmin-related issues.
- I have rescheduled the canceled office hour to Thursday from 1â€“2 PM in my office, ICCS 185. Feel free to reach out if you would like to discuss the quiz, quiz preparation, or any lecture topics you are struggling to understand.

```{note}
- I am not the lab instructor this year, so I do not have control over the labs. If you have any issues, please reach out to the section lab instructor, Andy/Prajeet. This is applicable for when the lab grades be released, regrades etc...
```

```{margin}
<img src="img/recap.png" width="400px">
```

## Recap

- We looked into GROUP BY and HAVING clause
- When we should use GROUP BY vs HAVING
- Rules to keep in mind when using GROUP BY and HAVING 
- We can use JOIN to combine multiple tables together (reason why we got multiple tables)
- Different kinds of joins 
    - CROSS JOIN - a cartesian product of all rows from all tables.
    - INNER JOIN
    - LEFT JOIN
    - RIGHT JOIN
    - FULL OUTER JOIN
    - NATURAL JOIN - Be careful when dealing with NATURAL JOIN

## Recap iclicker
ðŸ˜ž - This is going to be a packed lecture with lot to cover.

----

## Themes

```{note}
For the quiz I won't be asking you to write an SQL to create/update/delete/alter a table. But you should clearly understand all the concepts within this lecture as they are quite important. 
```

- More more keywords...
    - `CREATE`
    - `INSERT`
    - `DELETE`
    - `DROP`

- Learning some constraints
    - `NOT NULL`
    - `UNIQUE`
    - `PRIMARY KEY` (understand clearly what is a candidate key and PK, it's properties)
    - `FOREIGN KEY` (understand FK behavior and referential actions)
    - `CHECK`
- Adding a `DEFAULT` VALUE for a column and use of serial data type

- Use of temporary tables
- delete vs truncate

----

<img src="img/warning.gif" width="400" />
<img src="img/dangerzone.gif" width="400" />

Whatever we are going to learn in this lecture can be dangerous as we are creating or making changes to the tables, but with whatever we learned previously, it is not as if you are just reading information from a table. The only danger can be that you retrieve information that you don't want (or something else).

But ***DON'T WORRY***, you won't even have permission to do that. So you can't do anything wrong.

<img src="img/permissions.gif" width="200" />

In [1]:
%load_ext sql
%config SqlMagic.displaylimit = 20

In [2]:
# This is how you deal with credentials in a notebook
import json
import urllib.parse

with open('../lectures/data/credentials.json') as f:
    login = json.load(f)
    
username = login['user']
password = urllib.parse.quote(login['password'])
host = login['host']
port = login['port']
# Just printing the logo information to see I am getting the correct file and 
# information
login

{'host': 'localhost', 'port': 5432, 'user': 'postgres', 'password': 'postgres'}

In [3]:
%sql postgresql://{username}:{password}@{host}:{port}/mds

Okay, so let's get to the world of DDL.

```{note}
Even though you might not use it as a data analyst, we are learning this as it can be helpful for your interviews and also to understand the database better.
```

The next block of code is what you want to know.

- First, we are dropping a table if a table with this name exists. 
- Then, we are creating tables
- Inserting values into these tables.

In [4]:
%%sql

DROP TABLE IF EXISTS
    instructor,
    instructor_course,
    course_cohort
;

 * postgresql://postgres:***@localhost:5432/mds
Done.

[]

In [5]:
%%sql

CREATE TABLE instructor (
    id INTEGER PRIMARY KEY, -- primary key
    name TEXT NOT NULL, -- not null
    email TEXT UNIQUE,-- unique
    phone VARCHAR(12) CHECK (phone LIKE '___-___-____'), -- check
    department VARCHAR(50) DEFAULT 'UBC GENERAL' -- default
    )
;

INSERT INTO
    instructor (id, name, email, phone, department)
VALUES
    (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science'),
    (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience'),
    (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics'),
    (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science'),
    (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics'),
    (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering'),
    (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology'),
    (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics'),
    (9, 'Racel', 'racel@mds.ubc.ca', '222-899-6666', 'Computer Science'),
    (10, 'Betty', 'betty@mds.ubc.ca', '771-899-6650', 'Computer Science'),
    (12, 'Katie', 'katie@mds.ubc.ca', '471-888-6650', 'Statistics'),
    (13, 'John', 'john@mds.ubc.ca', '543-231-6650', 'Statistics'),
    (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics'),
    (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering'),
    (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science')
;

    
CREATE TABLE instructor_course (
    id SERIAL PRIMARY KEY, -- what is serial ?
    instructor_id INTEGER,
    course TEXT,
    enrollment INTEGER,
    begins DATE,
    FOREIGN KEY(instructor_id) REFERENCES instructor(id)
ON DELETE CASCADE
    );

INSERT INTO
    instructor_course (instructor_id, course, enrollment, begins)
VALUES
    (8, 'Statistical Inference and Computation I', 125, '2021-10-01'),
    (8, 'Regression II', 102, '2022-02-05'),
    (1, 'Descriptive Statistics and Probability', 79, '2021-09-10'),
    (1, 'Algorithms and Data Structures', 25, '2021-10-01'),
    (3, 'Algorithms and Data Structures', 25, '2021-10-01'),
    (3, 'Python Programming', 133, '2021-09-07'),
    (3, 'Databases & Data Retrieval', 118, '2021-11-16'),
    (6, 'Visualization I', 155, '2021-10-01'),
    (6, 'Privacy, Ethics & Security', 148, '2022-03-01'),
    (2, 'Programming for Data Manipulation', 160, '2021-09-08'),
    (7, 'Data Science Workflows', 98, '2021-09-15'),
    (2, 'Data Science Workflows', 98, '2021-09-15'),
    (12, 'Web & Cloud Computing', 78, '2022-02-10'),
    (10, 'Introduction to Optimization', NULL, '2022-09-01'),
    (9, 'Parallel Computing', NULL, '2023-01-10'),
    (13, 'Natural Language Processing', NULL, '2023-09-10')
;

CREATE TABLE course_cohort (
    id INTEGER,
    cohort VARCHAR(7)
    )
;

INSERT INTO
    course_cohort (id, cohort)
VALUES
    (13, 'MDS-CL'),
    (8, 'MDS-CL'),
    (1, 'MDS-CL'),
    (3, 'MDS-CL'),
    (1, 'MDS-V'),
    (9, 'MDS-V'),
    (3, 'MDS-V')
;

 * postgresql://postgres:***@localhost:5432/mds
Done.
15 rows affected.
Done.
16 rows affected.
Done.
7 rows affected.

[]

## Create table

Let's pick the 2 create table statements from above and dissect it.

```sql
CREATE TABLE instructor (
    id INTEGER PRIMARY KEY, -- primary key
    name TEXT NOT NULL, -- not null
    email TEXT UNIQUE,-- unique
    phone VARCHAR(12) CHECK (phone LIKE '___-___-____'), -- check
    department VARCHAR(50) DEFAULT 'UBC GENERAL' -- default
    )
;
```
```sql
CREATE TABLE instructor_course (
    id SERIAL PRIMARY KEY, -- what is serial ?
    instructor_id INTEGER,
    course TEXT,
    enrollment INTEGER,
    begins DATE,
    FOREIGN KEY(instructor_id) REFERENCES instructor(id)
ON DELETE CASCADE
    );
```

Following is the animation of how it looks;

<img src="img/forkey2.png" width="800" />

Before dissecting it, you first want to learn some very core and important concepts. This can be very useful for your interviews.

We need to know what keys are 

- candidate key
- primary key and 
- foreign key

We will see what are some constraints we can apply to the columns:

- Domain constraint(data type)
- Unique constraint
- Not null constraint
- Check constraint
- Default constraint
- serial data type

## Candidate key and primary key

- A candidate key is a column, or set of columns, in a table that can uniquely identify any database record without referring to any other data.
- Candidate key must be minimal. This means there should be no subset of the candidate key, which can be a candidate key.
- A DB designer selects a list of candidate keys and provides it to DBA. Candidate keys must not be NULL and must be unique.
- Each table may have one or more candidate keys, but one candidate key is special and is called the primary key (your DBA selects this).
- When you define a column as a `PRIMARY KEY`, it must be unique and cannot be NULL.

```{admonition} iclicker Question (more for discussion): Which column(s) are possible candidate keys in the below table, just by looking at the 3 rows?
<img src="img/studentpowerpuff.png" width="500" />

- A. sid
- B. (sid, SIN): Combination of sid and SIN
- C. (name, major): Combination of name and major
- D. Both options A and B are possible candidate keys
- E. Both options A and C are possible candidate keys
```

```{toggle}
Correct Answer A: 

- B. (sid, SIN): is incorrect because it is not minimal. We can use sid or SIN to identify all rows uniquely. 
- C. (name, major): is incorrect. Because in this given instance we can use name or major to identify all rows uniquely. 

***Note:*** The below is based on the given 3 rows. If we had more rows, then we might have to reconsider our answer.

Possible candidate keys:
- sid
- CWL
- SIN
- name
- major

```{note}
We can't usually decide or pick a candidate key by just looking at an instance (or just at 3 rows). We need to know the business rules and the domain knowledge. Lot more on it, but let's stop here. If you want to know more and have a discussion, please come to me.
```

```{admonition} iclicker (more for discussion): Out of all the possible candidate keys, which one do you select to be the primary key ?
>Check doccam for the table

<img src="img/discuss.png" width="120">

- A. sid
- B. CWL
- C. SIN
- D. (name, major) - Note: this is a candidate key in new instance refer doccam
```

```{toggle}
It Depends!!!!! We will have a discussion on this in class... No notes here. I hope you got your notes from the discussion in class.
```

## Foreign key

Foreign key constraints provide a mechanism through which we can enforce referential integrity.

> Child table: The table containing the foreign key

> Parent table: The table in which a foreign key in another table references

Revisiting the animation of how it looks;

<img src="img/forkey2.png" width="800" />

It tells us that certain column(s) in a table are related to another column(s) in another table. We can, in turn, use these columns to perform joins. This doesn't mean we are only allowed to do joins on these columns, but if we do joins on these column(s), then there are performance benefits. Guarantee that join will happen as expected, as something in the child table will be there in the parent table.

```{important}
- Foreign key values can be `NULL` or can have duplicates (doesn't have to be unique)
- Foreign key MUST BE reffering to a primary key or a unique key in the parent table.
```

Following are the situations where the foreign key constraint gets triggered.

### Inserting/updating a new row in the child table (possibility of creating a new orphan)

- Before inserting/updating something to the child table, we need to make sure that the parent table has that value. If the parent table does not have that value, then we should not be able to insert that value into the child table.

```{admonition} Iclicker Question: Can we insert the following into the instructor_course table?

> 111111, 33, Cloud Computing, 100, 2020-01-01

A) Yes

B) No
```

```{toggle}
No, as there is no instructor with id 33 in the instructor table.
```

```{admonition} Iclicker Question: Can we insert the following into the instructor_course table?

> 111111, NULL, 'Cloud Computing', 100, 2020-01-01

A) Yes

B) No
```

```{toggle}
Yes, as it is okay to put NULL.

- Foreign key values can be null or duplicate (don't have to be unique). A common example of nulls occurring in foreign keys is when the parent row is deleted, and we donâ€™t necessarily want to lose the child row. Also, an example is when we don't have an instructor assigned yet to a course and want to include the information.
```

### Deleting/updating a row in the parent table (possibility of making existing children orphan)

```{admonition} Iclicker Question: Can we update the following row in the instructor table?

> 1,    Mike,   mike@mds.ubc.ca,    605-332-2343,   Computer Science

TO>>>>

> 11,   Mike,   mike@mds.ubc.ca,    605-332-2343,   Computer Science

A) Yes

B) No

C) It depends
```

```{toggle}
Depends! Hence, we want to learn about referential actions. But I want to hear your thoughts on how you would like it to behave in this situation.
```

```{admonition} Iclicker Question: Can we delete the following row in the instructor table?

> 1,    Mike,   mike@mds.ubc.ca,    605-332-2343,   Computer Science

A) Yes

B) No

C) It depends
```

```{toggle}
Depends! ***Hence, we want to learn about referential actions.*** But I want to hear your thoughts on how you would like it to behave in this situation.
```

### Referential actions

As weâ€™ve seen so far, deleting or updating a row in a parent table might be troublesome because it can leave rows in child tables bewildered with broken references.

Referential integrity constraints prevent users from accidentally making inconsistent changes. But SQL also provides us with more options regarding what to do when inconsistencies occur beyond just showing an error message. These options are called referential actions.

Two SQL clauses allow us to implement referential actions: `ON UPDATE` and `ON DELETE` followed by any one of these actions:

- `NO ACTION`: If a user tries to update or delete a row in the parent table that is referenced by one or more rows in the child table, the database system will reject the operation and generate an error. (default behavior)
- `CASCADE`: Applies the same change to the child row
    - `ON UPDATE`: Updates the child foreign key with the new parent key value
    - `ON DELETE`: Deletes the child row as well
- `SET NULL`: Sets the foreign key value to NULL
- `SET DEFAULT`: Sets the foreign key value to its default value

```{important}
Remember that referential actions are added in the definition of the ***child table*** - Not to the parent table.
```

```{note}
Referential actions have nothing to do with the following situations:
- Inserting a new row in the parent table
- Deleting a row in the child table
```

Okay, so now we have finished the following :
- candidate key
- primary key and 
- foreign key

We will see the rest of the options and what they do. It all does exactly what the keyword says.

- Domain constraint(data type)
- Unique constraint
- Not null constraint
- Check constraint
- Default constraint
- serial data type


## Domain constraint(data type)

- Domain constraints specify that within a table, a column may contain only a given set of values.

```{admonition} Iclicker Question: Can we insert the following row in the instructor table?

> confidential_id,      Mike Senior,        mike_senior@mds.ubc.ca,     605-332-2343,   Computer Science

A) Yes

B) No
```

```{toggle}
No, as the data type of the column is integer, and we are trying to insert a string.
```

## Unique constraint

- Unique constraints can be used to prevent duplicate column values in a table.

```{admonition} Iclicker Question: Can we insert the following row in the instructor table ?

> 5555,     Mike Senior,        mike@mds.ubc.ca,        605-332-2343,   Computer Science

A) Yes

B) No
```

```{toggle}
No, as the column email has a unique constraint.
```

## Not null constraint

- Not null constraints specify that a column may not have a null value.

```{admonition} Iclicker Question: Can we insert the following row in the instructor table ?

> 5555,     NULL,       mike_senior@mds.ubc.ca,     605-332-2343,   Computer Science

A) Yes

B) No
```

```{toggle}
No, as the column "name" has a not null constraint.
```

## Check constraint

- Check constraints specify a condition that every row must satisfy.

```{admonition} Iclicker Question: Can we insert the following row in the instructor table ?

> 5555,     Mike Senior,        mike_senior@mds.ubc.ca,     6055-332-2343,  Computer Science

A) Yes

B) No
```

```{toggle}
No, as the column "phone" has a check constraint. 6055-332-2343 is not a valid phone number, and hence, the check constraint fails.
```

## Default constraint

- The default value is used if a column value is not specified in an insert statement.

If I enter the following row 

> 5555,     Mike Senior,        mike_senior@mds.ubc.ca,     6055-332-2343   

Then it is going to insert the following row to the table as the default value for the column "department" is "UBC GENERAL".

> 5555,     Mike Senior,        mike_senior@mds.ubc.ca,     6055-332-2343,  UBC GENERAL 

## Serial data type

- Serial data type is a special data type that is used to auto-increment a column value.

If I enter the following row into the `instructor_course` table

> 8,    Statistical Inference and Computation I,    125,    2021-10-01

It is going to add the `id ` column value with the next available value in the sequence. In this case, it is going to add 6 to the `id` column.

OKAY!!! So, now we talked about all the above constraints, let's revisit the table creation script.

## (revisit) Creating table

```sql
CREATE TABLE instructor (
    id INTEGER PRIMARY KEY, -- primary key
    name TEXT NOT NULL, -- not null
    email TEXT UNIQUE,-- unique
    phone VARCHAR(12) CHECK (phone LIKE '___-___-____'), -- check
    department VARCHAR(50) DEFAULT 'UBC GENERAL' -- default
    )
;
```
```sql
CREATE TABLE instructor_course (
    id SERIAL PRIMARY KEY, -- what is serial ?
    instructor_id INTEGER,
    course TEXT,
    enrollment INTEGER,
    begins DATE,
    FOREIGN KEY(instructor_id) REFERENCES instructor(id)
ON DELETE CASCADE
    );
```

Revisiting(yeah again!!) the animation of how it looks;

<img src="img/forkey2.png" width="800" />

## Insert data

In [6]:
%%sql

INSERT INTO
    instructor
VALUES
    (78, 'Rachel', 'rachel@cs.ubc.ca', '766-442-9059', 'Computer Science')
;

 * postgresql://postgres:***@localhost:5432/mds
1 rows affected.

[]

## insert based on column names

In [7]:
%%sql

INSERT INTO
    instructor(department, name, email, id)
VALUES
    ('Mathematics', 'Carl', 'carl@math.ubc.ca', 65)
;

 * postgresql://postgres:***@localhost:5432/mds
1 rows affected.

[]

See the serial column value is auto-incremented.

## Delete

`DELETE` keyword is used to delete certain rows from the table.

So let's delete something from the `instructor` table.

In [8]:
%%sql
SELECT * instructor
WHERE id = 65 ;

 * postgresql://postgres:***@localhost:5432/mds
17 rows affected.

[(1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science'),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience'),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics'),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science'),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics'),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering'),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology'),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics'),
 (9, 'Racel', 'racel@mds.ubc.ca', '222-899-6666', 'Computer Science'),
 (10, 'Betty', 'betty@mds.ubc.ca', '771-899-6650', 'Computer Science'),
 (12, 'Katie', 'katie@mds.ubc.ca', '471-888-6650', 'Statistics'),
 (13, 'John', 'john@mds.ubc.ca', '543-231-6650', 'Statistics'),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics'),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering'),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science'),
 (78, 'Rachel', 'rachel@cs.ubc.ca', '766-442-9059', 'Computer Science'),
 (65, 'Carl', 'carl@math.ubc.ca', None, 'Mathematics')]

In [9]:
%%sql

DELETE FROM instructor
WHERE id = 65 ;

 * postgresql://postgres:***@localhost:5432/mds
1 rows affected.

[]

Let's see if it is deleted.

In [10]:
%%sql
select * from instructor;

 * postgresql://postgres:***@localhost:5432/mds
16 rows affected.

[(1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science'),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience'),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics'),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science'),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics'),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering'),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology'),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics'),
 (9, 'Racel', 'racel@mds.ubc.ca', '222-899-6666', 'Computer Science'),
 (10, 'Betty', 'betty@mds.ubc.ca', '771-899-6650', 'Computer Science'),
 (12, 'Katie', 'katie@mds.ubc.ca', '471-888-6650', 'Statistics'),
 (13, 'John', 'john@mds.ubc.ca', '543-231-6650', 'Statistics'),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics'),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering'),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science'),
 (78, 'Rachel', 'rachel@cs.ubc.ca', '766-442-9059', 'Computer Science')]

What if I want to delete entire rows from the instructor table ?

I can run this 

```sql
DELETE FROM instructor; -- don't run this 
```

```{admonition} Exercise!!
Play with below queries to see how it behave. Can you reason the behaviour you see here?
```sql
delete from instructor where id = 1;
select * from instructor;
select * from instructor_course;

delete from instructor where id = 12;
select * from instructor;
select * from instructor_course;

delete from instructor where id = 13;
select * from instructor;
select * from instructor_course;

UPDATE instructor SET id = 88 WHERE id = 8;
```

## Truncate 

If I need to delete all the rows from the table, I can use the `TRUNCATE` keyword. It is much more efficient than doing the below query.

```sql
DELETE FROM instructor; -- don't run this 
```

But when I use the `TRUNCATE` keyword, I get the following error.

In [11]:
%sql TRUNCATE TABLE instructor;

 * postgresql://postgres:***@localhost:5432/mds
(psycopg2.errors.FeatureNotSupported) cannot truncate a table referenced in a foreign key constraint
DETAIL:  Table "instructor_course" references "instructor".
HINT:  Truncate table "instructor_course" at the same time, or use TRUNCATE ... CASCADE.

[SQL: TRUNCATE TABLE instructor;]
(Background on this error at: https://sqlalche.me/e/14/tw8g)

I also need to use the `CASCADE` keyword to delete the rows from the child table.

In [12]:
%sql TRUNCATE TABLE instructor CASCADE;

 * postgresql://postgres:***@localhost:5432/mds
Done.

[]

All rows from the instructor table are deleted.

In [13]:
%sql select * from instructor;

 * postgresql://postgres:***@localhost:5432/mds
0 rows affected.

[]

See, all the child table rows are deleted as well.

In [14]:
%sql select * from instructor_course;

 * postgresql://postgres:***@localhost:5432/mds
0 rows affected.

[]

```{admonition} Exercise!!
Play with below queries to see how it behave.
``sql
TRUNCATE TABLE instructor;
TRUNCATE TABLE instructor CASCADE;
select * from instructor;
select * from instructor_course;
```

## Drop

Following is the syntax for dropping a table. Table structure and data will be deleted.

In [15]:
%%sql
select * from instructor;

 * postgresql://postgres:***@localhost:5432/mds
0 rows affected.

[]

The below error is because there is a child table for the instructor table. So, we want to use the `CASCADE` keyword.

In [16]:
%%sql
drop table instructor;

 * postgresql://postgres:***@localhost:5432/mds
(psycopg2.errors.DependentObjectsStillExist) cannot drop table instructor because other objects depend on it
DETAIL:  constraint instructor_course_instructor_id_fkey on table instructor_course depends on table instructor
HINT:  Use DROP ... CASCADE to drop the dependent objects too.

[SQL: drop table instructor;]
(Background on this error at: https://sqlalche.me/e/14/2j85)

In [17]:
%%sql
drop table instructor CASCADE;

 * postgresql://postgres:***@localhost:5432/mds
Done.

[]

And now, the instructor table is dropped.

In [18]:
%%sql
select * from instructor;

 * postgresql://postgres:***@localhost:5432/mds
(psycopg2.errors.UndefinedTable) relation "instructor" does not exist
LINE 1: select * from instructor;
                      ^

[SQL: select * from instructor;]
(Background on this error at: https://sqlalche.me/e/14/f405)

```{admonition} Exercise!!
Play with below queries to see how it behave. Can you reason the behaviour you see here?
```sql
drop table instructor CASCADE;
select * from instructor;
select * from instructor_course;
```

```{admonition} Discussion Question: What is the difference between DELETE vs TRUNCATE vs DROP?
```sql
DELETE FROM instructor; 
TRUNCATE TABLE instructor; 
DROP TABLE instructor; 
```

```{toggle}
- TRUNCATE is faster than DELETE, because it doesn't scan every row before removing it. 
- DROP removes the structure and data. 
```

## Temporary tables

The most important thing to remember is that temporary tables only persist for the duration of a session. Temporary tables may also be used to store a complex query's results to save time and resources.

Let's create a temporary table.

In [ ]:
%%sql 

CREATE TEMPORARY TABLE
    temp_instructor
AS
    SELECT name, department FROM instructor
;

Now let's see the temporary table we created

In [ ]:
%%sql

SELECT * from temp_instructor;

Now let's try to find the same table in the psql section. 

As you saw, we can't find the temporary table in the psql section because it is only available for the duration of the session. psql is a different session.

## Wrap up

<img src="img/wrapup.gif" width="300">

## Moral of the story
- Learned about different constraints and how to use them when creating tables.
- Clearly explain to someone the difference between 
    - candidate key vs. primary key vs. foreign key
    - DELETE vs TRUNCATE vs DROP.
- Referential actions and their effect on the child table.
- Learned about different ways to insert data into tables.
- Learned about different ways to delete data from tables.
- Learned about temporary tables that are only available for the duration of the session.