# Lecture 3: Summarizing & joining tables

## Announcements

```{admonition} Anonymous iclicker: How was your experience with installing PostgreSQL? (MAKE SURE IT IS ANONYMOUS)
- A. There are no issues with Postgres and pgadmin, and the installation I did at the start of MDS is all good.
- B. I had to reinstall it for some other reason, but it's all good.
- C. I forgot my password and had to reinstall it to make it work :( 
- D. Please don't ask me about it. 
```
```{margin}
<img src="img/recap.png" width="400px">
```

## Recap
- Data types: `INTEGER`, `REAL`, `TEXT`, `BOOLEAN`, `DATE` and its casting.
- More more keywords `LIKE`, `ILIKE`, `IN`, `BETWEEN`, `IS NULL` - YOU WILL END UP USING `ILIKE` A LOT.
- More operators `AND`, `OR`, `NOT` - Be careful of the order of precedence of these operators.
- Where to use double quotes `"` and single quotes `'`
- Column aliases using `AS`
- Derived columns:  runtime / 60::REAL AS runtime_hours
- Use of `CASE` keyword
- Some inbuilt functions `ROUND`, `SUBSTR`, `LENGTH` and many more.
- Order of execution of SQL statements vs Order of SQL clauses

```{admonition} Recap iclicker: Following is a "student" table. 

| student_id | name   | age |
|------------|--------|-----|
| 2          | Jane   | 30  |
| 3          | Alexander    | 10  |
| 4          | Emily  | 40  |
| 5          | Alex   | 20  |
| 6          | alex    | 80  |
| 7          | Alice  | 10  |
| 8          | Boalexo  | 50  |
| 9          | NULL  | 60  |

What is the output of the following query?

    SELECT name, age, age/2 AS age_half
    FROM student
    WHERE name ILIKE 'Alex%' OR name = 'NULL' ;

> Note: In student_id 9, the name got a `NULL` value. 

A.
| name   | age | age_half |
|--------|-----|----------|
| Alexander    | 10  | 5        |
| Alex   | 20  | 10       |
| alex    | 80  | 40       |
| NULL  | 60  | 30       |

B.
| name   | age | age_half |
|--------|-----|----------|
| Alexander    | 10  | 5        |
| Alex   | 20  | 10       |
| alex    | 80  | 40       |

C.
| name   | age | age_half |
|--------|-----|----------|
| Alexander    | 10  | 5        |
| Alex   | 20  | 10       |
| alex    | 80  | 40       |
| Boalexo  | 50  | 25  |

D.
| name   | age | age/2 |
|--------|-----|----------|
| Alexander    | 10  | 5        |
| Alex   | 20  | 10       |
| alex    | 80  | 40       |

```

```{toggle}
Answer B.

If you got it wrong, please review the lecture notes and try to understand the following:
- `ILIKE` is case insensitive. So, it will match `Alex` and `alex` .
- If you want to match `NULL` values, you need to use `IS NULL` or `IS NOT NULL` keywords.
```

## Themes
- Aggregations: If we want to do operations on a bunch of rows at once. 
- Grouping: If we want to do operations on a bunch of rows at once but grouped by some column(s).
- Joins: If we want to combine data from multiple tables.

Look at the below example:

In [1]:
%load_ext sql
%config SqlMagic.displaylimit = 20

In [2]:
import json
import urllib.parse

with open('../lectures/data/credentials.json') as f:
    login = json.load(f)
    
username = login['user']
password = urllib.parse.quote(login['password'])
host = login['host']
port = login['port']
# Just printing the logo information to see I am getting the correct file and 
# information
login

{'host': 'localhost', 'port': 5432, 'user': 'postgres', 'password': 'postgres'}

In [3]:
%sql postgresql://{username}:{password}@{host}:{port}/world

In [4]:
%%sql

SELECT *
FROM country ;

 * postgresql://postgres:***@localhost:5432/world
239 rows affected.

[('AFG', 'Afghanistan', 'Asia', 'Southern and Central Asia', 652090.0, 1919, 22720000, 45.9, Decimal('5976.00'), None, 'Afganistan/Afqanestan', 'Islamic Emirate', 'Mohammad Omar', 1, 'AF'),
 ('NLD', 'Netherlands', 'Europe', 'Western Europe', 41526.0, 1581, 15864000, 78.3, Decimal('371362.00'), Decimal('360478.00'), 'Nederland', 'Constitutional Monarchy', 'Beatrix', 5, 'NL'),
 ('ANT', 'Netherlands Antilles', 'North America', 'Caribbean', 800.0, None, 217000, 74.7, Decimal('1941.00'), None, 'Nederlandse Antillen', 'Nonmetropolitan Territory of The Netherlands', 'Beatrix', 33, 'AN'),
 ('ALB', 'Albania', 'Europe', 'Southern Europe', 28748.0, 1912, 3401200, 71.6, Decimal('3205.00'), Decimal('2500.00'), 'Shqipëria', 'Republic', 'Rexhep Mejdani', 34, 'AL'),
 ('DZA', 'Algeria', 'Africa', 'Northern Africa', 2381741.0, 1962, 31471000, 69.7, Decimal('49982.00'), Decimal('46966.00'), 'Al-Jaza\x92ir/Algérie', 'Republic', 'Abdelaziz Bouteflika', 35, 'DZ'),
 ('ASM', 'American Samoa', 'Oceania', 'Polynesia', 199.0, None, 68000, 75.1, Decimal('334.00'), None, 'Amerika Samoa', 'US Territory', 'George W. Bush', 54, 'AS'),
 ('AND', 'Andorra', 'Europe', 'Southern Europe', 468.0, 1278, 78000, 83.5, Decimal('1630.00'), None, 'Andorra', 'Parliamentary Coprincipality', '', 55, 'AD'),
 ('AGO', 'Angola', 'Africa', 'Central Africa', 1246700.0, 1975, 12878000, 38.3, Decimal('6648.00'), Decimal('7984.00'), 'Angola', 'Republic', 'José Eduardo dos Santos', 56, 'AO'),
 ('AIA', 'Anguilla', 'North America', 'Caribbean', 96.0, None, 8000, 76.1, Decimal('63.20'), None, 'Anguilla', 'Dependent Territory of the UK', 'Elisabeth II', 62, 'AI'),
 ('ATG', 'Antigua and Barbuda', 'North America', 'Caribbean', 442.0, 1981, 68000, 70.5, Decimal('612.00'), Decimal('584.00'), 'Antigua and Barbuda', 'Constitutional Monarchy', 'Elisabeth II', 63, 'AG'),
 ('ARE', 'United Arab Emirates', 'Asia', 'Middle East', 83600.0, 1971, 2441000, 74.1, Decimal('37966.00'), Decimal('36846.00'), 'Al-Imarat al-´Arabiya al-Muttahida', 'Emirate Federation', 'Zayid bin Sultan al-Nahayan', 65, 'AE'),
 ('ARG', 'Argentina', 'South America', 'South America', 2780400.0, 1816, 37032000, 75.1, Decimal('340238.00'), Decimal('323310.00'), 'Argentina', 'Federal Republic', 'Fernando de la Rúa', 69, 'AR'),
 ('ARM', 'Armenia', 'Asia', 'Middle East', 29800.0, 1991, 3520000, 66.4, Decimal('1813.00'), Decimal('1627.00'), 'Hajastan', 'Republic', 'Robert Kot\x9aarjan', 126, 'AM'),
 ('ABW', 'Aruba', 'North America', 'Caribbean', 193.0, None, 103000, 78.4, Decimal('828.00'), Decimal('793.00'), 'Aruba', 'Nonmetropolitan Territory of The Netherlands', 'Beatrix', 129, 'AW'),
 ('AUS', 'Australia', 'Oceania', 'Australia and New Zealand', 7741220.0, 1901, 18886000, 79.8, Decimal('351182.00'), Decimal('392911.00'), 'Australia', 'Constitutional Monarchy, Federation', 'Elisabeth II', 135, 'AU'),
 ('AZE', 'Azerbaijan', 'Asia', 'Middle East', 86600.0, 1991, 7734000, 62.9, Decimal('4127.00'), Decimal('4100.00'), 'Azärbaycan', 'Federal Republic', 'Heydär Äliyev', 144, 'AZ'),
 ('BHS', 'Bahamas', 'North America', 'Caribbean', 13878.0, 1973, 307000, 71.1, Decimal('3527.00'), Decimal('3347.00'), 'The Bahamas', 'Constitutional Monarchy', 'Elisabeth II', 148, 'BS'),
 ('BHR', 'Bahrain', 'Asia', 'Middle East', 694.0, 1971, 617000, 73.0, Decimal('6366.00'), Decimal('6097.00'), 'Al-Bahrayn', 'Monarchy (Emirate)', 'Hamad ibn Isa al-Khalifa', 149, 'BH'),
 ('BGD', 'Bangladesh', 'Asia', 'Southern and Central Asia', 143998.0, 1971, 129155000, 60.2, Decimal('32852.00'), Decimal('31966.00'), 'Bangladesh', 'Republic', 'Shahabuddin Ahmad', 150, 'BD'),
 ('BRB', 'Barbados', 'North America', 'Caribbean', 430.0, 1966, 270000, 73.0, Decimal('2223.00'), Decimal('2186.00'), 'Barbados', 'Constitutional Monarchy', 'Elisabeth II', 174, 'BB'),
 ('BEL', 'Belgium', 'Europe', 'Western Europe', 30518.0, 1830, 10239000, 77.8, Decimal('249704.00'), Decimal('243948.00'), 'België/Belgique', 'Constitutional Monarchy, Federation', 'Albert II', 179, 'BE'),
 ('BLZ', 'Belize', 'North America', 'Central America', 22696.0, 1981, 241000, 70.9, Decimal('630.00'), Decimal('616.00'), 'Belize', 'Constitutional Monarchy', 'Elisabeth II', 185, 'BZ'),
 ('BEN', 'Benin', 'Africa', 'Western Africa', 112622.0, 1960, 6097000, 50.2, Decimal('2357.00'), Decimal('2141.00'), 'Bénin', 'Republic', 'Mathieu Kérékou', 187, 'BJ'),
 ('BMU', 'Bermuda', 'North America', 'North America', 53.0, None, 65000, 76.9, Decimal('2328.00'), Decimal('2190.00'), 'Bermuda', 'Dependent Territory of the UK', 'Elisabeth II', 191, 'BM'),
 ('BTN', 'Bhutan', 'Asia', 'Southern and Central Asia', 47000.0, 1910, 2124000, 52.4, Decimal('372.00'), Decimal('383.00'), 'Druk-Yul', 'Monarchy', 'Jigme Singye Wangchuk', 192, 'BT'),
 ('BOL', 'Bolivia', 'South America', 'South America', 1098581.0, 1825, 8329000, 63.7, Decimal('8571.00'), Decimal('7967.00'), 'Bolivia', 'Republic', 'Hugo Bánzer Suárez', 194, 'BO'),
 ('BIH', 'Bosnia and Herzegovina', 'Europe', 'Southern Europe', 51197.0, 1992, 3972000, 71.5, Decimal('2841.00'), None, 'Bosna i Hercegovina', 'Federal Republic', 'Ante Jelavic', 201, 'BA'),
 ('BWA', 'Botswana', 'Africa', 'Southern Africa', 581730.0, 1966, 1622000, 39.3, Decimal('4834.00'), Decimal('4935.00'), 'Botswana', 'Republic', 'Festus G. Mogae', 204, 'BW'),
 ('BRA', 'Brazil', 'South America', 'South America', 8547403.0, 1822, 170115000, 62.9, Decimal('776739.00'), Decimal('804108.00'), 'Brasil', 'Federal Republic', 'Fernando Henrique Cardoso', 211, 'BR'),
 ('GBR', 'United Kingdom', 'Europe', 'British Islands', 242900.0, 1066, 59623400, 77.7, Decimal('1378330.00'), Decimal('1296830.00'), 'United Kingdom', 'Constitutional Monarchy', 'Elisabeth II', 456, 'GB'),
 ('VGB', 'Virgin Islands, British', 'North America', 'Caribbean', 151.0, None, 21000, 75.4, Decimal('612.00'), Decimal('573.00'), 'British Virgin Islands', 'Dependent Territory of the UK', 'Elisabeth II', 537, 'VG'),
 ('BRN', 'Brunei', 'Asia', 'Southeast Asia', 5765.0, 1984, 328000, 73.6, Decimal('11705.00'), Decimal('12460.00'), 'Brunei Darussalam', 'Monarchy (Sultanate)', 'Haji Hassan al-Bolkiah', 538, 'BN'),
 ('BGR', 'Bulgaria', 'Europe', 'Eastern Europe', 110994.0, 1908, 8190900, 70.9, Decimal('12178.00'), Decimal('10169.00'), 'Balgarija', 'Republic', 'Petar Stojanov', 539, 'BG'),
 ('BFA', 'Burkina Faso', 'Africa', 'Western Africa', 274000.0, 1960, 11937000, 46.7, Decimal('2425.00'), Decimal('2201.00'), 'Burkina Faso', 'Republic', 'Blaise Compaoré', 549, 'BF'),
 ('BDI', 'Burundi', 'Africa', 'Eastern Africa', 27834.0, 1962, 6695000, 46.2, Decimal('903.00'), Decimal('982.00'), 'Burundi/Uburundi', 'Republic', 'Pierre Buyoya', 552, 'BI'),
 ('CYM', 'Cayman Islands', 'North America', 'Caribbean', 264.0, None, 38000, 78.9, Decimal('1263.00'), Decimal('1186.00'), 'Cayman Islands', 'Dependent Territory of the UK', 'Elisabeth II', 553, 'KY'),
 ('CHL', 'Chile', 'South America', 'South America', 756626.0, 1810, 15211000, 75.7, Decimal('72949.00'), Decimal('75780.00'), 'Chile', 'Republic', 'Ricardo Lagos Escobar', 554, 'CL'),
 ('COK', 'Cook Islands', 'Oceania', 'Polynesia', 236.0, None, 20000, 71.1, Decimal('100.00'), None, 'The Cook Islands', 'Nonmetropolitan Territory of New Zealand', 'Elisabeth II', 583, 'CK'),
 ('CRI', 'Costa Rica', 'North America', 'Central America', 51100.0, 1821, 4023000, 75.8, Decimal('10226.00'), Decimal('9757.00'), 'Costa Rica', 'Republic', 'Miguel Ángel Rodríguez Echeverría', 584, 'CR'),
 ('DJI', 'Djibouti', 'Africa', 'Eastern Africa', 23200.0, 1977, 638000, 50.8, Decimal('382.00'), Decimal('373.00'), 'Djibouti/Jibuti', 'Republic', 'Ismail Omar Guelleh', 585, 'DJ'),
 ('DMA', 'Dominica', 'North America', 'Caribbean', 751.0, 1978, 71000, 73.4, Decimal('256.00'), Decimal('243.00'), 'Dominica', 'Republic', 'Vernon Shaw', 586, 'DM'),
 ('DOM', 'Dominican Republic', 'North America', 'Caribbean', 48511.0, 1844, 8495000, 73.2, Decimal('15846.00'), Decimal('15076.00'), 'República Dominicana', 'Republic', 'Hipólito Mejía Domínguez', 587, 'DO'),
 ('ECU', 'Ecuador', 'South America', 'South America', 283561.0, 1822, 12646000, 71.1, Decimal('19770.00'), Decimal('19769.00'), 'Ecuador', 'Republic', 'Gustavo Noboa Bejarano', 594, 'EC'),
 ('EGY', 'Egypt', 'Africa', 'Northern Africa', 1001449.0, 1922, 68470000, 63.3, Decimal('82710.00'), Decimal('75617.00'), 'Misr', 'Republic', 'Hosni Mubarak', 608, 'EG'),
 ('SLV', 'El Salvador', 'North America', 'Central America', 21041.0, 1841, 6276000, 69.7, Decimal('11863.00'), Decimal('11203.00'), 'El Salvador', 'Republic', 'Francisco Guillermo Flores Pérez', 645, 'SV'),
 ('ERI', 'Eritrea', 'Africa', 'Eastern Africa', 117600.0, 1993, 3850000, 55.8, Decimal('650.00'), Decimal('755.00'), 'Ertra', 'Republic', 'Isayas Afewerki [Isaias Afwerki]', 652, 'ER'),
 ('ESP', 'Spain', 'Europe', 'Southern Europe', 505992.0, 1492, 39441700, 78.8, Decimal('553233.00'), Decimal('532031.00'), 'España', 'Constitutional Monarchy', 'Juan Carlos I', 653, 'ES'),
 ('ZAF', 'South Africa', 'Africa', 'Southern Africa', 1221037.0, 1910, 40377000, 51.1, Decimal('116729.00'), Decimal('129092.00'), 'South Africa', 'Republic', 'Thabo Mbeki', 716, 'ZA'),
 ('ETH', 'Ethiopia', 'Africa', 'Eastern Africa', 1104300.0, -1000, 62565000, 45.2, Decimal('6353.00'), Decimal('6180.00'), 'YeItyop´iya', 'Republic', 'Negasso Gidada', 756, 'ET'),
 ('FLK', 'Falkland Islands', 'South America', 'South America', 12173.0, None, 2000, None, Decimal('0.00'), None, 'Falkland Islands', 'Dependent Territory of the UK', 'Elisabeth II', 763, 'FK'),
 ('FJI', 'Fiji Islands', 'Oceania', 'Melanesia', 18274.0, 1970, 817000, 67.9, Decimal('1536.00'), Decimal('2149.00'), 'Fiji Islands', 'Republic', 'Josefa Iloilo', 764, 'FJ'),
 ('PHL', 'Philippines', 'Asia', 'Southeast Asia', 300000.0, 1946, 75967000, 67.5, Decimal('65107.00'), Decimal('82239.00'), 'Pilipinas', 'Republic', 'Gloria Macapagal-Arroyo', 766, 'PH'),
 ('FRO', 'Faroe Islands', 'Europe', 'Nordic Countries', 1399.0, None, 43000, 78.4, Decimal('0.00'), None, 'Føroyar', 'Part of Denmark', 'Margrethe II', 901, 'FO'),
 ('GAB', 'Gabon', 'Africa', 'Central Africa', 267668.0, 1960, 1226000, 50.1, Decimal('5493.00'), Decimal('5279.00'), 'Le Gabon', 'Republic', 'Omar Bongo', 902, 'GA'),
 ('GMB', 'Gambia', 'Africa', 'Western Africa', 11295.0, 1965, 1305000, 53.2, Decimal('320.00'), Decimal('325.00'), 'The Gambia', 'Republic', 'Yahya Jammeh', 904, 'GM'),
 ('GEO', 'Georgia', 'Asia', 'Middle East', 69700.0, 1991, 4968000, 64.5, Decimal('6064.00'), Decimal('5924.00'), 'Sakartvelo', 'Republic', 'Eduard \x8aevardnadze', 905, 'GE'),
 ('GHA', 'Ghana', 'Africa', 'Western Africa', 238533.0, 1957, 20212000, 57.4, Decimal('7137.00'), Decimal('6884.00'), 'Ghana', 'Republic', 'John Kufuor', 910, 'GH'),
 ('GIB', 'Gibraltar', 'Europe', 'Southern Europe', 6.0, None, 25000, 79.0, Decimal('258.00'), None, 'Gibraltar', 'Dependent Territory of the UK', 'Elisabeth II', 915, 'GI'),
 ('GRD', 'Grenada', 'North America', 'Caribbean', 344.0, 1974, 94000, 64.5, Decimal('318.00'), None, 'Grenada', 'Constitutional Monarchy', 'Elisabeth II', 916, 'GD'),
 ('GRL', 'Greenland', 'North America', 'North America', 2166090.0, None, 56000, 68.1, Decimal('0.00'), None, 'Kalaallit Nunaat/Grønland', 'Part of Denmark', 'Margrethe II', 917, 'GL'),
 ('GLP', 'Guadeloupe', 'North America', 'Caribbean', 1705.0, None, 456000, 77.0, Decimal('3501.00'), None, 'Guadeloupe', 'Overseas Department of France', 'Jacques Chirac', 919, 'GP'),
 ('GUM', 'Guam', 'Oceania', 'Micronesia', 549.0, None, 168000, 77.8, Decimal('1197.00'), Decimal('1136.00'), 'Guam', 'US Territory', 'George W. Bush', 921, 'GU'),
 ('GTM', 'Guatemala', 'North America', 'Central America', 108889.0, 1821, 11385000, 66.2, Decimal('19008.00'), Decimal('17797.00'), 'Guatemala', 'Republic', 'Alfonso Portillo Cabrera', 922, 'GT'),
 ('GIN', 'Guinea', 'Africa', 'Western Africa', 245857.0, 1958, 7430000, 45.6, Decimal('2352.00'), Decimal('2383.00'), 'Guinée', 'Republic', 'Lansana Conté', 926, 'GN'),
 ('GNB', 'Guinea-Bissau', 'Africa', 'Western Africa', 36125.0, 1974, 1213000, 49.0, Decimal('293.00'), Decimal('272.00'), 'Guiné-Bissau', 'Republic', 'Kumba Ialá', 927, 'GW'),
 ('GUY', 'Guyana', 'South America', 'South America', 214969.0, 1966, 861000, 64.0, Decimal('722.00'), Decimal('743.00'), 'Guyana', 'Republic', 'Bharrat Jagdeo', 928, 'GY'),
 ('HTI', 'Haiti', 'North America', 'Caribbean', 27750.0, 1804, 8222000, 49.2, Decimal('3459.00'), Decimal('3107.00'), 'Haïti/Dayti', 'Republic', 'Jean-Bertrand Aristide', 929, 'HT'),
 ('HND', 'Honduras', 'North America', 'Central America', 112088.0, 1838, 6485000, 69.9, Decimal('5333.00'), Decimal('4697.00'), 'Honduras', 'Republic', 'Carlos Roberto Flores Facussé', 933, 'HN'),
 ('HKG', 'Hong Kong', 'Asia', 'Eastern Asia', 1075.0, None, 6782000, 79.5, Decimal('166448.00'), Decimal('173610.00'), 'Xianggang/Hong Kong', 'Special Administrative Region of China', 'Jiang Zemin', 937, 'HK'),
 ('SJM', 'Svalbard and Jan Mayen', 'Europe', 'Nordic Countries', 62422.0, None, 3200, None, Decimal('0.00'), None, 'Svalbard og Jan Mayen', 'Dependent Territory of Norway', 'Harald V', 938, 'SJ'),
 ('IDN', 'Indonesia', 'Asia', 'Southeast Asia', 1904569.0, 1945, 212107000, 68.0, Decimal('84982.00'), Decimal('215002.00'), 'Indonesia', 'Republic', 'Abdurrahman Wahid', 939, 'ID'),
 ('IND', 'India', 'Asia', 'Southern and Central Asia', 3287263.0, 1947, 1013662000, 62.5, Decimal('447114.00'), Decimal('430572.00'), 'Bharat/India', 'Federal Republic', 'Kocheril Raman Narayanan', 1109, 'IN'),
 ('IRQ', 'Iraq', 'Asia', 'Middle East', 438317.0, 1932, 23115000, 66.5, Decimal('11500.00'), None, 'Al-´Iraq', 'Republic', 'Saddam Hussein al-Takriti', 1365, 'IQ'),
 ('IRN', 'Iran', 'Asia', 'Southern and Central Asia', 1648195.0, 1906, 67702000, 69.7, Decimal('195746.00'), Decimal('160151.00'), 'Iran', 'Islamic Republic', 'Ali Mohammad Khatami-Ardakani', 1380, 'IR'),
 ('IRL', 'Ireland', 'Europe', 'British Islands', 70273.0, 1921, 3775100, 76.8, Decimal('75921.00'), Decimal('73132.00'), 'Ireland/Éire', 'Republic', 'Mary McAleese', 1447, 'IE'),
 ('ISL', 'Iceland', 'Europe', 'Nordic Countries', 103000.0, 1944, 279000, 79.4, Decimal('8255.00'), Decimal('7474.00'), 'Ísland', 'Republic', 'Ólafur Ragnar Grímsson', 1449, 'IS'),
 ('ISR', 'Israel', 'Asia', 'Middle East', 21056.0, 1948, 6217000, 78.6, Decimal('97477.00'), Decimal('98577.00'), 'Yisra\x92el/Isra\x92il', 'Republic', 'Moshe Katzav', 1450, 'IL'),
 ('ITA', 'Italy', 'Europe', 'Southern Europe', 301316.0, 1861, 57680000, 79.0, Decimal('1161755.00'), Decimal('1145372.00'), 'Italia', 'Republic', 'Carlo Azeglio Ciampi', 1464, 'IT'),
 ('TMP', 'East Timor', 'Asia', 'Southeast Asia', 14874.0, None, 885000, 46.0, Decimal('0.00'), None, 'Timor Timur', 'Administrated by the UN', 'José Alexandre Gusmão', 1522, 'TP'),
 ('AUT', 'Austria', 'Europe', 'Western Europe', 83859.0, 1918, 8091800, 77.7, Decimal('211860.00'), Decimal('206025.00'), 'Österreich', 'Federal Republic', 'Thomas Klestil', 1523, 'AT'),
 ('JAM', 'Jamaica', 'North America', 'Caribbean', 10990.0, 1962, 2583000, 75.2, Decimal('6871.00'), Decimal('6722.00'), 'Jamaica', 'Constitutional Monarchy', 'Elisabeth II', 1530, 'JM'),
 ('JPN', 'Japan', 'Asia', 'Eastern Asia', 377829.0, -660, 126714000, 80.7, Decimal('3787042.00'), Decimal('4192638.00'), 'Nihon/Nippon', 'Constitutional Monarchy', 'Akihito', 1532, 'JP'),
 ('YEM', 'Yemen', 'Asia', 'Middle East', 527968.0, 1918, 18112000, 59.8, Decimal('6041.00'), Decimal('5729.00'), 'Al-Yaman', 'Republic', 'Ali Abdallah Salih', 1780, 'YE'),
 ('JOR', 'Jordan', 'Asia', 'Middle East', 88946.0, 1946, 5083000, 77.4, Decimal('7526.00'), Decimal('7051.00'), 'Al-Urdunn', 'Constitutional Monarchy', 'Abdullah II', 1786, 'JO'),
 ('CXR', 'Christmas Island', 'Oceania', 'Australia and New Zealand', 135.0, None, 2500, None, Decimal('0.00'), None, 'Christmas Island', 'Territory of Australia', 'Elisabeth II', 1791, 'CX'),
 ('YUG', 'Yugoslavia', 'Europe', 'Southern Europe', 102173.0, 1918, 10640000, 72.4, Decimal('17000.00'), None, 'Jugoslavija', 'Federal Republic', 'Vojislav Ko\x9atunica', 1792, 'YU'),
 ('KHM', 'Cambodia', 'Asia', 'Southeast Asia', 181035.0, 1953, 11168000, 56.5, Decimal('5121.00'), Decimal('5670.00'), 'Kâmpuchéa', 'Constitutional Monarchy', 'Norodom Sihanouk', 1800, 'KH'),
 ('CMR', 'Cameroon', 'Africa', 'Central Africa', 475442.0, 1960, 15085000, 54.8, Decimal('9174.00'), Decimal('8596.00'), 'Cameroun/Cameroon', 'Republic', 'Paul Biya', 1804, 'CM'),
 ('CAN', 'Canada', 'North America', 'North America', 9970610.0, 1867, 31147000, 79.4, Decimal('598862.00'), Decimal('625626.00'), 'Canada', 'Constitutional Monarchy, Federation', 'Elisabeth II', 1822, 'CA'),
 ('CPV', 'Cape Verde', 'Africa', 'Western Africa', 4033.0, 1975, 428000, 68.9, Decimal('435.00'), Decimal('420.00'), 'Cabo Verde', 'Republic', 'António Mascarenhas Monteiro', 1859, 'CV'),
 ('KAZ', 'Kazakstan', 'Asia', 'Southern and Central Asia', 2724900.0, 1991, 16223000, 63.2, Decimal('24375.00'), Decimal('23383.00'), 'Qazaqstan', 'Republic', 'Nursultan Nazarbajev', 1864, 'KZ'),
 ('KEN', 'Kenya', 'Africa', 'Eastern Africa', 580367.0, 1963, 30080000, 48.0, Decimal('9217.00'), Decimal('10241.00'), 'Kenya', 'Republic', 'Daniel arap Moi', 1881, 'KE'),
 ('CAF', 'Central African Republic', 'Africa', 'Central Africa', 622984.0, 1960, 3615000, 44.0, Decimal('1054.00'), Decimal('993.00'), 'Centrafrique/Bê-Afrîka', 'Republic', 'Ange-Félix Patassé', 1889, 'CF'),
 ('CHN', 'China', 'Asia', 'Eastern Asia', 9572900.0, -1523, 1277558000, 71.4, Decimal('982268.00'), Decimal('917719.00'), 'Zhongquo', "People'sRepublic", 'Jiang Zemin', 1891, 'CN'),
 ('KGZ', 'Kyrgyzstan', 'Asia', 'Southern and Central Asia', 199900.0, 1991, 4699000, 63.4, Decimal('1626.00'), Decimal('1767.00'), 'Kyrgyzstan', 'Republic', 'Askar Akajev', 2253, 'KG'),
 ('KIR', 'Kiribati', 'Oceania', 'Micronesia', 726.0, 1979, 83000, 59.8, Decimal('40.70'), None, 'Kiribati', 'Republic', 'Teburoro Tito', 2256, 'KI'),
 ('COL', 'Colombia', 'South America', 'South America', 1138914.0, 1810, 42321000, 70.3, Decimal('102896.00'), Decimal('105116.00'), 'Colombia', 'Republic', 'Andrés Pastrana Arango', 2257, 'CO'),
 ('COM', 'Comoros', 'Africa', 'Eastern Africa', 1862.0, 1975, 578000, 60.0, Decimal('4401.00'), Decimal('4361.00'), 'Komori/Comores', 'Republic', 'Azali Assoumani', 2295, 'KM'),
 ('COG', 'Congo', 'Africa', 'Central Africa', 342000.0, 1960, 2943000, 47.4, Decimal('2108.00'), Decimal('2287.00'), 'Congo', 'Republic', 'Denis Sassou-Nguesso', 2296, 'CG'),
 ('COD', 'Congo, The Democratic Republic of the', 'Africa', 'Central Africa', 2344858.0, 1960, 51654000, 48.8, Decimal('6964.00'), Decimal('2474.00'), 'République Démocratique du Congo', 'Republic', 'Joseph Kabila', 2298, 'CD'),
 ('CCK', 'Cocos (Keeling) Islands', 'Oceania', 'Australia and New Zealand', 14.0, None, 600, None, Decimal('0.00'), None, 'Cocos (Keeling) Islands', 'Territory of Australia', 'Elisabeth II', 2317, 'CC'),
 ('PRK', 'North Korea', 'Asia', 'Eastern Asia', 120538.0, 1948, 24039000, 70.7, Decimal('5332.00'), None, 'Choson Minjujuui In´min Konghwaguk (Bukhan)', 'Socialistic Republic', 'Kim Jong-il', 2318, 'KP'),
 ('KOR', 'South Korea', 'Asia', 'Eastern Asia', 99434.0, 1948, 46844000, 74.4, Decimal('320749.00'), Decimal('442544.00'), 'Taehan Min\x92guk (Namhan)', 'Republic', 'Kim Dae-jung', 2331, 'KR'),
 ('GRC', 'Greece', 'Europe', 'Southern Europe', 131626.0, 1830, 10545700, 78.4, Decimal('120724.00'), Decimal('119946.00'), 'Elláda', 'Republic', 'Kostis Stefanopoulos', 2401, 'GR'),
 ('HRV', 'Croatia', 'Europe', 'Southern Europe', 56538.0, 1991, 4473000, 73.7, Decimal('20208.00'), Decimal('19300.00'), 'Hrvatska', 'Republic', '\x8atipe Mesic', 2409, 'HR'),
 ('CUB', 'Cuba', 'North America', 'Caribbean', 110861.0, 1902, 11201000, 76.2, Decimal('17843.00'), Decimal('18862.00'), 'Cuba', 'Socialistic Republic', 'Fidel Castro Ruz', 2413, 'CU'),

In [5]:
%%sql

SELECT count(*) AS count
FROM country ;

 * postgresql://postgres:***@localhost:5432/world
1 rows affected.

[(239,)]

In [6]:
%%sql

SELECT count(headofstate) AS count
FROM country ;

 * postgresql://postgres:***@localhost:5432/world
1 rows affected.

[(238,)]

```{admonition} Discussion: Why do you think the number is different when we did count(*) and count(acolumn) ?
<img src="img/discuss.png" width="120">
```

```{toggle}
Except for COUNT(*), all aggregation functions ignore NULLs
```

Let's play with some other aggregations;

In [7]:
%%sql
SELECT avg(population) AS count
FROM country ;

 * postgresql://postgres:***@localhost:5432/world
1 rows affected.

[(Decimal('25434098.117154811715'),)]

Here is the graphics on how it works:

<img src="img/simpleavg.png" width="600">

## GROUP BY

But what if I want to find the ***average population for each continent***? 

> Divide tuples into groups and apply aggregate operations to each group.

I want to know about GROUP BY to do that. Here is the graphics on how it works:

<img src="img/groupby.png" width="600">

In [8]:
%%sql

SELECT continent, AVG(population)
FROM country
GROUP BY continent ;

 * postgresql://postgres:***@localhost:5432/world
7 rows affected.

[('Asia', Decimal('72647562.745098039216')),
 ('South America', Decimal('24698571.428571428571')),
 ('North America', Decimal('13053864.864864864865')),
 ('Oceania', Decimal('1085755.357142857143')),
 ('Antarctica', Decimal('0E-20')),
 ('Africa', Decimal('13525431.034482758621')),
 ('Europe', Decimal('15871186.956521739130'))]

```{admonition} Discussion: What if I want to find the name of countries with above-average populations ? Try writing a SQL query for that.
<img src="img/discuss.png" width="120">
```

```{toggle}
Did you got this ?

    SELECT name
    FROM country
    WHERE population > AVG(population);
```

```{admonition} Discussion: Why you think we can't do this ?
<img src="img/discuss.png" width="120">

```sql
SELECT name
FROM country
WHERE population > AVG(population);
```

```{toggle}
An aggregation function CANNOT be used in the `WHERE` clause.
```

```{margin}
<img src="img/5.png" width="600">
```

```{seealso}
We will learn how to do this in lecture 5 when we learn about subqueries. We will revisit this question then and do this using subqueries.
```

```{important}
Group by will also create a group for NULLS. Look at the example below:
```

In [9]:
%%sql

SELECT headofstate, count(*) AS count
FROM country
GROUP BY headofstate 
ORDER BY headofstate DESC
LIMIT 5;

 * postgresql://postgres:***@localhost:5432/world
5 rows affected.

[(None, 1),
 ('Ólafur Ragnar Grímsson', 1),
 ('Émile Lahoud', 1),
 ('\x8atipe Mesic', 1),
 ('kenraali Than Shwe', 1)]

## HAVING

What if I want to find the average population for each continent but ***only for continents with an average population greater than 100 million***? 

```{admonition} Discussion: How do you think this question differs from the one we started with GROUP BY "Finding the ***average population for each continent***? "?

<img src="img/discuss.png" width="120">
```

```{toggle}
***Only for continents with an average population greater than 100 million.*** statement makes me think I want to do some filtering on the groups now. We use WHERE if we want to filter each row, but we use the HAVING clause if we want to do some filtering on a group that we made using the GROUP BY clause.
```

Refer to the HAVING execution animation below: 

<img src="img/having.png" width="600">

In [10]:
%%sql
select continent, avg(population) as avg_pop
from country
group by continent
having avg(population) > 10000000
order by avg_pop desc;

 * postgresql://postgres:***@localhost:5432/world
5 rows affected.

[('Asia', Decimal('72647562.745098039216')),
 ('South America', Decimal('24698571.428571428571')),
 ('Europe', Decimal('15871186.956521739130')),
 ('Africa', Decimal('13525431.034482758621')),
 ('North America', Decimal('13053864.864864864865'))]

SQL query: Write a query to return the average and maximum population of cities in the city table for China, India, Canada, US, Australia, and Russia, ***where the countries that have at least 60 cities listed in the city table.***

Show the results for each country using the corresponding country code, and order groups alphabetically in ascending order.

In [11]:
%%sql
SELECT
    countrycode,
    AVG(population)::int,
    MAX(population)::int,
    COUNT(population) AS city_count
FROM
    city
WHERE
    countrycode IN ('CHN', 'IND', 'CAN', 'USA', 'AUS', 'RUS')
GROUP BY
    countrycode
HAVING
    COUNT(*) > 60
ORDER BY
    city_count DESC
;

 * postgresql://postgres:***@localhost:5432/world
4 rows affected.

[('CHN', 484721, 9696300, 363),
 ('IND', 361579, 10500000, 341),
 ('USA', 286955, 8008278, 274),
 ('RUS', 365877, 8389200, 189)]

Look at the graphics below to understand the use of count(*) and how it works:

<img src="img/havingcount.png" width="600">

```{admonition} Discussion: When should we use WHERE vs HAVING clause ?
<img src="img/discuss.png" width="120">

```

```{toggle}
- WHERE clause is used to filter rows before grouping.
- HAVING clause is used to filter groups after grouping.
```

## Rules for using GROUP BY and HAVING

```sql
SELECT        [DISTINCT]  `target-list`
FROM         `relation-list`
WHERE        `qualification`
GROUP BY  `grouping-list`
HAVING      `group-qualification`
ORDER BY  `target-list`
```

```{margin}
<img src="img/rules.png" width="600">
```

```{admonition} RULES to keep in mind:
- The `target-list` contains 
    - "attribute names"
    - terms with aggregate operations (e.g., MIN (S.age)).
- Attributes in "attribute names" must also be in `grouping-list`.
    - each answer tuple corresponds to a group, 
    - group = a set of tuples with same value for all attributes in grouping-list
    - selected attributes must have a single value per group.
- Attributes in `group-qualification` are either in `grouping-list`  or are arguments to an aggregate operator.
```

Recap:

    `FROM` and `JOIN`
          |
        `WHERE`
          |
      `GROUP BY`
          |
        `HAVING`
          |
        `SELECT`
          |
      `DISTINCT`
          |
      `ORDER BY`
          |
        `LIMIT`

```{admonition} iclicker: Does the following query works ?

    select continent, code, avg(population) as avg_pop
    from country
    group by continent
    having avg(population) > 100000000
    order by avg_pop desc;

A. Yes

B. No
```

```{toggle}
No, because code is not in the grouping list.
```

## Multilevel grouping

Yes so we can do grouping on multiple columns. Lets look at an example:

In [12]:
%%sql

SELECT continent, region, AVG(population)::INT
FROM country
GROUP BY continent, region
ORDER BY continent, region;

 * postgresql://postgres:***@localhost:5432/world
25 rows affected.

[('Africa', 'Central Africa', 10628000),
 ('Africa', 'Eastern Africa', 12349950),
 ('Africa', 'Northern Africa', 24752286),
 ('Africa', 'Southern Africa', 9377200),
 ('Africa', 'Western Africa', 13039529),
 ('Antarctica', 'Antarctica', 0),
 ('Asia', 'Eastern Asia', 188416000),
 ('Asia', 'Middle East', 10465594),
 ('Asia', 'Southeast Asia', 47140091),
 ('Asia', 'Southern and Central Asia', 106484000),
 ('Europe', 'Baltic Countries', 2520633),
 ('Europe', 'British Islands', 31699250),
 ('Europe', 'Eastern Europe', 30702600),
 ('Europe', 'Nordic Countries', 3452343),
 ('Europe', 'Southern Europe', 9644947),
 ('Europe', 'Western Europe', 20360844),
 ('North America', 'Caribbean', 1589167),
 ('North America', 'Central America', 16902625),
 ('North America', 'North America', 61926400),
 ('Oceania', 'Australia and New Zealand', 4550620),
 ('Oceania', 'Melanesia', 1294400),
 ('Oceania', 'Micronesia', 77571),
 ('Oceania', 'Micronesia/Caribbean', 0),
 ('Oceania', 'Polynesia', 63305),
 ('South America', 'South America', 24698571)]

## Joins

```{margin}
<img src="img/join.png" width="600">
```
```
SELECT
    columns
FROM
    left_table
join_type
    right_table
ON
    join_condition
WHERE
    row_filter
GROUP BY
    columns
HAVING
    group_filter
ORDER BY
    columns
;
```

```{admonition} Discussion: Why we got multiple tables instead of having just one ?
<img src="img/discuss.png" width="120">
```

```{toggle}
Please refer to lecture 1, and the anomalies that we discussed.
```

In [13]:
%sql CREATE DATABASE mds;

 * postgresql://postgres:***@localhost:5432/world
(psycopg2.errors.DuplicateDatabase) database "mds" already exists

[SQL: CREATE DATABASE mds;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [14]:
%sql postgresql://{username}:{password}@{host}:{port}/mds

In [15]:
%%sql

DROP TABLE IF EXISTS
    instructor,
    instructor_course,
    course_cohort
;

CREATE TABLE instructor (
    id INTEGER PRIMARY KEY,
    name TEXT,
    email TEXT,
    phone VARCHAR(12),
    department VARCHAR(50)
    )
;

INSERT INTO
    instructor (id, name, email, phone, department)
VALUES
    (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science'),
    (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience'),
    (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics'),
    (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science'),
    (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics'),
    (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering'),
    (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology'),
    (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics'),
    (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics'),
    (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering'),
    (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science')
;

    
CREATE TABLE instructor_course (
    id SERIAL PRIMARY KEY,
    instructor_id INTEGER,
    course TEXT,
    enrollment INTEGER,
    begins DATE
    )
;

INSERT INTO
    instructor_course (instructor_id, course, enrollment, begins)
VALUES
    (8, 'Statistical Inference and Computation I', 125, '2021-10-01'),
    (8, 'Regression II', 102, '2022-02-05'),
    (1, 'Descriptive Statistics and Probability', 79, '2021-09-10'),
    (1, 'Algorithms and Data Structures', 25, '2021-10-01'),
    (3, 'Algorithms and Data Structures', 25, '2021-10-01'),
    (3, 'Python Programming', 133, '2021-09-07'),
    (3, 'Databases & Data Retrieval', 118, '2021-11-16'),
    (6, 'Visualization I', 155, '2021-10-01'),
    (6, 'Privacy, Ethics & Security', 148, '2022-03-01'),
    (2, 'Programming for Data Manipulation', 160, '2021-09-08'),
    (7, 'Data Science Workflows', 98, '2021-09-15'),
    (2, 'Data Science Workflows', 98, '2021-09-15'),
    (12, 'Web & Cloud Computing', 78, '2022-02-10'),
    (10, 'Introduction to Optimization', NULL, '2022-09-01'),
    (9, 'Parallel Computing', NULL, '2023-01-10'),
    (13, 'Natural Language Processing', NULL, '2023-09-10')
;

CREATE TABLE course_cohort (
    id INTEGER,
    cohort VARCHAR(7)
    )
;

INSERT INTO
    course_cohort (id, cohort)
VALUES
    (13, 'MDS-CL'),
    (8, 'MDS-CL'),
    (1, 'MDS-CL'),
    (3, 'MDS-CL'),
    (1, 'MDS-V'),
    (9, 'MDS-V'),
    (3, 'MDS-V')
;

 * postgresql://postgres:***@localhost:5432/mds
   postgresql://postgres:***@localhost:5432/world
Done.
Done.
11 rows affected.
Done.
16 rows affected.
Done.
7 rows affected.

[]

We have created dummy tables in the lecture notes to explain the joins. Let's look at the example below:

Here, I am going to take some rows out of the dummy rows (sounds crazy) that we created in lecture notes so that I can take you through the process. (You have already seen this in 523, I am just refreshing your memory)

## Cross join 

```sql
SELECT *
FROM
    instructor
CROSS JOIN
    instructor_course
;
```

Here is the animation of how it looks like:

<img src="img/crossjoin.png" width="600">

```{admonition} Discussion: Following query gives an error, can you think of reason ?
    SELECT
        name, id, course
    FROM
        instructor
    CROSS JOIN
        instructor_course
    LIMIT 10 ;

<img src="img/selectambig.png" width="500">
```

```{toggle}
<img src="img/ambiguos1.png" width="600">
```

Well, so the following query works, as we dealt with the ambiguous column name issue.

In [16]:
%%sql
SELECT
    name, i.id, course
FROM
    instructor AS i
CROSS JOIN
    instructor_course AS ic
LIMIT 10 ;

 * postgresql://postgres:***@localhost:5432/mds
   postgresql://postgres:***@localhost:5432/world
10 rows affected.

[('Mike', 1, 'Statistical Inference and Computation I'),
 ('Tiffany', 2, 'Statistical Inference and Computation I'),
 ('Arman', 3, 'Statistical Inference and Computation I'),
 ('Varada', 4, 'Statistical Inference and Computation I'),
 ('Quan', 5, 'Statistical Inference and Computation I'),
 ('Joel', 6, 'Statistical Inference and Computation I'),
 ('Florencia', 7, 'Statistical Inference and Computation I'),
 ('Alexi', 8, 'Statistical Inference and Computation I'),
 ('Vincenzo', 15, 'Statistical Inference and Computation I'),
 ('Gittu', 19, 'Statistical Inference and Computation I')]

```{important}
Once you create an alias for a table, you should only use the alias to refer to that table in the statement. For example, the following query would throw an error.
```

In [17]:
%%sql
SELECT
    name, instructor.id, course
FROM
    instructor AS i
CROSS JOIN
    instructor_course AS ic
LIMIT 10 ;

 * postgresql://postgres:***@localhost:5432/mds
   postgresql://postgres:***@localhost:5432/world
(psycopg2.errors.UndefinedTable) invalid reference to FROM-clause entry for table "instructor"
LINE 2:     name, instructor.id, course
                  ^
HINT:  Perhaps you meant to reference the table alias "i".

[SQL: SELECT
    name, instructor.id, course
FROM
    instructor AS i
CROSS JOIN
    instructor_course AS ic
LIMIT 10 ;]
(Background on this error at: https://sqlalche.me/e/14/f405)

Let's get to other joins now.

- Inner join (mostly used)
- Left join
- Right join
- Full outer join

## Inner join

In [18]:
%%sql

SELECT
    name, i.id, ic.instructor_id, course
FROM
    instructor AS i
INNER JOIN -- INNER is optional
    instructor_course AS ic
ON
    i.id = ic.instructor_id
;

 * postgresql://postgres:***@localhost:5432/mds
   postgresql://postgres:***@localhost:5432/world
12 rows affected.

[('Alexi', 8, 8, 'Statistical Inference and Computation I'),
 ('Alexi', 8, 8, 'Regression II'),
 ('Mike', 1, 1, 'Descriptive Statistics and Probability'),
 ('Mike', 1, 1, 'Algorithms and Data Structures'),
 ('Arman', 3, 3, 'Algorithms and Data Structures'),
 ('Arman', 3, 3, 'Python Programming'),
 ('Arman', 3, 3, 'Databases & Data Retrieval'),
 ('Joel', 6, 6, 'Visualization I'),
 ('Joel', 6, 6, 'Privacy, Ethics & Security'),
 ('Tiffany', 2, 2, 'Programming for Data Manipulation'),
 ('Florencia', 7, 7, 'Data Science Workflows'),
 ('Tiffany', 2, 2, 'Data Science Workflows')]

Here is the animation of how it looks like:

<img src="img/innerjoin.png" width="600">

## Left join

In [19]:
%%sql

SELECT
    * -- selecting * to show you, but the question is asking just to return the name, so you should do so
FROM
    instructor AS i
LEFT JOIN
    instructor_course AS ic
ON
    i.id = ic.instructor_id
;

 * postgresql://postgres:***@localhost:5432/mds
   postgresql://postgres:***@localhost:5432/world
17 rows affected.

[(8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 1, 8, 'Statistical Inference and Computation I', 125, datetime.date(2021, 10, 1)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 2, 8, 'Regression II', 102, datetime.date(2022, 2, 5)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 3, 1, 'Descriptive Statistics and Probability', 79, datetime.date(2021, 9, 10)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 4, 1, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 5, 3, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 6, 3, 'Python Programming', 133, datetime.date(2021, 9, 7)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 7, 3, 'Databases & Data Retrieval', 118, datetime.date(2021, 11, 16)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 8, 6, 'Visualization I', 155, datetime.date(2021, 10, 1)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 9, 6, 'Privacy, Ethics & Security', 148, datetime.date(2022, 3, 1)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 10, 2, 'Programming for Data Manipulation', 160, datetime.date(2021, 9, 8)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 11, 7, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 12, 2, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', None, None, None, None, None),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', None, None, None, None, None),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', None, None, None, None, None),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', None, None, None, None, None),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', None, None, None, None, None)]

How can this be helpful? As an example, we can return the names of instructors who don’t teach any courses with the following query:

In [20]:
%%sql

SELECT
    name 
FROM
    instructor AS i
LEFT JOIN
    instructor_course AS ic
ON
    i.id = ic.instructor_id
WHERE
    ic.course IS NULL
;

 * postgresql://postgres:***@localhost:5432/mds
   postgresql://postgres:***@localhost:5432/world
5 rows affected.

[('Vincenzo',), ('Quan',), ('Gittu',), ('Jessica',), ('Varada',)]

## Right join

## Full outer join

In [21]:
%%sql

SELECT
    *
FROM
    instructor AS i
FULL OUTER JOIN
    instructor_course AS ic
ON
    i.id = ic.instructor_id
;

 * postgresql://postgres:***@localhost:5432/mds
   postgresql://postgres:***@localhost:5432/world
21 rows affected.

[(8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 1, 8, 'Statistical Inference and Computation I', 125, datetime.date(2021, 10, 1)),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 2, 8, 'Regression II', 102, datetime.date(2022, 2, 5)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 3, 1, 'Descriptive Statistics and Probability', 79, datetime.date(2021, 9, 10)),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 4, 1, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 5, 3, 'Algorithms and Data Structures', 25, datetime.date(2021, 10, 1)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 6, 3, 'Python Programming', 133, datetime.date(2021, 9, 7)),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 7, 3, 'Databases & Data Retrieval', 118, datetime.date(2021, 11, 16)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 8, 6, 'Visualization I', 155, datetime.date(2021, 10, 1)),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 9, 6, 'Privacy, Ethics & Security', 148, datetime.date(2022, 3, 1)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 10, 2, 'Programming for Data Manipulation', 160, datetime.date(2021, 9, 8)),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 11, 7, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 12, 2, 'Data Science Workflows', 98, datetime.date(2021, 9, 15)),
 (None, None, None, None, None, 13, 12, 'Web & Cloud Computing', 78, datetime.date(2022, 2, 10)),
 (None, None, None, None, None, 14, 10, 'Introduction to Optimization', None, datetime.date(2022, 9, 1)),
 (None, None, None, None, None, 15, 9, 'Parallel Computing', None, datetime.date(2023, 1, 10)),
 (None, None, None, None, None, 16, 13, 'Natural Language Processing', None, datetime.date(2023, 9, 10)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', None, None, None, None, None),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', None, None, None, None, None),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', None, None, None, None, None),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', None, None, None, None, None),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', None, None, None, None, None)]

How can this be helpful? We can now write a query to find instructors who are free to teach a course, and courses that need an instructor:

In [22]:
%%sql

SELECT
    *
FROM
    instructor AS i
FULL OUTER JOIN
    instructor_course AS ic
ON
    i.id = ic.instructor_id
WHERE
    i.name IS NULL
    OR
    ic.course IS NULL
;

 * postgresql://postgres:***@localhost:5432/mds
   postgresql://postgres:***@localhost:5432/world
9 rows affected.

[(None, None, None, None, None, 13, 12, 'Web & Cloud Computing', 78, datetime.date(2022, 2, 10)),
 (None, None, None, None, None, 14, 10, 'Introduction to Optimization', None, datetime.date(2022, 9, 1)),
 (None, None, None, None, None, 15, 9, 'Parallel Computing', None, datetime.date(2023, 1, 10)),
 (None, None, None, None, None, 16, 13, 'Natural Language Processing', None, datetime.date(2023, 9, 10)),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', None, None, None, None, None),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', None, None, None, None, None),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', None, None, None, None, None),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', None, None, None, None, None),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', None, None, None, None, None)]

```{admonition} Homework discussion question: What’s the difference between a cross join and a full outer join?
<img src="img/discuss.png" width="120">
```

## Natural join

```{admonition} Discussion question: How natural join is going to be for following 2 tables?
<img src="img/2tables.png" width="600">
```

```{toggle}
NATURAL JOIN is going to be on the basis of common column names. So in this case it will be on the basis of `id` column.

    SELECT *
    FROM
        instructor_course ic
    NATURAL JOIN
        instructor i
    ;

same as:
    
    SELECT *
    FROM
        instructor_course ic
    INNER JOIN
        instructor i
    ON
        ic.id = i.id
    ;

```

### Showcase (with common column)

In [23]:
%%sql
select * from instructor LIMIT 2;

 * postgresql://postgres:***@localhost:5432/mds
   postgresql://postgres:***@localhost:5432/world
2 rows affected.

[(1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science'),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience')]

In [24]:
%%sql
select * from course_cohort LIMIT 2;

 * postgresql://postgres:***@localhost:5432/mds
   postgresql://postgres:***@localhost:5432/world
2 rows affected.

[(13, 'MDS-CL'), (8, 'MDS-CL')]

In [25]:
%%sql

SELECT
    *
FROM
    instructor AS i
NATURAL JOIN
    course_cohort AS cc

 * postgresql://postgres:***@localhost:5432/mds
   postgresql://postgres:***@localhost:5432/world
5 rows affected.

[(8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 'MDS-CL'),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 'MDS-CL'),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 'MDS-CL'),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 'MDS-V'),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 'MDS-V')]

### Dummy tables to test out NATURAL JOIN (no common column)

Going to recreate course_cohort table to have no common column names with the instructor_course table. It is going to return the cartesian product (or the cross join), nothing meaningful.

In [26]:
%%sql
drop table if EXISTS course_cohort;

 * postgresql://postgres:***@localhost:5432/mds
   postgresql://postgres:***@localhost:5432/world
Done.

[]

In [27]:
%%sql
CREATE TABLE course_cohort (
    cohort_id INTEGER,
    cohort VARCHAR(7)
    )
;

 * postgresql://postgres:***@localhost:5432/mds
   postgresql://postgres:***@localhost:5432/world
Done.

[]

In [28]:
%%sql
INSERT INTO
    course_cohort (cohort_id, cohort)
VALUES
    (13, 'MDS-CL'),
    (8, 'MDS-CL'),
    (1, 'MDS-CL'),
    (3, 'MDS-CL'),
    (1, 'MDS-V'),
    (9, 'MDS-V'),
    (3, 'MDS-V')
;

 * postgresql://postgres:***@localhost:5432/mds
   postgresql://postgres:***@localhost:5432/world
7 rows affected.

[]

In [29]:
%%sql
select * from course_cohort LIMIT 2;

 * postgresql://postgres:***@localhost:5432/mds
   postgresql://postgres:***@localhost:5432/world
2 rows affected.

[(13, 'MDS-CL'), (8, 'MDS-CL')]

In [30]:
%%sql

SELECT
    *
FROM
    instructor AS i
    NATURAL JOIN
    course_cohort AS cc
;

 * postgresql://postgres:***@localhost:5432/mds
   postgresql://postgres:***@localhost:5432/world
77 rows affected.

[(1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 13, 'MDS-CL'),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 13, 'MDS-CL'),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 13, 'MDS-CL'),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 13, 'MDS-CL'),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 13, 'MDS-CL'),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 13, 'MDS-CL'),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 13, 'MDS-CL'),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 13, 'MDS-CL'),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 13, 'MDS-CL'),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 13, 'MDS-CL'),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 13, 'MDS-CL'),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 8, 'MDS-CL'),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 8, 'MDS-CL'),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 8, 'MDS-CL'),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 8, 'MDS-CL'),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 8, 'MDS-CL'),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 8, 'MDS-CL'),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 8, 'MDS-CL'),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 8, 'MDS-CL'),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 8, 'MDS-CL'),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 8, 'MDS-CL'),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 8, 'MDS-CL'),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 1, 'MDS-CL'),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 1, 'MDS-CL'),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 1, 'MDS-CL'),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 1, 'MDS-CL'),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 1, 'MDS-CL'),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 1, 'MDS-CL'),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 1, 'MDS-CL'),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 1, 'MDS-CL'),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 1, 'MDS-CL'),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 1, 'MDS-CL'),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 1, 'MDS-CL'),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 3, 'MDS-CL'),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 3, 'MDS-CL'),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 3, 'MDS-CL'),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 3, 'MDS-CL'),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 3, 'MDS-CL'),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 3, 'MDS-CL'),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 3, 'MDS-CL'),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 3, 'MDS-CL'),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 3, 'MDS-CL'),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 3, 'MDS-CL'),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 3, 'MDS-CL'),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 1, 'MDS-V'),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 1, 'MDS-V'),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 1, 'MDS-V'),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 1, 'MDS-V'),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 1, 'MDS-V'),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 1, 'MDS-V'),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 1, 'MDS-V'),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 1, 'MDS-V'),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 1, 'MDS-V'),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 1, 'MDS-V'),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 1, 'MDS-V'),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 9, 'MDS-V'),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 9, 'MDS-V'),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 9, 'MDS-V'),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 9, 'MDS-V'),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 9, 'MDS-V'),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 9, 'MDS-V'),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 9, 'MDS-V'),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 9, 'MDS-V'),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 9, 'MDS-V'),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 9, 'MDS-V'),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 9, 'MDS-V'),
 (1, 'Mike', 'mike@mds.ubc.ca', '605-332-2343', 'Computer Science', 3, 'MDS-V'),
 (2, 'Tiffany', 'tiff@mds.ubc.ca', '445-794-2233', 'Neuroscience', 3, 'MDS-V'),
 (3, 'Arman', 'arman@mds.ubc.ca', '935-738-5796', 'Physics', 3, 'MDS-V'),
 (4, 'Varada', 'varada@mds.ubc.ca', '243-924-4446', 'Computer Science', 3, 'MDS-V'),
 (5, 'Quan', 'quan@mds.ubc.ca', '644-818-0254', 'Economics', 3, 'MDS-V'),
 (6, 'Joel', 'joel@mds.ubc.ca', '773-432-7669', 'Biomedical Engineering', 3, 'MDS-V'),
 (7, 'Florencia', 'flor@mds.ubc.ca', '773-926-2837', 'Biology', 3, 'MDS-V'),
 (8, 'Alexi', 'alexiu@mds.ubc.ca', '421-888-4550', 'Statistics', 3, 'MDS-V'),
 (15, 'Vincenzo', 'vincenzo@mds.ubc.ca', '776-543-1212', 'Statistics', 3, 'MDS-V'),
 (19, 'Gittu', 'gittu@mds.ubc.ca', '776-334-1132', 'Biomedical Engineering', 3, 'MDS-V'),
 (16, 'Jessica', 'jessica@mds.ubc.ca', '211-990-1762', 'Computer Science', 3, 'MDS-V')]

```{note}
With no common column names, NATURAL JOIN resulted in a cartisean product (cross join), but nothing meaningful here. Big caution not to use it (or extremely be careful). 
```

## How to reason through a logic question
- Ask what tables you want to use to get the answer to the question and joins (also kind of join) you want to perform.
- Decide on the columns you want to select.
- Decide on the grouping you want to perform.
- Decide on the filtering you want to perform. (WHERE vs. HAVING) (WHERE is for filtering rows, and HAVING is for filtering groups.)
- Order the results if needed.
- limit the results if needed.

### How to test your logic
Populate the relation with some dummy tuples, and work through the problem to see if your logic works. 
Finally, the answer. :-) 

## Wrap up

<img src="img/wrapup.gif" width="300">

## Moral of story
- do you understand the use of the GROUP BY clause?
- do you understand the use of the HAVING clause?
- do you understand the use of the WHERE vs. HAVING clause?
- what are the rules to keep in mind when using GROUP BY, HAVING, and SELECT clauses?
- do you understand the use of different joins?
- why do you need to be careful with natural join?
- why do we need to use an alias?
- do you know how to use an alias?
- do you know how to perform a join?
- do you know how to reason through the logic ?